.nodered/lib/flows/20FAQDispatch.json
[{"id":"173cb782.2daa38","type":"subflow","name":"SendChatBotComplete (10)","info":"","in":[{"x":97,"y":130,"wires":[{"id":"4df2b2c9.b9b1ec"}]}],"out":[]},{"id":"4df2b2c9.b9b1ec","type":"function","z":"173cb782.2daa38","name":"SendChatBotComplete","func":"const Settings = context.global.get('aai-common').Settings;\n\nconst msg2 = {};\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_CHATBOT_COMPLETEURL;\nmsg2.payload = msg.payload;\nreturn msg2;","outputs":1,"noerr":0,"x":291.51575469970703,"y":128.75,"wires":[["adf81830.2b6d38"]]},{"id":"adf81830.2b6d38","type":"http request","z":"173cb782.2daa38","name":"SendChatBotEvent","method":"use","ret":"txt","url":"","tls":"","x":566.5088195800781,"y":128.57293701171875,"wires":[[]]},{"id":"15cd434a.0b1f8d","type":"comment","z":"173cb782.2daa38","name":"SendChatBotComplete","info":"","x":138,"y":59.70831298828125,"wires":[]},{"id":"5dbccf9.8065d3","type":"subflow","name":"SendChatBotEvent","info":"","in":[{"x":93,"y":137,"wires":[{"id":"93aabbad.47ff18"}]}],"out":[{"x":775,"y":135,"wires":[{"id":"91c4afe3.10023","port":0}]}]},{"id":"93aabbad.47ff18","type":"function","z":"5dbccf9.8065d3","name":"SendChatBotEvent","func":"const Settings = context.global.get('aai-common').Settings;\n\nconst msg2 = {};\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_CHATBOT_NOTIFYURL;\nmsg2.payload = msg.payload;\nreturn msg2;","outputs":1,"noerr":0,"x":289.5079116821289,"y":136.45921325683594,"wires":[["91c4afe3.10023"]]},{"id":"91c4afe3.10023","type":"http request","z":"5dbccf9.8065d3","name":"SendChatBotEvent","method":"use","ret":"txt","url":"","tls":"","x":574.5009765625,"y":136.2821502685547,"wires":[[]]},{"id":"36c3e77e.dff148","type":"comment","z":"5dbccf9.8065d3","name":"SendChatBotEvent","info":"","x":135.99215698242188,"y":67.41752624511719,"wires":[]},{"id":"173d1159.3cafdf","type":"function","z":"1a1f265d.889e8a","name":"MessageStorage(Create Questions)","func":"const Settings = context.global.get('aai-common').Settings;\n\nconst msg2 = {};\n\nvar dt = new Date();\n//var datestring = d.getFullYear()  + \"-\" + (\"0\"+(d.getMonth())).slice(-2) + \"-\" + (\"0\" + d.getDate()).slice(-2);\n//datestring += \"T\" + (\"0\" + d.getHours()).slice(-2) + \":\" + (\"0\" + d.getMinutes()).slice(-2) + \":\" + (\"0\" + d.getSeconds()).slice(-2) + \"Z\"; \n\n// make Body\nconst body =  {\n    \"type\": \"questions\",\n    \"text\": flow.get('eventId'),\n    \"from\": {\n      \"id\": flow.get('mail.username'),\n      \"name\": flow.get('mail.useremail')\n    },\n    \"timestamp\": dt,\n    \"address\": {\n      \"type\": flow.get('eventId.type'),\n      \"conversation\" :{\n        \"id\": flow.get('eventId.conversation')\n      }\n    }\n}\n\nmsg2.payload = body;\n\n// Http Request\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_MESSAGESTORAGE_QUESTIONSURL;\n\nreturn msg2;","outputs":1,"noerr":0,"x":330.7555389404297,"y":1269.8889770507812,"wires":[["7179e8e5.3b5a08","7d625265.62485c"]]},{"id":"7179e8e5.3b5a08","type":"http request","z":"1a1f265d.889e8a","name":"[POST]/questions","method":"POST","ret":"txt","url":"","tls":"","x":599.7556610107422,"y":1269.8889694213867,"wires":[[]]},{"id":"d877e500.9b44a8","type":"comment","z":"1a1f265d.889e8a","name":"Common service","info":"","x":85,"y":1224.8889694213867,"wires":[]},{"id":"7d625265.62485c","type":"debug","z":"1a1f265d.889e8a","name":"","active":true,"console":"false","complete":"false","x":566.8957366943359,"y":1228.8792037963867,"wires":[]},{"id":"a4714bf8.a58d98","type":"link in","z":"1a1f265d.889e8a","name":"faqDispatchMessageStorage","links":["12d89f6e.8a3ca1","3c74310c.b5066e","9b4e88e9.3500f8","8d685d3b.5b72c","9a9f501a.606ba"],"x":131.28123474121094,"y":1269.9486618041992,"wires":[["173d1159.3cafdf"]]},{"id":"4dfde412.c73f3c","type":"comment","z":"1a1f265d.889e8a","name":"(20) /FAQ RecieveRequestAgain","info":"","x":135,"y":141.43429565429688,"wires":[]},{"id":"76f45e1f.4e311","type":"http in","z":"1a1f265d.889e8a","name":"","url":"/faqAutoResponse/receiveRequestAgain","method":"post","swaggerDoc":"","x":240.65167236328125,"y":190.94882202148438,"wires":[["c21feeef.abc2e","5ad57fe7.872dd","3eaed271.a7babe"]]},{"id":"c21feeef.abc2e","type":"http response","z":"1a1f265d.889e8a","name":"","x":558.2973327636719,"y":190.2831802368164,"wires":[]},{"id":"5ad57fe7.872dd","type":"debug","z":"1a1f265d.889e8a","name":"","active":true,"console":"false","complete":"true","x":537.7194519042969,"y":124.27440643310547,"wires":[]},{"id":"b39498af.12d218","type":"comment","z":"1a1f265d.889e8a","name":"Common service","info":"","x":678.5859680175781,"y":1057.1845016479492,"wires":[]},{"id":"de3528fe.79fa98","type":"template","z":"1a1f265d.889e8a","name":"tmplOfFaqAutoReplyAnswer","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"窓口担当さま:\n\nアシスタントAIサービス、モモチです。 \n\n以下の問い合わせがありましたので、質問者に直接回答をお願いします。 また、「{URL}で回答して」と返信いただければ、こちらからFAQを回答します。\n\n\n<質問者>\n{{payload.requestUserName}}{{payload.requestUserMail}}\n\n<質問内容>\n{{payload.question}}\n\n<ＡＩ回答>\n{{payload.responseFAQText}}","x":445.5858612060547,"y":952.1844482421875,"wires":[["b243dbf.9f3ce28","73c5ae83.966b8"]]},{"id":"b243dbf.9f3ce28","type":"debug","z":"1a1f265d.889e8a","name":"","active":true,"console":"false","complete":"false","x":534.5859527587891,"y":901.184455871582,"wires":[]},{"id":"73c5ae83.966b8","type":"link out","z":"1a1f265d.889e8a","name":"dispachQuestion","links":["8b2c1166.c5e19","a72bedbb.1e981"],"x":633.5859832763672,"y":952.1844482421875,"wires":[]},{"id":"5310d1ef.08c8b","type":"function","z":"1a1f265d.889e8a","name":"faqRecieveRequestAgainSendDispatch","func":"flow.set('mail.text', msg.payload.replace(/&#x2F;/g , \"/\" ).replace(/&#x3D;/g , \"=\" ).replace(/&lt;/g , \"<\" ).replace(/&gt;/g , \">\" ).replace(/&amp;/g , \"&\" ));\nflow.set('eventId.FaqRequestAgainMessage', flow.get('mail.text'));\n\nvar msg2 = {};\nmsg2.payload = {\n    eventId: flow.get('Event.eventId'),\n    response: []\n};\n\n// mail\nvar responseDetail = {\n    operation: \"mail\",\n    mail:{}\n};\n    \n//responseDetail.mail.from = flow.get('mail.from');\nresponseDetail.mail.to = flow.get('mail.to');\nresponseDetail.mail.text = flow.get('mail.text').replace(/\\n/g , \"<br>\" );\n\nif(flow.get('eventId.type') === \"mail\"){\n    responseDetail.mail.subject = flow.get('mail.subject');\n}\nelse{\n    responseDetail.mail.subject = \"問い合わせ回答依頼\";\n}\nmsg2.payload.response[0] = responseDetail;\n\nflow.set('eventId.FaqRequestAgainDispatch', msg2.payload);\n\nreturn msg2;","outputs":1,"noerr":0,"x":296.89573669433594,"y":1059.6566696166992,"wires":[["f399c872.04ca78","ebc7f0dc.80302"]]},{"id":"8b2c1166.c5e19","type":"link in","z":"1a1f265d.889e8a","name":"faqDispatchAgainSendMail","links":["73c5ae83.966b8"],"x":70.40602111816406,"y":1059.2054977416992,"wires":[["5310d1ef.08c8b"]]},{"id":"f399c872.04ca78","type":"debug","z":"1a1f265d.889e8a","name":"","active":true,"console":"false","complete":"false","x":485.8957214355469,"y":1013.6566696166992,"wires":[]},{"id":"8811ac6.9a0db5","type":"link in","z":"1a1f265d.889e8a","name":"faqDispatchSendChatBotEvent","links":["ebc7f0dc.80302","12d89f6e.8a3ca1","3c74310c.b5066e","9b4e88e9.3500f8","8d685d3b.5b72c","9a9f501a.606ba"],"x":65.89582824707031,"y":1337.6563110351562,"wires":[["a3b36ed0.715c7","352b50c0.43449"]]},{"id":"a3b36ed0.715c7","type":"debug","z":"1a1f265d.889e8a","name":"","active":true,"console":"false","complete":"false","x":200.8957977294922,"y":1380.6563110351562,"wires":[]},{"id":"ebc7f0dc.80302","type":"link out","z":"1a1f265d.889e8a","name":"faqRecieveRequestAgainSendDispatch","links":["8811ac6.9a0db5"],"x":562.8957824707031,"y":1059.4343795776367,"wires":[]},{"id":"3eaed271.a7babe","type":"function","z":"1a1f265d.889e8a","name":"MessageStorage(Select)","func":"const Settings = context.global.get('aai-common').Settings;\n\n// Parameter Initializing =======================\nflow.set('Event', {});\nflow.set('mail', {});\nflow.set('answerFaqAutoResponse', {});\nflow.set('eventId', {});\nflow.set('state.judgeReply', \"\");\nflow.set('NextFlowParam', {});\n\n// Parameter Setting =======================\nflow.set('Event.eventId', msg.payload.eventId);\nflow.set('eventId', msg.payload);\nflow.set('eventId.tracker', context.flow.get('cons.TRACK_QUESTION'));\nflow.set('eventId.type', msg.payload.type);\nflow.set('eventId.conversation', msg.payload.conversation);\nif(msg.payload.mailData !== undefined){\n    flow.set('eventId.messageId',msg.payload.mailData.messageId);\n    flow.set('eventId.inReplyTo',msg.payload.mailData.inReplyTo);\n}\nelse{\n    flow.set('eventId.messageId',\"\");\n    flow.set('eventId.inReplyTo',\"\");\n}\nflow.set('mail.from', context.global.get('cons.FROM_MAIL_ADDRESS'));\nflow.set('mail.subject', msg.payload.subject);\nflow.set('mail.username', msg.payload.user.name);\nif(msg.payload.user.emailAddresses === undefined || msg.payload.user.emailAddresses === \"\"){\n    if(msg.payload.type === \"mail\"){\n        flow.set('mail.useremail', msg.payload.user.uri);\n    }\n    else{\n        // \"sip:\" cut\n        flow.set('mail.useremail', msg.payload.user.uri.substring(4));\n    }\n}\nelse{\n    flow.set('mail.useremail',msg.payload.user.emailAddresses);\n}\nflow.set('mail.question',msg.payload.text);\n\n// incidents Parameter Setting ==============\nconst msg2 = {};\n\n//var dt = new Date();\n//dt.setTime(dt.getTime() - (30 * 86400000));\n\nvar body = {};\n// make Body\nif(flow.get('eventId.inReplyTo') !== null && flow.get('eventId.inReplyTo') !== \"\"){\n    body =  {\n    //    \"$or\": [\n    //        { \"message.incidentStatus\": {\"$ne\": \"FAQSecondaryOrderRequested\"} }\n    //    ],\n        \"message.requestUser.mailAddress\": flow.get('mail.useremail'),\n        \"message.requestUser.messageid\": flow.get('eventId.inReplyTo'),\n    //    \"message.createDate\": { \"$gte\": dt },\n    \t\"sort$\":{\"message.createDate\":\"-1\"}       // responseDate Desc Sort\n    };\n}\nelse{\n    body =  {\n        \"message.requestUser.mailAddress\": flow.get('mail.useremail'),\n    \t\"sort$\":{\"message.createDate\":\"-1\"}       // responseDate Desc Sort\n    };\n}\n\nmsg2.payload = body;\n\n// Http Request\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_MESSAGESTORAGE_INCIDENTSSELECTURL;\n\nreturn msg2;","outputs":1,"noerr":0,"x":247.8957977294922,"y":248.98959350585938,"wires":[["1aeea177.481edf","df8cc2cf.12cc2"]]},{"id":"1aeea177.481edf","type":"http request","z":"1a1f265d.889e8a","name":"[POST]/incidentsSelect","method":"POST","ret":"txt","url":"","tls":"","x":490.89585876464844,"y":248.98959350585938,"wires":[["c38ff602.1ea238"]]},{"id":"15daa98f.0e09c6","type":"inject","z":"1a1f265d.889e8a","name":"debug data inject","topic":"","payload":"{    \"eventId\":\"15a25f443061e9\",   \"statusId\":\"S15a265570597\",   \"conversation\":\"d7c1c3ac-c055-4ec9-b6c5-8fa06956161d\",   \"text\":\"エスカレーションして\",   \"timestamp\":\"2017-02-10T02:57:28.862Z\",   \"mode\":{      \"commandCode\":\"\",     \"modeSet\":{     \"operationMode\":\"b\",     \"meetingOpMode\":\"\",     \"translationMode\":\"TRANSLATION_ON\"     },     \"responseAnswer\":\"\"   },   \"user\":[     {        \"name\":\"横山 暁\",       \"uri\":\"sip:yokoyama-s@tsol365.onmicrosoft.com\",       \"contact\":\"/ucwa/oauth/v1/applications/103128404856/people/yokoyama-s@tsol365.onmicrosoft.com\",       \"translate\":{         \"src_lang\":\"ja\",         \"tgt_lang\":\"en\",         \"arrange\":true       }     }   ] }","payloadType":"json","repeat":"","crontab":"","once":false,"x":116.89579772949219,"y":297.1006774902344,"wires":[["3eaed271.a7babe"]]},{"id":"df8cc2cf.12cc2","type":"debug","z":"1a1f265d.889e8a","name":"","active":true,"console":"false","complete":"false","x":317.8957977294922,"y":293.1006774902344,"wires":[]},{"id":"c38ff602.1ea238","type":"link out","z":"1a1f265d.889e8a","name":"","links":["4cef5e2a.90c7f"],"x":650.2708587646484,"y":249.32260131835938,"wires":[]},{"id":"cee8bf08.18c0a","type":"link in","z":"1a1f265d.889e8a","name":"faqDispatchMessage","links":["93f5b293.eef82"],"x":70.2742919921875,"y":859.0482482910156,"wires":[["c9ea98a5.872588"]]},{"id":"97fb9f4.bd1806","type":"function","z":"1a1f265d.889e8a","name":"faqDispatchIncidents","func":"const Settings = context.global.get('aai-common').Settings;\n\n// Parameter Setting =======================\nvar messages = JSON.parse(msg.payload);\nvar body = {\n     \"messageCount\": messages.length\n};\n\nvar dispatchTo = flow.get('cons.FAQDistpach');\nvar mailTo = [];\nfor(var i in dispatchTo){\n        mailTo[i] = dispatchTo[i].mailaddress;\n}\nflow.set('mail.to', mailTo);\n\nvar before30dt = new Date();\nbefore30dt.setTime(before30dt.getTime() - (30 * 86400000));\n\n// 全部取って判定\nfor(var i in messages){\n    if(messages[i].createDate <= before30dt){\n        body.messageCount = -1; // Settion Time Out\n        break;\n    }\n    if(messages[i].incidentStatus === Settings.INCIDENT_STATUS_FAQSECONDARYORDERREQUESTED){\n        body.messageCount = 0;\n        break;\n    }\n    flow.set('eventId.incidentno', messages[i].incidentno);\n    body.message = messages[i];\n    body.question = messages[i].requestUser.question;\n    body.dispatchToName = flow.get('cons.FAQDistpach');\n// For Debug =============================================================\n//flow.get('NextFlowParam.pdmailaddress',userID);\nvar debugUserID = [];\n// デモのためにユーザーを設定\ndebugUserID[0] = flow.get('mail.useremail')[0];\ndebugUserID[1] = \"Inoue.Kyoichi@s50.toshiba-sol.co.jp\";\ndebugUserID[2] = \"Matsunaga.Michio@s50.toshiba-sol.co.jp\";\nbody.dispatchToName = debugUserID;\n// For Debug =============================================================\n    if(messages[i].requestUser.name !== undefined && messages[i].requestUser.name !== \"\"){\n         body.requestUserName = messages[i].requestUser.name + \"\\n\";\n    }\n    else{\n         body.requestUserName = \"\";\n    }\n    body.requestUserMail = messages[i].requestUser.mailAddress;\n    if(messages[i].requestUser.responseFAQText !== undefined && messages[i].requestUser.responseFAQText.length >= 1){\n        body.responseFAQText = messages[i].requestUser.responseFAQText;\n    }\n    else{\n        body.responseFAQText = \"該当するFAQは見当たらないようです。\";\n    }\n    break;\n}\n\nvar msg2 = {};\nmsg2.payload = body;\n\nreturn msg2;","outputs":1,"noerr":0,"x":206.8958282470703,"y":396.10076904296875,"wires":[["9e1e7048.c5111","673ead36.3de8f4"]]},{"id":"4cef5e2a.90c7f","type":"link in","z":"1a1f265d.889e8a","name":"faqDispatchIncidents","links":["c38ff602.1ea238"],"x":68.27084350585938,"y":396.26751708984375,"wires":[["97fb9f4.bd1806"]]},{"id":"1118efb3.40fce","type":"config","z":"1a1f265d.889e8a","name":"messageSetting","properties":[{"p":"Event","pt":"flow","to":"{ \"eventId\":\"15a25f443061e9\", \"statusId\":\"S15a265570597\", \"conversation\":\"d7c1c3ac-c055-4ec9-b6c5-8fa06956161d\", \"text\":\"接続\", \"timestamp\":\"2017-02-10T02:57:28.862Z\", \"mode\":{ \"commandCode\":\"startTranslateText\", \"modeSet\":{ \"operationMode\":\"AAI_SERVICE_MODE\", \"meetingOpMode\":\"\", \"translationMode\":\"TRANSLATION_ON\" }, \"responseAnswer\":\"\" }}","tot":"json"},{"p":"config.KBASE_SCORE_HIGH_LIMIT","pt":"flow","to":"0.34","tot":"num"},{"p":"config.KBASE_SCORE_MIDDLE_LIMIT","pt":"flow","to":"0.23","tot":"num"},{"p":"mail","pt":"flow","to":"{\"username\" : \"\",\"question\":\"\",\"from\":\"\",\"useremail\":\"\",\"subject\":\"\",\"text\":\"\"}","tot":"json"},{"p":"cons.CREATE_ANSWER","pt":"flow","to":"CREATE_ANSWER","tot":"str"},{"p":"cons.DISPATCH_QUESTION","pt":"flow","to":"DISPATCH_QUESTION","tot":"str"},{"p":"cons.TO_2ND_STAFF","pt":"flow","to":"TO_2ND_STAFF","tot":"str"},{"p":"cons.CANNOT_ANSWER","pt":"flow","to":"CANNOT_ANSWER","tot":"str"},{"p":"answerFaqAutoResponse","pt":"flow","to":"{}","tot":"json"},{"p":"eventId","pt":"flow","to":"{}","tot":"json"},{"p":"cons.TRACK_QUESTION","pt":"flow","to":"QUESTION","tot":"str"},{"p":"state.judgeReply","pt":"flow","to":"","tot":"str"},{"p":"NextFlowParam","pt":"flow","to":"{}","tot":"json"},{"p":"cons.FAQDistpach","pt":"flow","to":"[{\"name\":\"井上\",\"mailaddress\" : \"Inoue.Kyoichi@s50.toshiba-sol.co.jp\"},{\"name\":\"松永\",\"mailaddress\" : \"Matsunaga.Michio@s50.toshiba-sol.co.jp\"}]","tot":"json"}],"active":true,"x":281.4555358886719,"y":20,"wires":[]},{"id":"4ecced39.f52ff4","type":"comment","z":"1a1f265d.889e8a","name":"Global setting","info":"","x":75,"y":21.45001983642578,"wires":[]},{"id":"9e1e7048.c5111","type":"debug","z":"1a1f265d.889e8a","name":"","active":true,"console":"false","complete":"false","x":328.89576721191406,"y":444.8888854980469,"wires":[]},{"id":"673ead36.3de8f4","type":"switch","z":"1a1f265d.889e8a","name":"","property":"payload.messageCount","propertyType":"msg","rules":[{"t":"lt","v":"1","vt":"str"},{"t":"gte","v":"1","vt":"str"}],"checkall":"true","outputs":2,"x":398.27085876464844,"y":396.2500305175781,"wires":[["19cb5ff3.f8ace"],["93f5b293.eef82"]]},{"id":"93f5b293.eef82","type":"link out","z":"1a1f265d.889e8a","name":"","links":["cee8bf08.18c0a"],"x":507.2847137451172,"y":417.3437805175781,"wires":[]},{"id":"a990c6f5.f0fcb8","type":"comment","z":"1a1f265d.889e8a","name":"dispatchMessage","info":"","x":619.8957977294922,"y":415.8888854980469,"wires":[]},{"id":"7bf7aad9.1101b4","type":"comment","z":"1a1f265d.889e8a","name":"dispatchMessage","info":"","x":133.89581298828125,"y":809.8888854980469,"wires":[]},{"id":"53542500.795e8c","type":"comment","z":"1a1f265d.889e8a","name":"Common service","info":"","x":680.8958129882812,"y":671.2222213745117,"wires":[]},{"id":"7215134d.9c6fec","type":"template","z":"1a1f265d.889e8a","name":"tmplOfFaqNoIncident","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"別の言葉で、もう一度お願いします。","x":428.89573669433594,"y":584.2221603393555,"wires":[["d6e69e95.d10be","19666c0a.dc9d14"]]},{"id":"19666c0a.dc9d14","type":"debug","z":"1a1f265d.889e8a","name":"","active":true,"console":"false","complete":"false","x":537.8958282470703,"y":533.22216796875,"wires":[]},{"id":"d6e69e95.d10be","type":"link out","z":"1a1f265d.889e8a","name":"dispachQuestion","links":["24710d9c.ca1a62","a72bedbb.1e981"],"x":622.8958282470703,"y":583.2221603393555,"wires":[]},{"id":"28d1530c.49ac2c","type":"function","z":"1a1f265d.889e8a","name":"faqReturnNoIncident","func":"flow.set('mail.text', msg.payload);\nflow.set('eventId.FaqRequestAgainMessage', flow.get('mail.text'));\n\nvar msg2 = {};\nmsg2.payload = {\n    eventId: flow.get('Event.eventId'),\n    response: []\n};\n\nif(flow.get('eventId.type') === \"im\"){\n    var responseDetail = {\n        operation: \"im\",\n        im:{}\n    };\n    responseDetail.im.data = \"text/plain\"; // \"text/plain\" or \"text/html\"\n    responseDetail.im.text = flow.get('mail.text');\n    msg2.payload.response[0] = responseDetail;\n}\nelse if(flow.get('eventId.type') === \"voice\"){\n    var responseDetail = {\n        operation: \"voice\",\n        voice:{}\n    };\n    responseDetail.voice.text = flow.get('mail.text');\n    msg2.payload.response[0] = responseDetail;\n}\nelse{\n    // mail\n    var responseDetail = {\n        operation: \"mail\",\n        mail:{}\n    };\n    //responseDetail.mail.from = flow.get('mail.from');\n    var mailTo = [];\n    mailTo[0] = flow.get('mail.useremail');\n    responseDetail.mail.to = mailTo;\n    responseDetail.mail.subject = \"RE:\" + flow.get('mail.subject').replace(\"RE:\" , \"\");\n    responseDetail.mail.text = flow.get('mail.text');\n    msg2.payload.response[0] = responseDetail;\n}\n\nflow.set('eventId.FaqAutoResponseAnswer', msg2.payload);\n\nreturn msg2;","outputs":1,"noerr":0,"x":239.20558166503906,"y":673.6943893432617,"wires":[["a56220b2.b9fe6","12d89f6e.8a3ca1"]]},{"id":"24710d9c.ca1a62","type":"link in","z":"1a1f265d.889e8a","name":"faqDispatchAgainSendMail","links":["d6e69e95.d10be","e4395278.4f563","e5f94932.26f2d8","25fa80b6.4dd1"],"x":72.71586608886719,"y":673.2432174682617,"wires":[["28d1530c.49ac2c"]]},{"id":"a56220b2.b9fe6","type":"debug","z":"1a1f265d.889e8a","name":"","active":true,"console":"false","complete":"false","x":488.20556640625,"y":627.6943893432617,"wires":[]},{"id":"12d89f6e.8a3ca1","type":"link out","z":"1a1f265d.889e8a","name":"faqRecieveRequestAgainSendDispatch","links":["a4714bf8.a58d98","8811ac6.9a0db5"],"x":565.2056274414062,"y":673.4720993041992,"wires":[]},{"id":"3aedc275.c9d08e","type":"link in","z":"1a1f265d.889e8a","name":"faqNoIncident","links":["19cb5ff3.f8ace","cfe3f7a7.e63a68","d26afe96.38fda","bf9860c3.eb715"],"x":72.58413696289062,"y":585.0859680175781,"wires":[["7215134d.9c6fec"]]},{"id":"5f255c64.70cf64","type":"comment","z":"1a1f265d.889e8a","name":"noIncident","info":"","x":116.20565795898438,"y":535.9266052246094,"wires":[]},{"id":"19cb5ff3.f8ace","type":"link out","z":"1a1f265d.889e8a","name":"","links":["3aedc275.c9d08e"],"x":508.2847137451172,"y":370.4444580078125,"wires":[]},{"id":"aa2d43ca.525ea","type":"comment","z":"1a1f265d.889e8a","name":"noIncident","info":"","x":600.8957977294922,"y":370,"wires":[]},{"id":"c9ea98a5.872588","type":"function","z":"1a1f265d.889e8a","name":"MessageStorage(Update)","func":"const Settings = context.global.get('aai-common').Settings;\n\nflow.set('eventId.FaqDispatchTemp', msg.payload);\n\n// Parameter Setting =======================\nvar message = msg.payload.message;\n\nvar dt = new Date();\n\nmessage.incidentStatus = Settings.INCIDENT_STATUS_FAQSECONDARYORDERREQUESTED;   //FAQSecondaryOrderRequested\nmessage.chaneltype = flow.get('eventId.type');\nmessage.requestUser.clickFAQNo = \"\";\nmessage.requestUser.clickDate = \"\";\nmessage.requestUser.messageid =  flow.get('eventId.messageid');\nmessage.requestUser.inReplyTo =  flow.get('eventId.inReplyTo');\nvar faqDistpach = msg.payload.dispatchToName;\nfor(var i in faqDistpach){\n    var dispatchFAQDetail = {};\n    //dispatchFAQDetail.name = faqDistpach[i].name;\n    dispatchFAQDetail.mailAddress = faqDistpach[i];\n    dispatchFAQDetail.dispatchDate = dt;\n    message.dispatchFAQ[i] = dispatchFAQDetail;\n}\n\nconst msg2 = {};\n\n// make Body\nconst body =  {\n    \"id\":  msg.payload.message.incidentno,\n    \"message\": message\n}\n\nmsg2.payload = body;\n\n// Http Request\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_MESSAGESTORAGE_INCIDENTSUPDATEURL;\n\nreturn msg2;","outputs":1,"noerr":0,"x":235.8957977294922,"y":858.2222290039062,"wires":[["b3a851ee.80d91","47b660b8.8e2ce"]]},{"id":"b3a851ee.80d91","type":"http request","z":"1a1f265d.889e8a","name":"[POST]/incidentsUpdate","method":"POST","ret":"txt","url":"","tls":"","x":487.8958740234375,"y":858.2221069335938,"wires":[["f5117905.8136a8"]]},{"id":"47b660b8.8e2ce","type":"debug","z":"1a1f265d.889e8a","name":"","active":true,"console":"false","complete":"false","x":457.0359344482422,"y":804.2124633789062,"wires":[]},{"id":"352b50c0.43449","type":"subflow:5dbccf9.8065d3","z":"1a1f265d.889e8a","name":"","x":210.8957977294922,"y":1337.7778396606445,"wires":[["ceba4990.ffd508","c0fe5347.fea38"]]},{"id":"3c8b8ea2.75c072","type":"subflow:173cb782.2daa38","z":"1a1f265d.889e8a","name":"","x":574.8957366943359,"y":1338.6667556762695,"wires":[]},{"id":"ceba4990.ffd508","type":"function","z":"1a1f265d.889e8a","name":"Compleate","func":"const msg2 = {};\nmsg2.payload = {\n    eventId: flow.get('Event.eventId'),\n}\n\nreturn msg2;","outputs":1,"noerr":0,"x":390.2707977294922,"y":1338.038215637207,"wires":[["3c8b8ea2.75c072"]]},{"id":"b49b4f0c.abde2","type":"link in","z":"1a1f265d.889e8a","name":"CommonMessageStorage","links":["4ce3c623.0dc338"],"x":84.89582824707031,"y":1689.1112060546875,"wires":[["6f7810d2.7ac92"]]},{"id":"c0fe5347.fea38","type":"function","z":"1a1f265d.889e8a","name":"MessageStorage(Select)","func":"const Settings = context.global.get('aai-common').Settings;\n\n// Response formatting =======================\nvar jsonResponse = \"\";\ntry{\n    jsonResponse = JSON.parse(msg.payload);\n}\ncatch(e){\n    jsonResponse = msg.payload;\n}\n\nflow.set('eventId.responseResult', jsonResponse.responseResult);\nflow.set('mail.responseResult', jsonResponse.responseResult);\n\n// incidents Parameter Setting ==============\nconst msg2 = {};\n\n// make Body\nconst body =  {\n    \"id\": flow.get('eventId.incidentno')\n}\n\nmsg2.payload = body;\n\n// Http Request\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_MESSAGESTORAGE_INCIDENTSSELECTURL;\n\nreturn msg2;","outputs":1,"noerr":0,"x":244.51040649414062,"y":1493.7020263671875,"wires":[["98de78e3.640418"]]},{"id":"98de78e3.640418","type":"http request","z":"1a1f265d.889e8a","name":"[POST]/incidentsSelect","method":"POST","ret":"txt","url":"","tls":"","x":486.5104522705078,"y":1493.701904296875,"wires":[["baa18fac.449c8"]]},{"id":"baa18fac.449c8","type":"function","z":"1a1f265d.889e8a","name":"MessageStorage(Update)","func":"const Settings = context.global.get('aai-common').Settings;\n\n// Parameter Setting =======================\nvar message = JSON.parse(msg.payload)[0];\n\nvar jsonResponse = flow.get('mail.responseResult');\n\n// messageid setting\nfor(var i in jsonResponse){\n    if(jsonResponse[i].operation !== undefined && jsonResponse[i].operation === \"mail\"){\n        if (jsonResponse[i].mail !== undefined){\n            for(var j in jsonResponse[i].mail.to){\n                for(var k in message.dispatchFAQ){\n                    if (jsonResponse[i].mail.to[j] === message.dispatchFAQ[k].mailAddress){\n                        message.dispatchFAQ[k].messageid = jsonResponse[i].mail.messageId.messageId;\n                    }\n                }\n            }\n            break;\n        }\n    }\n}\nfor(var k in message.dispatchFAQ){\n    if( message.dispatchFAQ[k].messageid === undefined){\n        message.dispatchFAQ[k].messageid = \"\";\n    }\n}\nconst msg2 = {};\n\n// make Body\nconst body =  {\n    \"id\":  flow.get('eventId.incidentno'),\n    \"message\": message\n}\n\nmsg2.payload = body;\n\n// Http Request\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_MESSAGESTORAGE_INCIDENTSUPDATEURL;\n\nreturn msg2;","outputs":1,"noerr":0,"x":291.510498046875,"y":1545.5906982421875,"wires":[["bbfd62ba.b874","d8106754.c668c8"]]},{"id":"bbfd62ba.b874","type":"http request","z":"1a1f265d.889e8a","name":"[POST]/incidentsUpdate","method":"POST","ret":"txt","url":"","tls":"","x":543.5105743408203,"y":1545.590576171875,"wires":[["4ce3c623.0dc338"]]},{"id":"d8106754.c668c8","type":"debug","z":"1a1f265d.889e8a","name":"","active":true,"console":"false","complete":"false","x":502.65065002441406,"y":1583.5809326171875,"wires":[]},{"id":"f45eaf73.24ef4","type":"comment","z":"1a1f265d.889e8a","name":"incidentsUpdate(messageid)","info":"","x":209.5104217529297,"y":1448.7020263671875,"wires":[]},{"id":"6f7810d2.7ac92","type":"function","z":"1a1f265d.889e8a","name":"MessageStorage(Create Questions)","func":"const Settings = context.global.get('aai-common').Settings;\n\nconst msg2 = {};\n\nvar dt = new Date();\n//var datestring = d.getFullYear()  + \"-\" + (\"0\"+(d.getMonth())).slice(-2) + \"-\" + (\"0\" + d.getDate()).slice(-2);\n//datestring += \"T\" + (\"0\" + d.getHours()).slice(-2) + \":\" + (\"0\" + d.getMinutes()).slice(-2) + \":\" + (\"0\" + d.getSeconds()).slice(-2) + \"Z\"; \n\n// make Body\nconst body =  {\n    \"type\": \"questions\",\n    \"text\": flow.get('eventId'),\n    \"from\": {\n      \"id\": flow.get('mail.username'),\n      \"name\": flow.get('mail.useremail')\n    },\n    \"timestamp\": dt,\n    \"address\": {\n      \"type\": flow.get('eventId.type'),\n      \"conversation\" :{\n        \"id\": flow.get('eventId.conversation')\n      }\n    }\n}\n\nmsg2.payload = body;\n\n// Http Request\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_MESSAGESTORAGE_QUESTIONSURL;\n\nreturn msg2;","outputs":1,"noerr":0,"x":276.5104064941406,"y":1688.9241943359375,"wires":[["8dd6a427.b02568","d18cbcdc.36c5b"]]},{"id":"8dd6a427.b02568","type":"http request","z":"1a1f265d.889e8a","name":"[POST]/questions","method":"POST","ret":"txt","url":"","tls":"","x":545.5105285644531,"y":1688.924186706543,"wires":[[]]},{"id":"d18cbcdc.36c5b","type":"debug","z":"1a1f265d.889e8a","name":"","active":true,"console":"false","complete":"false","x":512.6506042480469,"y":1647.914421081543,"wires":[]},{"id":"4ce3c623.0dc338","type":"link out","z":"1a1f265d.889e8a","name":"","links":["b49b4f0c.abde2"],"x":692.8923492431641,"y":1545.3721923828125,"wires":[]},{"id":"617b7a4d.9f1d74","type":"function","z":"1a1f265d.889e8a","name":"msgDispatch","func":"const msg2 = {};\n\nmsg2.payload = flow.get('eventId.FaqDispatchTemp');\n\nreturn msg2;","outputs":1,"noerr":0,"x":196.89581298828125,"y":952.5556030273438,"wires":[["de3528fe.79fa98"]]},{"id":"d0a92499.8d6c08","type":"link in","z":"1a1f265d.889e8a","name":"msgDispatch","links":["f5117905.8136a8"],"x":71.89582824707031,"y":952.5556030273438,"wires":[["617b7a4d.9f1d74"]]},{"id":"f5117905.8136a8","type":"link out","z":"1a1f265d.889e8a","name":"dispachQuestion","links":["d0a92499.8d6c08"],"x":632.8957977294922,"y":858.5556030273438,"wires":[]}]