.nodered/lib/flows/21FAQResponseFromStaff.json
[{"id":"53365111.c4a03","type":"subflow","name":"SendChatBotComplete (10)","info":"","in":[{"x":97,"y":130,"wires":[{"id":"9b2d95e5.0eadd8"}]}],"out":[]},{"id":"9b2d95e5.0eadd8","type":"function","z":"53365111.c4a03","name":"SendChatBotComplete","func":"const Settings = context.global.get('aai-common').Settings;\n\nconst msg2 = {};\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_CHATBOT_COMPLETEURL;\nmsg2.payload = msg.payload;\nreturn msg2;","outputs":1,"noerr":0,"x":291.51575469970703,"y":128.75,"wires":[["796ff5b1.1f1d5c"]]},{"id":"796ff5b1.1f1d5c","type":"http request","z":"53365111.c4a03","name":"SendChatBotEvent","method":"use","ret":"txt","url":"","tls":"","x":566.5088195800781,"y":128.57293701171875,"wires":[[]]},{"id":"ae06d660.d70338","type":"comment","z":"53365111.c4a03","name":"SendChatBotComplete","info":"","x":138,"y":59.70831298828125,"wires":[]},{"id":"5dbccf9.8065d3","type":"subflow","name":"SendChatBotEvent","info":"","in":[{"x":93,"y":137,"wires":[{"id":"93aabbad.47ff18"}]}],"out":[{"x":775,"y":135,"wires":[{"id":"91c4afe3.10023","port":0}]}]},{"id":"93aabbad.47ff18","type":"function","z":"5dbccf9.8065d3","name":"SendChatBotEvent","func":"const Settings = context.global.get('aai-common').Settings;\n\nconst msg2 = {};\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_CHATBOT_NOTIFYURL;\nmsg2.payload = msg.payload;\nreturn msg2;","outputs":1,"noerr":0,"x":289.5079116821289,"y":136.45921325683594,"wires":[["91c4afe3.10023"]]},{"id":"91c4afe3.10023","type":"http request","z":"5dbccf9.8065d3","name":"SendChatBotEvent","method":"use","ret":"txt","url":"","tls":"","x":574.5009765625,"y":136.2821502685547,"wires":[[]]},{"id":"36c3e77e.dff148","type":"comment","z":"5dbccf9.8065d3","name":"SendChatBotEvent","info":"","x":135.99215698242188,"y":67.41752624511719,"wires":[]},{"id":"1fa8aa63.730b36","type":"comment","z":"975d2bf4.e30f08","name":"(21) /FAQ ResponseFromStaff","info":"","x":135,"y":119.989501953125,"wires":[]},{"id":"e10bf319.333c2","type":"function","z":"975d2bf4.e30f08","name":"faqResponseIncidents","func":"const Settings = context.global.get('aai-common').Settings;\n\n// Parameter Setting =======================\nvar messages = JSON.parse(msg.payload);\nvar body = {\n     \"messageCount\": messages.length\n};\n\nvar before30dt = new Date();\nbefore30dt.setTime(before30dt.getTime() - (30 * 86400000));\n\n// 全部取って判定\nfor(var i in messages){\n    for(var j in messages[i].dispatchFAQ){\n        if(messages[i].dispatchFAQ[j].mailAddress ==  flow.get('mail.useremail') && messages[i].dispatchFAQ[j].dispatchDate <= before30dt){\n            body.messageCount = -1; // Settion Time Out\n            break;\n        }\n    }\n    if(body.messageCount < 0){\n        break;\n    }\n    \n    if(messages[i].incidentStatus != Settings.INCIDENT_STATUS_FAQSECONDARYORDERREQUESTE){\n        body.messageCount = 0;\n        break;\n    }\n    flow.set('eventId.incidentno', messages[i].incidentno);\n    flow.set('eventId.chaneltype', messages[i].chaneltype);\n    flow.set('Event.eventId', messages[i].requestUser.eventId);\n    flow.set('mail.requestuseremail', messages[i].requestUser.mailAddress);\n    flow.set('mail.requestsubject', messages[i].requestUser.subject);\n    flow.set('eventId.message', messages[i]);\n    break;\n}\n\nif(flow.get('mail.UnifiedFaqNo') === null){\n    // FAQ No Not Found\n    body.messageCount = 0;\n}\nelse{\n    body.UnifiedFaqNo = flow.get('mail.UnifiedFaqNo');\n}\n//body.title = \"タイトル\";\n//body.body = \"Edge　Clientインストール時のエラーについて…(本文)\";\n\n\nvar msg2 = {};\nmsg2.payload = body;\n\nreturn msg2;\n\n","outputs":1,"noerr":0,"x":243.2259521484375,"y":353.92205810546875,"wires":[["323f4b39.d894e4","bd77387b.a27358"]]},{"id":"a06645c3.dc0dc8","type":"http in","z":"975d2bf4.e30f08","name":"","url":"/faqAutoResponse/responseFromStaff","method":"post","swaggerDoc":"","x":240.65167236328125,"y":169.5040283203125,"wires":[["dcb0283f.77a8f8","b83a1b0d.ffff48","297c281c.2a3f58"]]},{"id":"dcb0283f.77a8f8","type":"http response","z":"975d2bf4.e30f08","name":"","x":568.2973327636719,"y":168.83838653564453,"wires":[]},{"id":"b83a1b0d.ffff48","type":"debug","z":"975d2bf4.e30f08","name":"","active":true,"console":"false","complete":"true","x":547.7194519042969,"y":102.8296127319336,"wires":[]},{"id":"72901fb4.6d759","type":"inject","z":"975d2bf4.e30f08","name":"debug data inject","topic":"","payload":"{   \"eventId\": \"15a50a7ac6f1a7\",   \"statusId\": \"S15a508a839856\",   \"type\": \"mail\",   \"subject\": \"Re: 問い合わせ回答依頼\",   \"text\" : \"{KB000963}で回答して窓口担当さま:  アシスタントAIサービス、モモチです。   以下の問い合わせがありましたので、質問者に直接回答をお願いします。 また、「{FAQ番号}で回答して」と返信いただければ、こちらからFAQを回答します。   <質問者> sakamoto makoto(坂元 亮 ＴＳＯＬ （ＳＬＣ）［製ＰＳ］（ＥＲＰ）) sakamoto.makoto@toshiba-sol.co.jp  <質問内容> 接続について教えて  <AI回答> ◆KB0000028: リモーとアクセスサービス、VPN接続時　サーバ接続待ち　のまま、対応方法を教えてください。　received　from:　hideo.okada　teic.toshiba.co.jp□情報通信インフラ https:&#x2F;&#x2F;portal.sd.toshiba-global.com&#x2F;kb_view.do?sysparm_article&#x3D;KB0000028  ◆KB0001320: Lync2010　64bit試行で接続できず、原因と対策を教えてください。　received　from:　hideo.okada　teic.toshiba.co.jpWindows8.1　64bit　 https:&#x2F;&#x2F;portal.sd.toshiba-global.com&#x2F;kb_view.do?sysparm_article&#x3D;KB0001320  ◆KB0001311: Ｌｙｎｃ会議で接続できない　received　from:　chiaki1.kagita　glb.toshiba.co.jp情報通信インフラサービス窓口担当殿お世話になります。　姫半　ヘルプデスク　鍵田 https:&#x2F;&#x2F;portal.sd.toshiba-global.com&#x2F;kb_view.do?sysparm_article&#x3D;KB0001311\",   \"timestamp\": \"2017-02-18T09:57:31.666Z\",   \"mode\": {     \"commandCode\": \"startFaqAutoResponse\",      \"modeSet\": { \t\t\"operationMode\": \"QAI_SERVICE_MODE\", \t\t\"meetingOpMode\": \"MEETING_OFF\", \t\t\"translationMode\": \"TRANSLATION_OFF\"     },     \"responseAnswer\": \"\"   },   \"user\": { \t\"name\": \"inoueKyoichi\", \t\"uri\": \"sip:Inoue.Kyoichi@s50.toshiba-sol.co.jp\", \t\"mailAddress\": \"Inoue.Kyoichi@s50.toshiba-sol.co.jp\",     \"translate\": { \t\t\"src_lang\": \"ja\", \t\t\"tgt_lang\": \"en\", \t\t\"arrange\": true     }   },   \"mailData\": {     \"messageId\": \"S15a508a839856\",     \"inReplyTo\": \"Inoue.Kyoichi@s50.toshiba-sol.co.jp\"   } }","payloadType":"json","repeat":"","crontab":"","once":false,"x":126.31571960449219,"y":289.249755859375,"wires":[["297c281c.2a3f58"]]},{"id":"9f274635.2004d8","type":"comment","z":"975d2bf4.e30f08","name":"Common service","info":"","x":689.5859832763672,"y":1018.7397766113281,"wires":[]},{"id":"51b3d43f.5c36dc","type":"template","z":"975d2bf4.e30f08","name":"tmplOfFaqResponseFromStaff","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"次のFAQが見つかりましたが、該当しますでしょうか? 該当しないようでしたら、「エスカレーションして」と返信いただければ、問い合わせ窓口にエスカレーションします。\n\n{{payload}}","x":441.5858612060547,"y":889.7397766113281,"wires":[["6e421b7b.71adf4","c73d1f31.8efd3"]]},{"id":"6e421b7b.71adf4","type":"debug","z":"975d2bf4.e30f08","name":"","active":true,"console":"false","complete":"false","x":504.58604431152344,"y":846.7397766113281,"wires":[]},{"id":"c73d1f31.8efd3","type":"link out","z":"975d2bf4.e30f08","name":"dispachQuestion","links":["d25cbec0.36a55","a72bedbb.1e981"],"x":649.5861053466797,"y":888.7397766113281,"wires":[]},{"id":"fd728ec3.d43ef","type":"function","z":"975d2bf4.e30f08","name":"faqResponseFromStaffSend","func":"const Settings = context.global.get('aai-common').Settings;\n\nflow.set('mail.text', msg.payload.replace(/&#x2F;/g , \"/\" ).replace(/&#x3D;/g , \"=\" ).replace(/&lt;/g , \"<\" ).replace(/&gt;/g , \">\" ).replace(/&amp;/g , \"&\" ));\n//flow.set('mail.text', msg.payload);\nflow.set('eventId.FaqResponseFromStaffSendMessage', flow.get('mail.text'));\n\n// for Debug =============================================\nif(flow.get('eventId.chaneltype') !== \"mail\"){\n    var text = flow.get('mail.text');\n    var replace1 = \"…(<a href=\" + Settings.WEB_REDIRECT_FAQ + \"?id=\"; \n    replace1 += flow.get('eventId.incidentno') + \"&clickFAQNo=\" + flow.get('mail.answerUnifiedFaqNo');\n    replace1 += \"&redirectURL=\";\n    text = text.replace(replace1,\"\\n\");\n    text = text.replace(/>本文<\\/a>\\)/g,\"\");\n    flow.set('mail.text',text);\n}\n// for Debug =============================================\n\nvar msg2 = {};\nmsg2.payload = {\n    eventId: flow.get('Event.eventId'),\n    response: []\n};\n\nif(flow.get('eventId.chaneltype') === \"im\"){\n    var responseDetail = {\n        operation: \"im\",\n        im:{}\n    };\n    responseDetail.im.data = \"text/plain\"; // \"text/plain\" or \"text/html\"\n    responseDetail.im.text = flow.get('mail.text');\n    msg2.payload.response[0] = responseDetail;\n}\nelse if(flow.get('eventId.chaneltype') === \"voice\"){\n    var responseDetail = {\n        operation: \"voice\",\n        voice:{}\n    };\n    responseDetail.voice.text = flow.get('mail.text');\n    msg2.payload.response[0] = responseDetail;\n}\nelse{\n    // mail\n    var responseDetail = {\n        operation: \"mail\",\n        mail:{}\n    };\n//    responseDetail.mail.from = flow.get('mail.from');\n    var mailTo = [];\n    mailTo[0] = flow.get('mail.requestuseremail');\n    responseDetail.mail.to = mailTo;\n    responseDetail.mail.subject = \"RE:\" + flow.get('mail.requestsubject').replace(\"RE:\" , \"\");\n    responseDetail.mail.text = flow.get('mail.text').replace(/\\n/g , \"<br>\" );\n    msg2.payload.response[0] = responseDetail;\n}\n\n\nflow.set('eventId.FaqResponseFromStaffSend', msg2.payload);\n\nreturn msg2;","outputs":1,"noerr":0,"x":266.8957214355469,"y":1022.2120361328125,"wires":[["b41b85b9.200768","bd3aaf68.b086c"]]},{"id":"d25cbec0.36a55","type":"link in","z":"975d2bf4.e30f08","name":"faqResponseFromStaffSend","links":["c73d1f31.8efd3"],"x":113.40602111816406,"y":1020.7606201171875,"wires":[["fd728ec3.d43ef"]]},{"id":"b41b85b9.200768","type":"debug","z":"975d2bf4.e30f08","name":"","active":true,"console":"false","complete":"false","x":496.8957214355469,"y":974.2119140625,"wires":[]},{"id":"bd3aaf68.b086c","type":"link out","z":"975d2bf4.e30f08","name":"faqResponseFromStaffSend","links":["9fdeaf1e.cb26"],"x":573.8957824707031,"y":1019.9896240234375,"wires":[]},{"id":"856e06ff.7ae368","type":"http request","z":"975d2bf4.e30f08","name":"[POST]/replies","method":"POST","ret":"txt","url":"","tls":"","x":599.7556610107422,"y":1153.0000534057617,"wires":[[]]},{"id":"d42e85da.0693f8","type":"debug","z":"975d2bf4.e30f08","name":"","active":true,"console":"false","complete":"false","x":576.8957366943359,"y":1111.9902877807617,"wires":[]},{"id":"f0693eb8.a12d5","type":"function","z":"975d2bf4.e30f08","name":"MessageStorage(Create replies)","func":"const Settings = context.global.get('aai-common').Settings;\n\nconst msg2 = {};\n\nvar dt = new Date();\n//var datestring = d.getFullYear()  + \"-\" + (\"0\"+(d.getMonth())).slice(-2) + \"-\" + (\"0\" + d.getDate()).slice(-2);\n//datestring += \"T\" + (\"0\" + d.getHours()).slice(-2) + \":\" + (\"0\" + d.getMinutes()).slice(-2) + \":\" + (\"0\" + d.getSeconds()).slice(-2) + \"Z\"; \n\n// make Body\nconst body =  {\n    \"type\": \"replies\",\n    \"text\": flow.get('eventId'),\n    \"from\": {\n      \"id\": flow.get('mail.username'),\n      \"name\": flow.get('mail.useremail')\n    },\n    \"timestamp\": dt,\n    \"address\": {\n      \"type\": flow.get('eventId.type'),\n      \"conversation\" :{\n        \"id\": flow.get('eventId.conversation')\n      }\n    }\n}\n\nmsg2.payload = body;\n\n// Http Request\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_MESSAGESTORAGE_REPLIESURL;\n\nreturn msg2;","outputs":1,"noerr":0,"x":330.7555389404297,"y":1153.0000610351562,"wires":[["856e06ff.7ae368","d42e85da.0693f8"]]},{"id":"b6f4b93d.c53ee8","type":"debug","z":"975d2bf4.e30f08","name":"","active":true,"console":"false","complete":"false","x":222.8957977294922,"y":1262.7673950195312,"wires":[]},{"id":"c98c9dfe.3a67a","type":"link in","z":"975d2bf4.e30f08","name":"faqResponseFromStaffMessageStorage","links":["89faae6d.ecc9d"],"x":141.28123474121094,"y":1153.0597457885742,"wires":[["f0693eb8.a12d5"]]},{"id":"9fdeaf1e.cb26","type":"link in","z":"975d2bf4.e30f08","name":"faqResponseFromStaffSendChatBotEvent","links":["bd3aaf68.b086c","89faae6d.ecc9d"],"x":87.89582824707031,"y":1219.7673950195312,"wires":[["b6f4b93d.c53ee8","b6de1080.9d39"]]},{"id":"675adb5e.837964","type":"comment","z":"975d2bf4.e30f08","name":"Common service","info":"","x":95,"y":1108.0000534057617,"wires":[]},{"id":"20412eae.37b672","type":"config","z":"975d2bf4.e30f08","name":"messageSetting","properties":[{"p":"Event","pt":"flow","to":"{ \"eventId\":\"15a25f443061e9\", \"statusId\":\"S15a265570597\", \"conversation\":\"d7c1c3ac-c055-4ec9-b6c5-8fa06956161d\", \"text\":\"接続\", \"timestamp\":\"2017-02-10T02:57:28.862Z\", \"mode\":{ \"commandCode\":\"startTranslateText\", \"modeSet\":{ \"operationMode\":\"AAI_SERVICE_MODE\", \"meetingOpMode\":\"\", \"translationMode\":\"TRANSLATION_ON\" }, \"responseAnswer\":\"\" }}","tot":"json"},{"p":"config.KBASE_SCORE_HIGH_LIMIT","pt":"flow","to":"0.34","tot":"num"},{"p":"config.KBASE_SCORE_MIDDLE_LIMIT","pt":"flow","to":"0.23","tot":"num"},{"p":"mail","pt":"flow","to":"{\"username\" : \"\",\"question\":\"\",\"from\":\"\",\"useremail\":\"\",\"subject\":\"\",\"text\":\"\"}","tot":"json"},{"p":"cons.CREATE_ANSWER","pt":"flow","to":"CREATE_ANSWER","tot":"str"},{"p":"cons.DISPATCH_QUESTION","pt":"flow","to":"DISPATCH_QUESTION","tot":"str"},{"p":"cons.TO_2ND_STAFF","pt":"flow","to":"TO_2ND_STAFF","tot":"str"},{"p":"cons.CANNOT_ANSWER","pt":"flow","to":"CANNOT_ANSWER","tot":"str"},{"p":"answerFaqAutoResponse","pt":"flow","to":"{}","tot":"json"},{"p":"eventId","pt":"flow","to":"{}","tot":"json"},{"p":"cons.TRACK_QUESTION","pt":"flow","to":"QUESTION","tot":"str"},{"p":"state.judgeReply","pt":"flow","to":"","tot":"str"},{"p":"NextFlowParam","pt":"flow","to":"{}","tot":"json"},{"p":"cons.FAQDistpach","pt":"flow","to":"[{\"name\":\"井上\",\"mailaddress\" : \"Inoue.Kyoichi@s50.toshiba-sol.co.jp\"},{\"name\":\"松永\",\"mailaddress\" : \"Matsunaga.Michio@s50.toshiba-sol.co.jp\"}]","tot":"json"}],"active":true,"x":291.4555358886719,"y":20,"wires":[]},{"id":"2b792293.b439fe","type":"comment","z":"975d2bf4.e30f08","name":"Global setting","info":"","x":85,"y":21.45001983642578,"wires":[]},{"id":"297c281c.2a3f58","type":"function","z":"975d2bf4.e30f08","name":"MessageStorage(Select)","func":"const Settings = context.global.get('aai-common').Settings;\n\n// Parameter Initializing =======================\nflow.set('Event', {});\nflow.set('mail', {});\nflow.set('answerFaqAutoResponse', {});\nflow.set('eventId', {});\nflow.set('state.judgeReply', \"\");\nflow.set('NextFlowParam', {});\n\n// Parameter Setting =======================\nflow.set('Event.eventId', msg.payload.eventId);\nflow.set('eventId', msg.payload);\nflow.set('eventId.tracker', context.flow.get('cons.TRACK_QUESTION'));\nflow.set('eventId.type', msg.payload.type);\nflow.set('eventId.conversation', msg.payload.conversation);\nif(msg.payload.mailData !== undefined){\n    flow.set('eventId.messageId',msg.payload.mailData.messageId);\n    flow.set('eventId.inReplyTo',msg.payload.mailData.inReplyTo);\n}\nelse{\n    flow.set('eventId.messageId',\"\");\n    flow.set('eventId.inReplyTo',\"\");\n}\nflow.set('mail.from', context.global.get('cons.FROM_MAIL_ADDRESS'));\nflow.set('mail.subject', msg.payload.subject);\nflow.set('mail.username', msg.payload.user.name);\nif(msg.payload.user.emailAddresses === undefined || msg.payload.user.emailAddresses === \"\"){\n    if(msg.payload.type === \"mail\"){\n        flow.set('mail.useremail', msg.payload.user.uri);\n    }\n    else{\n        // \"sip:\" cut\n        flow.set('mail.useremail', msg.payload.user.uri.substring(4));\n    }\n}\nelse{\n    flow.set('mail.useremail',msg.payload.user.emailAddresses);\n}\nflow.set('mail.question',msg.payload.text);\n//var pattern = new RegExp('http(s)?://([¥¥w-]+¥¥.)+[¥¥w-]+(/[¥¥w- ./?%&=]*)?','gi');\n//var url = reg.exec(pattern);\nvar url = msg.payload.text.match(/http(s)?:\\/\\/([\\w-]+\\.)+[\\w-]+(\\/[\\w- .\\/?%&=]*)?/gi);\nif(url !== null){\n    var UnifiedFaqNumbers = url[0].match(/KB(\\d){7}/);\n    \n    if(UnifiedFaqNumbers !== null){\n        flow.set('mail.answerUnifiedFaqNo', UnifiedFaqNumbers[0]);\n        flow.set('mail.answerUrl', url[0]);\n    }\n}\n// incidents Parameter Setting ==============\nconst msg2 = {};\n\nvar dt = new Date();\ndt.setTime(dt.getTime() - (30 * 86400000));\n\nvar body = {};\n// make Body\nif(flow.get('eventId.inReplyTo') !== null && flow.get('eventId.inReplyTo') !== \"\"){\n    body =  {\n//        \"message.incidentStatus\": Settings.INCIDENT_STATUS_FAQSECONDARYORDERREQUESTED,   //FAQSecondaryOrderRequested\n        \"message.dispatchFAQ.mailAddress\": flow.get('mail.useremail'),\n        \"message.dispatchFAQ.messageid\": flow.get('eventId.inReplyTo'),\n//        \"message.dispatchFAQ.dispatchDate\": { \"$gte\": dt },\n    \t\"sort$\":{\"message.dispatchFAQ.dispatchDate\":\"-1\"}       // responseDate Desc Sort\n    };\n}\nelse{\n    body =  {\n//        \"message.incidentStatus\": Settings.INCIDENT_STATUS_FAQSECONDARYORDERREQUESTED,   //FAQSecondaryOrderRequested\n        \"message.dispatchFAQ.mailAddress\": flow.get('mail.useremail'),\n//        \"message.dispatchFAQ.dispatchDate\": { \"$gte\": dt },\n    \t\"sort$\":{\"message.dispatchFAQ.dispatchDate\":\"-1\"}       // responseDate Desc Sort\n    };\n}\nmsg2.payload = body;\n\n// Http Request\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_MESSAGESTORAGE_INCIDENTSSELECTURL;\n\nreturn msg2;","outputs":1,"noerr":0,"x":264.89581298828125,"y":244.88888549804688,"wires":[["c2f59a88.6a0368","a8cdcd26.0e44a"]]},{"id":"a8cdcd26.0e44a","type":"debug","z":"975d2bf4.e30f08","name":"","active":true,"console":"false","complete":"false","x":334.89581298828125,"y":288.9999694824219,"wires":[]},{"id":"c2f59a88.6a0368","type":"http request","z":"975d2bf4.e30f08","name":"[POST]/incidentsSelect","method":"POST","ret":"txt","url":"","tls":"","x":507.8958740234375,"y":244.88888549804688,"wires":[["ee83585e.c25718","37c3641e.31f81c"]]},{"id":"ee83585e.c25718","type":"link out","z":"975d2bf4.e30f08","name":"","links":["867ce74d.e98558"],"x":661.8957977294922,"y":243.88888549804688,"wires":[]},{"id":"867ce74d.e98558","type":"link in","z":"975d2bf4.e30f08","name":"faqResponseIncidents","links":["ee83585e.c25718"],"x":104.89579772949219,"y":353.83380126953125,"wires":[["e10bf319.333c2"]]},{"id":"4658ae5.036f85","type":"function","z":"975d2bf4.e30f08","name":"MessageStorage(Update)","func":"const Settings = context.global.get('aai-common').Settings;\n\nflow.set('eventId.FaqDispatchTemp', msg.payload);\n\n// Parameter Setting =======================\nvar message = flow.get('eventId.message');\n\nvar dt = new Date();\n\nmessage.incidentStatus = Settings.INCIDENT_STATUS_FAQSECONDARYANSWER;   //FAQSecondaryAnswer\nmessage.requestUser.responseFAQText = msg.payload.body;\nmessage.requestUser.clickFAQNo = flow.get('mail.answerUnifiedFaqNo');\nmessage.requestUser.clickDate = dt;\nfor(var i in message.dispatchFAQ){\n    if(message.dispatchFAQ[i].mailAddress === flow.get('mail.useremail')){\n        message.dispatchFAQ[i].answer = flow.get('mail.answerUrl');\n        message.dispatchFAQ[i].faqNo = flow.get('mail.answerUnifiedFaqNo');\n        message.dispatchFAQ[i].responseDate = dt;\n        break;\n    }\n}\n\nconst msg2 = {};\n\n// make Body\nconst body =  {\n    \"id\":  message.incidentno,\n    \"message\": message\n};\n\nmsg2.payload = body;\n\n// Http Request\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_MESSAGESTORAGE_INCIDENTSUPDATEURL;\n\nreturn msg2;","outputs":1,"noerr":0,"x":246.89578247070312,"y":791.8785095214844,"wires":[["8e456815.b92658","9216c22a.adaa"]]},{"id":"8e456815.b92658","type":"http request","z":"975d2bf4.e30f08","name":"[POST]/incidentsUpdate","method":"POST","ret":"txt","url":"","tls":"","x":498.89585876464844,"y":791.8783874511719,"wires":[["4161526a.4e511c"]]},{"id":"9216c22a.adaa","type":"debug","z":"975d2bf4.e30f08","name":"","active":true,"console":"false","complete":"false","x":478.0359344482422,"y":740.8687438964844,"wires":[]},{"id":"aa805f6a.f730e","type":"link in","z":"975d2bf4.e30f08","name":"faqDispatchMessage","links":["6284de48.64db3"],"x":96.2742919921875,"y":791.7044982910156,"wires":[["4658ae5.036f85"]]},{"id":"7daf8344.f9621c","type":"link out","z":"975d2bf4.e30f08","name":"","links":["c2cfa1c0.32965"],"x":546.2846527099609,"y":370,"wires":[]},{"id":"323f4b39.d894e4","type":"switch","z":"975d2bf4.e30f08","name":"","property":"payload.messageCount","propertyType":"msg","rules":[{"t":"lt","v":"1","vt":"str"},{"t":"gte","v":"1","vt":"str"}],"checkall":"true","outputs":2,"x":442.89585876464844,"y":354,"wires":[["d27c2a8.7699dd8"],["7daf8344.f9621c"]]},{"id":"d27c2a8.7699dd8","type":"link out","z":"975d2bf4.e30f08","name":"","links":["55c9c84c.cee5e8"],"x":546.9097137451172,"y":334.1944274902344,"wires":[]},{"id":"71366308.9b672c","type":"template","z":"975d2bf4.e30f08","name":"tmplOfFaqNoIncident","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"別の言葉で、もう一度お願いします。","x":467.5207824707031,"y":474.9720764160156,"wires":[["a535064b.70f988","cc6facad.3154a"]]},{"id":"cc6facad.3154a","type":"debug","z":"975d2bf4.e30f08","name":"","active":true,"console":"false","complete":"false","x":576.5208740234375,"y":423.97208404541016,"wires":[]},{"id":"a535064b.70f988","type":"link out","z":"975d2bf4.e30f08","name":"dispachQuestion","links":["d40172f6.5c52e"],"x":661.5208740234375,"y":473.9720764160156,"wires":[]},{"id":"60a616f0.cdec58","type":"function","z":"975d2bf4.e30f08","name":"faqReturnNoIncident","func":"flow.set('mail.text', msg.payload);\nflow.set('eventId.FaqRequestAgainMessage', flow.get('mail.text'));\n\nvar msg2 = {};\nmsg2.payload = {\n    eventId: flow.get('Event.eventId'),\n    response: []\n};\n\nif(flow.get('eventId.type') === \"im\"){\n    var responseDetail = {\n        operation: \"im\",\n        im:{}\n    };\n    responseDetail.im.data = \"text/html\"; // \"text/plain\" or \"text/html\"\n    responseDetail.im.text = flow.get('mail.text');\n    msg2.payload.response[0] = responseDetail;\n}\nelse if(flow.get('eventId.type') === \"voice\"){\n    var responseDetail = {\n        operation: \"voice\",\n        voice:{}\n    };\n    responseDetail.voice.text = flow.get('mail.text');\n    msg2.payload.response[0] = responseDetail;\n}\nelse{\n    // mail\n    var responseDetail = {\n        operation: \"mail\",\n        mail:{}\n    };\n//    responseDetail.mail.from = flow.get('mail.from');\n    var mailTo = [];\n    mailTo[0] = flow.get('mail.useremail');\n    responseDetail.mail.to = mailTo;\n//    responseDetail.mail.to = flow.get('mail.useremail');\n    responseDetail.mail.subject = flow.get('mail.subject');\n    responseDetail.mail.text = flow.get('mail.text');\n    msg2.payload.response[0] = responseDetail;\n}\n\nflow.set('eventId.FaqAutoResponseAnswer', msg2.payload);\n\nreturn msg2;","outputs":1,"noerr":0,"x":279.83062744140625,"y":526.4443054199219,"wires":[["89faae6d.ecc9d"]]},{"id":"89faae6d.ecc9d","type":"link out","z":"975d2bf4.e30f08","name":"faqRecieveRequestAgainSendDispatch","links":["c98c9dfe.3a67a","9fdeaf1e.cb26"],"x":605.8306732177734,"y":526.2220153808594,"wires":[]},{"id":"480d47bf.0722f8","type":"comment","z":"975d2bf4.e30f08","name":"Common service","info":"","x":721.5208587646484,"y":523.9721374511719,"wires":[]},{"id":"d40172f6.5c52e","type":"link in","z":"975d2bf4.e30f08","name":"faqReturnNoIncident","links":["a535064b.70f988"],"x":104.89582824707031,"y":527.1110534667969,"wires":[["60a616f0.cdec58"]]},{"id":"55c9c84c.cee5e8","type":"link in","z":"975d2bf4.e30f08","name":"faqNoIncidents","links":["d27c2a8.7699dd8"],"x":103.89582824707031,"y":478.1111145019531,"wires":[["71366308.9b672c"]]},{"id":"4b14fda2.70da54","type":"comment","z":"975d2bf4.e30f08","name":"TODO FAQ_DB retrieve","info":"","x":272.8958282470703,"y":393.8888854980469,"wires":[]},{"id":"b6de1080.9d39","type":"subflow:5dbccf9.8065d3","z":"975d2bf4.e30f08","x":246.89581298828125,"y":1219.5556716918945,"wires":[["71794129.54c43","619291d7.0334e"]]},{"id":"37c3641e.31f81c","type":"debug","z":"975d2bf4.e30f08","name":"","active":true,"console":"false","complete":"false","x":661.8958129882812,"y":290.8888854980469,"wires":[]},{"id":"bd77387b.a27358","type":"debug","z":"975d2bf4.e30f08","name":"","active":true,"console":"false","complete":"false","x":290.89581298828125,"y":426.8888854980469,"wires":[]},{"id":"71794129.54c43","type":"function","z":"975d2bf4.e30f08","name":"Compleate","func":"const msg2 = {};\nmsg2.payload = {\n    eventId: flow.get('Event.eventId'),\n}\n\nreturn msg2;","outputs":1,"noerr":0,"x":423.89581298828125,"y":1219.5556716918945,"wires":[["165200ab.e06e4f"]]},{"id":"165200ab.e06e4f","type":"subflow:53365111.c4a03","z":"975d2bf4.e30f08","name":"","x":608.520751953125,"y":1220.184211730957,"wires":[]},{"id":"c2cfa1c0.32965","type":"link in","z":"975d2bf4.e30f08","name":"jsonServer","links":["7daf8344.f9621c"],"x":95.89573669433594,"y":671.2221984863281,"wires":[["8e0df141.d13f1"]]},{"id":"8e0df141.d13f1","type":"function","z":"975d2bf4.e30f08","name":"json-server","func":"const Settings = context.global.get('aai-common').Settings;\n\n// FaqAutoResponseAnswer Setting =======================\n\nvar msg2 = {};\n\n// Http Request\nmsg2.method = \"GET\";\nmsg2.url = Settings.WEB_JSONSERVER_FAQ + \"?\" + \"no=\" + flow.get('mail.answerUnifiedFaqNo');\nmsg2.body = {};\n\nreturn msg2;","outputs":1,"noerr":0,"x":210.89573669433594,"y":671.2221984863281,"wires":[["c3ab0604.851608","50fbccee.668884"]]},{"id":"50fbccee.668884","type":"debug","z":"975d2bf4.e30f08","name":"","active":true,"console":"false","complete":"false","x":281.8957061767578,"y":626.2221984863281,"wires":[]},{"id":"c3ab0604.851608","type":"http request","z":"975d2bf4.e30f08","name":"[get]json-server","method":"GET","ret":"txt","url":"","tls":"","x":389.89573669433594,"y":670.2221984863281,"wires":[["96a53ab5.497f38","2f0f459d.a86c4a"]]},{"id":"96a53ab5.497f38","type":"function","z":"975d2bf4.e30f08","name":"response","func":"const Settings = context.global.get('aai-common').Settings;\n\n//// Response formatting =======================\nvar jsonResponse = \"\";\ntry{\n    jsonResponse = JSON.parse(msg.payload);\n}\ncatch(e){\n    jsonResponse = msg.payload;\n}\n\n\nvar msg2 = {};\nvar tempJSON = {};\n\n//var tempDocument = [];\nvar messageFaqDetail = \"\";\n\nfor(var j in jsonResponse){\n    if(flow.get('mail.answerUnifiedFaqNo') === jsonResponse[j].no){\n        messageFaqDetail += \"#\" +  flow.get('mail.answerUnifiedFaqNo') + \": \" + jsonResponse[j].title + \"\\n\";\n        messageFaqDetail += jsonResponse[j].context;\n        messageFaqDetail += \"…(<a href=\" + Settings.WEB_REDIRECT_FAQ + \"?id=\"; \n        messageFaqDetail += flow.get('eventId.incidentno') + \"&clickFAQNo=\" + flow.get('mail.answerUnifiedFaqNo');\n        messageFaqDetail += \"&redirectURL=\" + flow.get('mail.answerUrl') + \">\" + \"本文\" + \"</a>)\\n\\n\";\n    }\n//    tempDocument[i] = messageFaqDetail;\n}\n\nmsg2.payload = messageFaqDetail;\n\nreturn msg2;","outputs":1,"noerr":0,"x":559.8957366943359,"y":670.2221984863281,"wires":[["5fac050a.3577bc","6284de48.64db3"]]},{"id":"5fac050a.3577bc","type":"debug","z":"975d2bf4.e30f08","name":"","active":true,"console":"false","complete":"payload","x":621.8957366943359,"y":627.2221984863281,"wires":[]},{"id":"6284de48.64db3","type":"link out","z":"975d2bf4.e30f08","name":"jsonServerResponse","links":["aa805f6a.f730e"],"x":654.8957366943359,"y":671.2221984863281,"wires":[]},{"id":"2f0f459d.a86c4a","type":"debug","z":"975d2bf4.e30f08","name":"","active":true,"console":"false","complete":"payload","x":481.89581298828125,"y":586.888916015625,"wires":[]},{"id":"820bbbdb.34d9c8","type":"link in","z":"975d2bf4.e30f08","name":"CommonMessageStorage","links":["48777eb4.b567"],"x":142.8958282470703,"y":1571.666748046875,"wires":[["4b96884e.406f18"]]},{"id":"619291d7.0334e","type":"function","z":"975d2bf4.e30f08","name":"MessageStorage(Select)","func":"const Settings = context.global.get('aai-common').Settings;\n\n// Response formatting =======================\nvar jsonResponse = \"\";\ntry{\n    jsonResponse = JSON.parse(msg.payload);\n}\ncatch(e){\n    jsonResponse = msg.payload;\n}\n\nflow.set('eventId.responseResult', jsonResponse.responseResult);\nflow.set('mail.responseResult', jsonResponse.responseResult);\n\n// incidents Parameter Setting ==============\nconst msg2 = {};\n\n// make Body\nconst body =  {\n    \"id\": flow.get('eventId.incidentno')\n}\n\nmsg2.payload = body;\n\n// Http Request\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_MESSAGESTORAGE_INCIDENTSSELECTURL;\n\nreturn msg2;","outputs":1,"noerr":0,"x":245.51040649414062,"y":1377.2576293945312,"wires":[["495933a7.77d28c"]]},{"id":"495933a7.77d28c","type":"http request","z":"975d2bf4.e30f08","name":"[POST]/incidentsSelect","method":"POST","ret":"txt","url":"","tls":"","x":487.5104522705078,"y":1377.2575073242188,"wires":[["8f2c3589.cce598"]]},{"id":"8f2c3589.cce598","type":"function","z":"975d2bf4.e30f08","name":"MessageStorage(Update)","func":"const Settings = context.global.get('aai-common').Settings;\n\n// Parameter Setting =======================\nvar message = JSON.parse(msg.payload)[0];\n\nvar jsonResponse = flow.get('mail.responseResult');\n\n// messageid setting\nfor(var i in jsonResponse){\n    if(jsonResponse[i].operation !== undefined && jsonResponse[i].operation === \"mail\"){\n        if (jsonResponse[i].mail !== undefined){\n            for(var j in jsonResponse[i].mail.to){\n                for(var k in message.dispatchFAQ){\n                    if (jsonResponse[i].mail.to[j] === message.dispatchFAQ[k].mailAddress){\n                        message.dispatchFAQ[k].messageid = jsonResponse[i].mail.messageId.messageId;\n                    }\n                }\n                if (flow.get('mail.requestuseremail') === jsonResponse[i].mail.to[j]){\n                    message.requestUser.messageid = jsonResponse[i].mail.messageId.messageId;\n                }\n            }\n            break;\n        }\n    }\n}\nfor(var k in message.dispatchFAQ){\n    if( message.dispatchFAQ[k].messageid === undefined){\n        message.dispatchFAQ[k].messageid = \"\";\n    }\n}\nconst msg2 = {};\n\n// make Body\nconst body =  {\n    \"id\":  flow.get('eventId.incidentno'),\n    \"message\": message\n}\n\nmsg2.payload = body;\n\n// Http Request\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_MESSAGESTORAGE_INCIDENTSUPDATEURL;\n\nreturn msg2;","outputs":1,"noerr":0,"x":292.510498046875,"y":1429.1463012695312,"wires":[["3a8c4dcd.841352","549b70ac.06b6f"]]},{"id":"3a8c4dcd.841352","type":"http request","z":"975d2bf4.e30f08","name":"[POST]/incidentsUpdate","method":"POST","ret":"txt","url":"","tls":"","x":544.5105743408203,"y":1429.1461791992188,"wires":[["48777eb4.b567"]]},{"id":"549b70ac.06b6f","type":"debug","z":"975d2bf4.e30f08","name":"","active":true,"console":"false","complete":"false","x":503.65065002441406,"y":1467.1365356445312,"wires":[]},{"id":"64a9849c.f214fc","type":"comment","z":"975d2bf4.e30f08","name":"incidentsUpdate(messageid)","info":"","x":210.5104217529297,"y":1332.2576293945312,"wires":[]},{"id":"48777eb4.b567","type":"link out","z":"975d2bf4.e30f08","name":"","links":["820bbbdb.34d9c8"],"x":693.8923492431641,"y":1428.9277954101562,"wires":[]},{"id":"4b96884e.406f18","type":"function","z":"975d2bf4.e30f08","name":"MessageStorage(Create replies)","func":"const Settings = context.global.get('aai-common').Settings;\n\nconst msg2 = {};\n\nvar dt = new Date();\n//var datestring = d.getFullYear()  + \"-\" + (\"0\"+(d.getMonth())).slice(-2) + \"-\" + (\"0\" + d.getDate()).slice(-2);\n//datestring += \"T\" + (\"0\" + d.getHours()).slice(-2) + \":\" + (\"0\" + d.getMinutes()).slice(-2) + \":\" + (\"0\" + d.getSeconds()).slice(-2) + \"Z\"; \n\n// make Body\nconst body =  {\n    \"type\": \"replies\",\n    \"text\": flow.get('eventId'),\n    \"from\": {\n      \"id\": flow.get('mail.username'),\n      \"name\": flow.get('mail.useremail')\n    },\n    \"timestamp\": dt,\n    \"address\": {\n      \"type\": flow.get('eventId.type'),\n      \"conversation\" :{\n        \"id\": flow.get('eventId.conversation')\n      }\n    }\n}\n\nmsg2.payload = body;\n\n// Http Request\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_MESSAGESTORAGE_REPLIESURL;\n\nreturn msg2;","outputs":1,"noerr":0,"x":330.89581298828125,"y":1571.888916015625,"wires":[["64370c3e.db0f64","2a3a1263.fec29e"]]},{"id":"64370c3e.db0f64","type":"http request","z":"975d2bf4.e30f08","name":"[POST]/replies","method":"POST","ret":"txt","url":"","tls":"","x":599.8959350585938,"y":1571.8889083862305,"wires":[[]]},{"id":"2a3a1263.fec29e","type":"debug","z":"975d2bf4.e30f08","name":"","active":true,"console":"false","complete":"false","x":577.0360107421875,"y":1530.8791427612305,"wires":[]},{"id":"4161526a.4e511c","type":"link out","z":"975d2bf4.e30f08","name":"dispachQuestion","links":["10361806.497e68"],"x":651.8957977294922,"y":791.3334045410156,"wires":[]},{"id":"10361806.497e68","type":"link in","z":"975d2bf4.e30f08","name":"msgDispatch","links":["4161526a.4e511c"],"x":97.89582824707031,"y":890.3334045410156,"wires":[["e36177d.58d8388"]]},{"id":"e36177d.58d8388","type":"function","z":"975d2bf4.e30f08","name":"msgDispatch","func":"const msg2 = {};\n\nmsg2.payload = flow.get('eventId.FaqDispatchTemp');\n\nreturn msg2;","outputs":1,"noerr":0,"x":205.8958282470703,"y":890.3334045410156,"wires":[["51b3d43f.5c36dc"]]}]