.nodered/lib/flows/30PDReceiveRequest.json
[{"id":"21ff8fea.6274f","type":"subflow","name":"SendChatBotComplete (10)","info":"","in":[{"x":97,"y":130,"wires":[{"id":"d4a0a051.9d1fe"}]}],"out":[]},{"id":"d4a0a051.9d1fe","type":"function","z":"21ff8fea.6274f","name":"SendChatBotComplete","func":"const Settings = context.global.get('aai-common').Settings;\n\nconst msg2 = {};\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_CHATBOT_COMPLETEURL;\nmsg2.payload = msg.payload;\nreturn msg2;","outputs":1,"noerr":0,"x":291.51575469970703,"y":128.75,"wires":[["d6ea1cb7.ed53c"]]},{"id":"d6ea1cb7.ed53c","type":"http request","z":"21ff8fea.6274f","name":"SendChatBotEvent","method":"use","ret":"txt","url":"","tls":"","x":566.5088195800781,"y":128.57293701171875,"wires":[[]]},{"id":"b043de65.85fc7","type":"comment","z":"21ff8fea.6274f","name":"SendChatBotComplete","info":"","x":138,"y":59.70831298828125,"wires":[]},{"id":"5dbccf9.8065d3","type":"subflow","name":"SendChatBotEvent","info":"","in":[{"x":93,"y":137,"wires":[{"id":"93aabbad.47ff18"}]}],"out":[{"x":775,"y":135,"wires":[{"id":"91c4afe3.10023","port":0}]}]},{"id":"93aabbad.47ff18","type":"function","z":"5dbccf9.8065d3","name":"SendChatBotEvent","func":"const Settings = context.global.get('aai-common').Settings;\n\nconst msg2 = {};\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_CHATBOT_NOTIFYURL;\nmsg2.payload = msg.payload;\nreturn msg2;","outputs":1,"noerr":0,"x":289.5079116821289,"y":136.45921325683594,"wires":[["91c4afe3.10023"]]},{"id":"91c4afe3.10023","type":"http request","z":"5dbccf9.8065d3","name":"SendChatBotEvent","method":"use","ret":"txt","url":"","tls":"","x":574.5009765625,"y":136.2821502685547,"wires":[[]]},{"id":"36c3e77e.dff148","type":"comment","z":"5dbccf9.8065d3","name":"SendChatBotEvent","info":"","x":135.99215698242188,"y":67.41752624511719,"wires":[]},{"id":"1c111e6d.d68572","type":"config","z":"a4db238a.58bed","name":"messageSetting","properties":[{"p":"Event","pt":"flow","to":"{ \"eventId\":\"15a25f443061e9\", \"statusId\":\"S15a265570597\", \"conversation\":\"d7c1c3ac-c055-4ec9-b6c5-8fa06956161d\", \"text\":\"接続\", \"timestamp\":\"2017-02-10T02:57:28.862Z\", \"mode\":{ \"commandCode\":\"startTranslateText\", \"modeSet\":{ \"operationMode\":\"AAI_SERVICE_MODE\", \"meetingOpMode\":\"\", \"translationMode\":\"TRANSLATION_ON\" }, \"responseAnswer\":\"\" }}","tot":"json"},{"p":"config.KBASE_SCORE_HIGH_LIMIT","pt":"flow","to":"0.34","tot":"num"},{"p":"config.KBASE_SCORE_MIDDLE_LIMIT","pt":"flow","to":"0.23","tot":"num"},{"p":"mail","pt":"flow","to":"{\"username\" : \"\",\"question\":\"\",\"from\":\"\",\"useremail\":\"\",\"subject\":\"\",\"text\":\"\"}","tot":"json"},{"p":"cons.CREATE_ANSWER","pt":"flow","to":"CREATE_ANSWER","tot":"str"},{"p":"cons.DISPATCH_QUESTION","pt":"flow","to":"DISPATCH_QUESTION","tot":"str"},{"p":"cons.TO_2ND_STAFF","pt":"flow","to":"TO_2ND_STAFF","tot":"str"},{"p":"cons.CANNOT_ANSWER","pt":"flow","to":"CANNOT_ANSWER","tot":"str"},{"p":"answerFaqAutoResponse","pt":"flow","to":"{}","tot":"json"},{"p":"eventId","pt":"flow","to":"{}","tot":"json"},{"p":"cons.TRACK_QUESTION","pt":"flow","to":"QUESTION","tot":"str"},{"p":"state.judgeReply","pt":"flow","to":"","tot":"str"},{"p":"NextFlowParam","pt":"flow","to":"{}","tot":"json"},{"p":"cons.FAQDistpach","pt":"flow","to":"[{\"name\":\"井上\",\"mailaddress\" : \"Inoue.Kyoichi@s50.toshiba-sol.co.jp\"},{\"name\":\"松永\",\"mailaddress\" : \"Matsunaga.Michio@s50.toshiba-sol.co.jp\"}]","tot":"json"}],"active":true,"x":281.4555358886719,"y":20,"wires":[]},{"id":"8afebb38.888918","type":"comment","z":"a4db238a.58bed","name":"Global setting","info":"","x":75,"y":21.45001983642578,"wires":[]},{"id":"d0cc9935.f50bb8","type":"comment","z":"a4db238a.58bed","name":"(30) /PD ReceiveRequest","info":"","x":115,"y":91.88888549804688,"wires":[]},{"id":"b7f78c51.db67a","type":"http in","z":"a4db238a.58bed","name":"","url":"/personDirectory/receiveRequest","method":"post","swaggerDoc":"","x":220.651611328125,"y":136.40328979492188,"wires":[["ea4f8010.93c0d","e635f354.671fa","2309b5d9.ddaf6a"]]},{"id":"ea4f8010.93c0d","type":"http response","z":"a4db238a.58bed","name":"","x":541.2972717285156,"y":135.73761749267578,"wires":[]},{"id":"e635f354.671fa","type":"debug","z":"a4db238a.58bed","name":"","active":true,"console":"false","complete":"true","x":545.7193756103516,"y":93.72897338867188,"wires":[]},{"id":"e60005d3.a74858","type":"function","z":"a4db238a.58bed","name":"MessageStorage(Create Questions)","func":"const Settings = context.global.get('aai-common').Settings;\n\nconst msg2 = {};\n\nvar dt = new Date();\n//var datestring = d.getFullYear()  + \"-\" + (\"0\"+(d.getMonth())).slice(-2) + \"-\" + (\"0\" + d.getDate()).slice(-2);\n//datestring += \"T\" + (\"0\" + d.getHours()).slice(-2) + \":\" + (\"0\" + d.getMinutes()).slice(-2) + \":\" + (\"0\" + d.getSeconds()).slice(-2) + \"Z\"; \n\n// make Body\nconst body =  {\n    \"type\": \"questions\",\n    \"text\": flow.get('eventId'),\n    \"from\": {\n      \"id\": flow.get('mail.username'),\n      \"name\": flow.get('mail.useremail')\n    },\n    \"timestamp\": dt,\n    \"address\": {\n      \"type\": flow.get('eventId.type'),\n      \"conversation\" :{\n        \"id\": flow.get('eventId.conversation')\n      }\n    }\n}\n\nmsg2.payload = body;\n\n// Http Request\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_MESSAGESTORAGE_QUESTIONSURL;\n\nreturn msg2;","outputs":1,"noerr":0,"x":330.7555389404297,"y":1063.6146850585938,"wires":[["9fd5b13e.700b8","56e80b5d.415194"]]},{"id":"9fd5b13e.700b8","type":"http request","z":"a4db238a.58bed","name":"[POST]/questions","method":"POST","ret":"txt","url":"","tls":"","x":599.7556610107422,"y":1063.6146774291992,"wires":[[]]},{"id":"ab2038a1.5da868","type":"comment","z":"a4db238a.58bed","name":"Common service","info":"","x":85,"y":1018.6146774291992,"wires":[]},{"id":"56e80b5d.415194","type":"debug","z":"a4db238a.58bed","name":"","active":true,"console":"false","complete":"false","x":566.8957366943359,"y":1022.6049118041992,"wires":[]},{"id":"46bc6ab4.36bd74","type":"link in","z":"a4db238a.58bed","name":"pdDispatchMessageStorage","links":["d50ff30d.8ab32"],"x":131.28123474121094,"y":1063.6743698120117,"wires":[["e60005d3.a74858"]]},{"id":"79f44719.094218","type":"comment","z":"a4db238a.58bed","name":"Common service","info":"","x":680.5859680175781,"y":935.9101791381836,"wires":[]},{"id":"bd897120.5d4f8","type":"debug","z":"a4db238a.58bed","name":"","active":true,"console":"false","complete":"false","x":491.58592224121094,"y":787.9101867675781,"wires":[]},{"id":"e7f9e8bd.166be8","type":"link out","z":"a4db238a.58bed","name":"dispachQuestion","links":["a698f2ef.e8983","a72bedbb.1e981"],"x":621.5859832763672,"y":831.9101867675781,"wires":[]},{"id":"a698f2ef.e8983","type":"link in","z":"a4db238a.58bed","name":"pdDispatchAgainSendMail","links":["e7f9e8bd.166be8"],"x":72.40602111816406,"y":937.9311752319336,"wires":[["22ee5573.65b35a"]]},{"id":"dfa9bc26.bc342","type":"debug","z":"a4db238a.58bed","name":"","active":true,"console":"false","complete":"false","x":487.8957214355469,"y":892.3823471069336,"wires":[]},{"id":"48ad3fda.95a0a","type":"link in","z":"a4db238a.58bed","name":"pdDispatchSendChatBotEvent","links":["6133dbd1.29bd24","d50ff30d.8ab32"],"x":76.89582824707031,"y":1130.3820190429688,"wires":[["19557d14.1df6a3","4a6b5d9d.8140f4"]]},{"id":"6133dbd1.29bd24","type":"link out","z":"a4db238a.58bed","name":"faqRecieveRequestAgainSendDispatch","links":["48ad3fda.95a0a"],"x":564.8957366943359,"y":935.1600646972656,"wires":[]},{"id":"2309b5d9.ddaf6a","type":"function","z":"a4db238a.58bed","name":"MessageStorage(Select)","func":"const Settings = context.global.get('aai-common').Settings;\n\n// Parameter Initializing =======================\nflow.set('Event', {});\nflow.set('mail', {});\nflow.set('answerFaqAutoResponse', {});\nflow.set('eventId', {});\nflow.set('state.judgeReply', \"\");\nflow.set('NextFlowParam', {});\n\n// Parameter Setting =======================\nflow.set('Event.eventId', msg.payload.eventId);\nflow.set('eventId', msg.payload);\nflow.set('eventId.tracker', context.flow.get('cons.TRACK_QUESTION'));\nflow.set('eventId.type', msg.payload.type);\nflow.set('eventId.conversation', msg.payload.conversation);\nif(msg.payload.mailData !== undefined){\n    flow.set('eventId.messageId',msg.payload.mailData.messageId);\n    flow.set('eventId.inReplyTo',msg.payload.mailData.inReplyTo);\n}\nelse{\n    flow.set('eventId.messageId',\"\");\n    flow.set('eventId.inReplyTo',\"\");\n}\nflow.set('mail.from', context.global.get('cons.FROM_MAIL_ADDRESS'));\nflow.set('mail.subject', msg.payload.subject);\nflow.set('mail.username', msg.payload.user.name);\nif(msg.payload.user.emailAddresses === undefined || msg.payload.user.emailAddresses === \"\"){\n    if(msg.payload.type === \"mail\"){\n        flow.set('mail.useremail', msg.payload.user.uri);\n    }\n    else{\n        // \"sip:\" cut\n        flow.set('mail.useremail', msg.payload.user.uri.substring(4));\n    }\n}\nelse{\n    flow.set('mail.useremail',msg.payload.user.emailAddresses);\n}\nflow.set('mail.question',msg.payload.text);\n\n// incidents Parameter Setting ==============\nconst msg2 = {};\n\nvar dt = new Date();\ndt.setTime(dt.getTime() - (30 * 86400000));\n\nvar body = {};\n// make Body\nif(flow.get('eventId.inReplyTo') !== null && flow.get('eventId.inReplyTo') !== \"\"){\n    body =  {\n//        \"message.incidentStatus\": Settings.INCIDENT_STATUS_FAQFIRSTANSWER,   //FAQFirstAnswer\n        \"message.requestUser.mailAddress\": flow.get('mail.useremail'),\n        \"message.requestUser.messageid\": flow.get('eventId.inReplyTo'),\n//        \"message.requestUser.responseDate\": { \"$gte\": dt },\n    \t\"sort$\":{\"message.requestUser.responseDate\":\"-1\"}       // responseDate Desc Sort\n    };\n}\nelse{\n    body =  {\n//        \"message.incidentStatus\": Settings.INCIDENT_STATUS_FAQFIRSTANSWER,   //FAQFirstAnswer\n        \"message.requestUser.mailAddress\": flow.get('mail.useremail'),\n//        \"message.requestUser.responseDate\": { \"$gte\": dt },\n    \t\"sort$\":{\"message.requestUser.responseDate\":\"-1\"}       // responseDate Desc Sort\n    };\n}\nmsg2.payload = body;\n\n// Http Request\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_MESSAGESTORAGE_INCIDENTSSELECTURL;\n\nreturn msg2;","outputs":1,"noerr":0,"x":280.8957824707031,"y":209.7152099609375,"wires":[["7aa6737f.a81d0c","607f072.d8747f8"]]},{"id":"7aa6737f.a81d0c","type":"http request","z":"a4db238a.58bed","name":"[POST]/incidentsSelect","method":"POST","ret":"txt","url":"","tls":"","x":523.8958435058594,"y":209.7152099609375,"wires":[["bc459976.f1d6f8","d1603577.3bf328"]]},{"id":"4688a42b.35265c","type":"inject","z":"a4db238a.58bed","name":"debug data inject","topic":"","payload":"{    \"eventId\":\"15a25f443061e9\",   \"statusId\":\"S15a265570597\",   \"conversation\":\"d7c1c3ac-c055-4ec9-b6c5-8fa06956161d\",   \"text\":\"エスカレーションして\",   \"timestamp\":\"2017-02-10T02:57:28.862Z\",   \"mode\":{      \"commandCode\":\"\",     \"modeSet\":{     \"operationMode\":\"b\",     \"meetingOpMode\":\"\",     \"translationMode\":\"TRANSLATION_ON\"     },     \"responseAnswer\":\"\"   },   \"user\":[     {        \"name\":\"横山 暁\",       \"uri\":\"sip:yokoyama-s@tsol365.onmicrosoft.com\",       \"contact\":\"/ucwa/oauth/v1/applications/103128404856/people/yokoyama-s@tsol365.onmicrosoft.com\",       \"translate\":{         \"src_lang\":\"ja\",         \"tgt_lang\":\"en\",         \"arrange\":true       }     }   ] }","payloadType":"json","repeat":"","crontab":"","once":false,"x":149.89578247070312,"y":257.8262939453125,"wires":[["2309b5d9.ddaf6a"]]},{"id":"607f072.d8747f8","type":"debug","z":"a4db238a.58bed","name":"","active":true,"console":"false","complete":"false","x":350.8957824707031,"y":253.8262939453125,"wires":[]},{"id":"74043c89.347ec4","type":"link in","z":"a4db238a.58bed","name":"pdDispatchMessage","links":["acf3cd40.ef59b"],"x":72.2742919921875,"y":737.77392578125,"wires":[["34e565eb.24376a"]]},{"id":"492fd4d0.0563ec","type":"function","z":"a4db238a.58bed","name":"faqDispatchIncidents","func":"const Settings = context.global.get('aai-common').Settings;\n\n// Parameter Setting =======================\nvar messages = JSON.parse(msg.payload);\n\nvar body = {\n     \"messageCount\": messages.length\n};\n\nvar before30dt = new Date();\nbefore30dt.setTime(before30dt.getTime() - (30 * 86400000));\n\n// 全部取って判定\nfor(var i in messages){\n    if(messages[i].createDate <= before30dt){\n        body.messageCount = -1; // Settion Time Out\n        break;\n    }\n    if(messages[i].incidentStatus != Settings.INCIDENT_STATUS_FAQFIRSTANSWER){\n        body.messageCount = 0;\n        break;\n    }\n    \n    flow.set('eventId.incidentno', messages[i].incidentno);\n    body.message = messages[i];\n    flow.set('NextFlowParam.pdmailaddress', messages[i].requestUser.responsePDMenbers);\n    body.question = messages[i].requestUser.question;\n    break;\n}\n\nvar pdDistpach = flow.get('NextFlowParam.pdmailaddress');\nif(pdDistpach === undefined || pdDistpach === null || pdDistpach.mailAddress === \"\"){\n    body.messageCount = 0;\n}\nelse if(pdDistpach.length <= 0){\n    body.messageCount = pdDistpach.length;\n}\n\nvar msg2 = {};\nmsg2.payload = body;\n\nreturn msg2;","outputs":1,"noerr":0,"x":210.8958282470703,"y":321.826416015625,"wires":[["ce0e7f07.46f3e","1532158a.265b9a"]]},{"id":"96ecbd84.0cdfa","type":"link in","z":"a4db238a.58bed","name":"pdDispatchIncidents","links":["bc459976.f1d6f8"],"x":72.27084350585938,"y":321.9931640625,"wires":[["492fd4d0.0563ec"]]},{"id":"ce0e7f07.46f3e","type":"debug","z":"a4db238a.58bed","name":"","active":true,"console":"false","complete":"false","x":332.89576721191406,"y":370.6145324707031,"wires":[]},{"id":"1532158a.265b9a","type":"switch","z":"a4db238a.58bed","name":"","property":"payload.messageCount","propertyType":"msg","rules":[{"t":"lt","v":"1","vt":"str"},{"t":"gte","v":"1","vt":"str"}],"checkall":"true","outputs":2,"x":402.27085876464844,"y":321.9756774902344,"wires":[["26519cb8.dbfa54"],["acf3cd40.ef59b"]]},{"id":"acf3cd40.ef59b","type":"link out","z":"a4db238a.58bed","name":"","links":["74043c89.347ec4"],"x":511.2847137451172,"y":343.0694274902344,"wires":[]},{"id":"260638cc.bbf088","type":"comment","z":"a4db238a.58bed","name":"dispatchMessage","info":"","x":623.8957977294922,"y":341.6145324707031,"wires":[]},{"id":"8e204d2.0c0aeb","type":"comment","z":"a4db238a.58bed","name":"dispatchMessage","info":"","x":135.89581298828125,"y":688.6145629882812,"wires":[]},{"id":"aa5af28e.6adaf","type":"comment","z":"a4db238a.58bed","name":"Common service","info":"","x":684.8958129882812,"y":596.947868347168,"wires":[]},{"id":"8cc49bef.1d0898","type":"template","z":"a4db238a.58bed","name":"tmplOfPDNoIncident","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"別の言葉で、もう一度お願いします。","x":432.89573669433594,"y":509.9478073120117,"wires":[["9bd72ccf.bcf6c","b0bab69c.f14b58"]]},{"id":"b0bab69c.f14b58","type":"debug","z":"a4db238a.58bed","name":"","active":true,"console":"false","complete":"false","x":541.8958282470703,"y":458.94781494140625,"wires":[]},{"id":"9bd72ccf.bcf6c","type":"link out","z":"a4db238a.58bed","name":"dispachQuestion","links":["11a99c95.d82e03","a72bedbb.1e981"],"x":626.8958282470703,"y":508.9478073120117,"wires":[]},{"id":"56324550.b1a69c","type":"function","z":"a4db238a.58bed","name":"faqReturnNoIncident","func":"flow.set('mail.text', msg.payload);\nflow.set('eventId.FaqRequestAgainMessage', flow.get('mail.text'));\n\nvar msg2 = {};\nmsg2.payload = {\n    eventId: flow.get('Event.eventId'),\n    response: []\n};\n\nif(flow.get('eventId.type') === \"im\"){\n    var responseDetail = {\n        operation: \"im\",\n        im:{}\n    };\n    responseDetail.im.data = \"text/plain\"; // \"text/plain\" or \"text/html\"\n    responseDetail.im.text = flow.get('mail.text');\n    msg2.payload.response[0] = responseDetail;\n}\nelse if(flow.get('eventId.type') === \"voice\"){\n    var responseDetail = {\n        operation: \"voice\",\n        voice:{}\n    };\n    responseDetail.voice.text = flow.get('mail.text');\n    msg2.payload.response[0] = responseDetail;\n}\nelse{\n    // mail\n    var responseDetail = {\n        operation: \"mail\",\n        mail:{}\n    };\n//    responseDetail.mail.from = flow.get('mail.from');\n    var mailTo = [];\n    mailTo[0] = flow.get('mail.useremail');\n    responseDetail.mail.to = mailTo;\n    responseDetail.mail.subject = flow.get('mail.subject');\n    responseDetail.mail.text = flow.get('mail.text');\n    msg2.payload.response[0] = responseDetail;\n}\n\nflow.set('eventId.FaqAutoResponseAnswer', msg2.payload);\n\nreturn msg2;","outputs":1,"noerr":0,"x":243.20558166503906,"y":599.420036315918,"wires":[["6caed8e0.960138","d50ff30d.8ab32"]]},{"id":"11a99c95.d82e03","type":"link in","z":"a4db238a.58bed","name":"pdDispatchAgainSendMail","links":["9bd72ccf.bcf6c"],"x":76.71586608886719,"y":598.968864440918,"wires":[["56324550.b1a69c"]]},{"id":"6caed8e0.960138","type":"debug","z":"a4db238a.58bed","name":"","active":true,"console":"false","complete":"false","x":492.20556640625,"y":553.420036315918,"wires":[]},{"id":"d50ff30d.8ab32","type":"link out","z":"a4db238a.58bed","name":"faqRecieveRequestAgainSendDispatch","links":["46bc6ab4.36bd74","48ad3fda.95a0a"],"x":569.2056274414062,"y":599.1977462768555,"wires":[]},{"id":"439fb1c4.bf8b1","type":"link in","z":"a4db238a.58bed","name":"pdNoIncident","links":["26519cb8.dbfa54"],"x":76.58413696289062,"y":510.8116149902344,"wires":[["8cc49bef.1d0898"]]},{"id":"b25c83e.f13cf8","type":"comment","z":"a4db238a.58bed","name":"noIncident","info":"","x":120.20565795898438,"y":461.6522521972656,"wires":[]},{"id":"26519cb8.dbfa54","type":"link out","z":"a4db238a.58bed","name":"","links":["439fb1c4.bf8b1"],"x":512.2847137451172,"y":296.17010498046875,"wires":[]},{"id":"c48b5998.d1b458","type":"comment","z":"a4db238a.58bed","name":"noIncident","info":"","x":604.8957977294922,"y":295.72564697265625,"wires":[]},{"id":"34e565eb.24376a","type":"function","z":"a4db238a.58bed","name":"MessageStorage(Update)","func":"const Settings = context.global.get('aai-common').Settings;\n\nflow.set('eventId.pdDispatchTemp', msg.payload);\n\n// Parameter Setting =======================\nvar message = msg.payload.message;\n\nvar dt = new Date();\n\nmessage.incidentStatus = Settings.INCIDENT_STATUS_PDREQUESTING;   //PDRequesting\nmessage.chaneltype = flow.get('eventId.type');\n\nvar pdDistpach = flow.get('NextFlowParam.pdmailaddress');\nconsole.log(\"pdDistpach \" + pdDistpach);\n//var dispatchPDDetail = [];\nfor(var i in pdDistpach){\n    var dispatchPDDetail = {};\n    dispatchPDDetail.mailAddress = pdDistpach[i];\n    dispatchPDDetail.dispatchDate = dt;\n    message.dispatchPD[i] = dispatchPDDetail;\n}\n//message.dispatchPD = dispatchPDDetail;\n\nconst msg2 = {};\n\n// make Body\nconst body =  {\n    \"id\":  msg.payload.message.incidentno,\n    \"message\": message\n};\n\nmsg2.payload = body;\n\n// Http Request\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_MESSAGESTORAGE_INCIDENTSUPDATEURL;\n\nreturn msg2;","outputs":1,"noerr":0,"x":223.8957977294922,"y":736.9479675292969,"wires":[["57a2cc51.867cf4","cab8f348.df5dc"]]},{"id":"57a2cc51.867cf4","type":"http request","z":"a4db238a.58bed","name":"[POST]/incidentsUpdate","method":"POST","ret":"txt","url":"","tls":"","x":470.89585876464844,"y":735.9478454589844,"wires":[["40155aa3.39e8c4"]]},{"id":"cab8f348.df5dc","type":"debug","z":"a4db238a.58bed","name":"","active":true,"console":"false","complete":"false","x":428.0359344482422,"y":684.9382019042969,"wires":[]},{"id":"ac837aa3.a7fee8","type":"template","z":"a4db238a.58bed","name":"tmpOfPersonDirectoryDispatch","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"アシスタントAIサービス、モモチです。\n\nある方から私宛てに以下の質問をいただいたのですが、なにかご存知のことがあれば、教えていただけないでしょうか。\nもし、ご回答をいただければ、質問者の方に転送させていただきます。\nなお、匿名で回答しますので、回答文中の個人情報は消していただけるよう、お願いします。\n\n<質問>\n{{payload.question}}","x":435.89573669433594,"y":831.8889465332031,"wires":[["bd897120.5d4f8","e7f9e8bd.166be8"]]},{"id":"22ee5573.65b35a","type":"function","z":"a4db238a.58bed","name":"pdRecieveRequestSendDispatch","func":"flow.set('mail.text', msg.payload);\n\nvar msg2 = {};\nmsg2.payload = {\n    eventId: flow.get('Event.eventId'),\n    response: []\n};\nvar returnMessage = \"アシスタントAIサービス、モモチです。\\n\\nでは、詳しそうな方に聞いてみます。回答がありましたら、あらためてご連絡します。\";\n\nif(flow.get('eventId.type') === \"im\"){\n    var responseDetail = {\n        operation: \"im\",\n        im:{}\n    };\n    responseDetail.im.data = \"text/plain\"; // \"text/plain\" or \"text/html\"\n    responseDetail.im.text = returnMessage;\n    msg2.payload.response[0] = responseDetail;\n}\nelse if(flow.get('eventId.type') === \"voice\"){\n    var responseDetail = {\n        operation: \"voice\",\n        voice:{}\n    };\n    responseDetail.voice.text = returnMessage;\n    msg2.payload.response[0] = responseDetail;\n}\nelse{\n    // mail\n    var responseDetail = {\n        operation: \"mail\",\n        mail:{}\n    };\n//    responseDetail.mail.from = flow.get('mail.from');\n    var mailTo = [];\n    mailTo[0] = flow.get('mail.useremail');\n    responseDetail.mail.to = mailTo;\n//    responseDetail.mail.to = flow.get('mail.useremail');\n    responseDetail.mail.subject = \"RE:\" + flow.get('mail.subject').replace(\"RE:\" , \"\");\n    responseDetail.mail.text = returnMessage.replace(/\\n/g , \"<br>\" );\n    msg2.payload.response[0] = responseDetail;\n}\n\n// dispatchMail\nvar dispatchDetail = {\n    operation: \"mail\",\n    mail:{}\n};\n//dispatchDetail.mail.from = flow.get('mail.from');\nvar mailTo = [];\nmailTo[0] = flow.get('mail.from');\ndispatchDetail.mail.to = mailTo;\ndispatchDetail.mail.bcc = flow.get('NextFlowParam.pdmailaddress');\nif(flow.get('eventId.type') === \"mail\"){\n    dispatchDetail.mail.subject = flow.get('mail.subject');\n}\nelse{\n    dispatchDetail.mail.subject = \"ご存知ありませんでしょうか\";\n}\ndispatchDetail.mail.text = flow.get('mail.text').replace(/\\n/g , \"<br>\" );\nmsg2.payload.response[1] = dispatchDetail;\n\nflow.set('eventId.FaqAutoResponseAnswer', msg2.payload);\n\nreturn msg2;","outputs":1,"noerr":0,"x":291.8957977294922,"y":935.8889465332031,"wires":[["6133dbd1.29bd24"]]},{"id":"bc459976.f1d6f8","type":"link out","z":"a4db238a.58bed","name":"","links":["96ecbd84.0cdfa"],"x":674.2708587646484,"y":210.0482177734375,"wires":[]},{"id":"4a6b5d9d.8140f4","type":"debug","z":"a4db238a.58bed","name":"","active":true,"console":"false","complete":"false","x":225.8958282470703,"y":1172.5556640625,"wires":[]},{"id":"19557d14.1df6a3","type":"subflow:5dbccf9.8065d3","z":"a4db238a.58bed","x":249.89584350585938,"y":1129.3439407348633,"wires":[["a20f2007.a33fd","b841afd5.9c418"]]},{"id":"9a6de9d8.6253a8","type":"function","z":"a4db238a.58bed","name":"Compleate","func":"const msg2 = {};\nmsg2.payload = {\n    eventId: flow.get('Event.eventId'),\n}\n\nreturn msg2;","outputs":1,"noerr":0,"x":518.8958282470703,"y":1129.3440551757812,"wires":[["39cb3b6d.bce8c4"]]},{"id":"39cb3b6d.bce8c4","type":"subflow:21ff8fea.6274f","z":"a4db238a.58bed","name":"","x":703.5207672119141,"y":1129.9725952148438,"wires":[]},{"id":"d7644c69.9e906","type":"link in","z":"a4db238a.58bed","name":"CommonMessageStorage","links":["61ed6546.5128bc"],"x":91.89582824707031,"y":1478.5556640625,"wires":[["e3a3f44c.1a8318"]]},{"id":"a20f2007.a33fd","type":"function","z":"a4db238a.58bed","name":"MessageStorage(Select)","func":"const Settings = context.global.get('aai-common').Settings;\n\n// Response formatting =======================\nvar jsonResponse = \"\";\ntry{\n    jsonResponse = JSON.parse(msg.payload);\n}\ncatch(e){\n    jsonResponse = msg.payload;\n}\n\nflow.set('eventId.responseResult', jsonResponse.responseResult);\nflow.set('mail.responseResult', jsonResponse.responseResult);\n\n// incidents Parameter Setting ==============\nconst msg2 = {};\n\n// make Body\nconst body =  {\n    \"id\": flow.get('eventId.incidentno')\n}\n\nmsg2.payload = body;\n\n// Http Request\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_MESSAGESTORAGE_INCIDENTSSELECTURL;\n\nreturn msg2;","outputs":1,"noerr":0,"x":251.51040649414062,"y":1283.146484375,"wires":[["f889dc2d.da68"]]},{"id":"f889dc2d.da68","type":"http request","z":"a4db238a.58bed","name":"[POST]/incidentsSelect","method":"POST","ret":"txt","url":"","tls":"","x":493.5104522705078,"y":1283.1463623046875,"wires":[["2fb8e1b7.e2a65e"]]},{"id":"2fb8e1b7.e2a65e","type":"function","z":"a4db238a.58bed","name":"MessageStorage(Update)","func":"const Settings = context.global.get('aai-common').Settings;\n\n// Parameter Setting =======================\nvar message = JSON.parse(msg.payload)[0];\n\nvar jsonResponse = flow.get('mail.responseResult');\n\n// messageid setting\nfor(var i in jsonResponse){\n    if(jsonResponse[i].operation !== undefined && jsonResponse[i].operation === \"mail\"){\n        if (jsonResponse[i].mail !== undefined){\n            for(var j in jsonResponse[i].mail.bcc){\n                for(var k in message.dispatchPD){\n//                    if(j === 0){\n//                        if (jsonResponse[i].mail.bcc[j][0] === message.dispatchPD[k].mailAddress){\n//                            message.dispatchPD[k].messageid = jsonResponse[i].mail.messageId.messageId;\n//                        }\n//                    }\n//                    else{\n                        if (jsonResponse[i].mail.bcc[j] === message.dispatchPD[k].mailAddress){\n                            message.dispatchPD[k].messageid = jsonResponse[i].mail.messageId.messageId;\n                        }\n//                    }\n                }\n            }\n            break;\n        }\n    }\n}\nfor(var k in message.dispatchPD){\n    if( message.dispatchPD[k].messageid === undefined){\n        message.dispatchPD[k].messageid = \"\";\n    }\n}\nif(message.requestUser.messageid === undefined){\n    message.requestUser.messageid = \"\";\n}\n\nconst msg2 = {};\n\n// make Body\nconst body =  {\n    \"id\":  flow.get('eventId.incidentno'),\n    \"message\": message\n};\n\nmsg2.payload = body;\n\n// Http Request\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_MESSAGESTORAGE_INCIDENTSUPDATEURL;\n\nreturn msg2;","outputs":1,"noerr":0,"x":298.510498046875,"y":1335.03515625,"wires":[["3cdf79ff.5f3806","894644fa.d3fb68"]]},{"id":"3cdf79ff.5f3806","type":"http request","z":"a4db238a.58bed","name":"[POST]/incidentsUpdate","method":"POST","ret":"txt","url":"","tls":"","x":550.5105743408203,"y":1335.0350341796875,"wires":[["61ed6546.5128bc"]]},{"id":"894644fa.d3fb68","type":"debug","z":"a4db238a.58bed","name":"","active":true,"console":"false","complete":"false","x":509.65065002441406,"y":1373.025390625,"wires":[]},{"id":"c8ba42f2.55cb8","type":"comment","z":"a4db238a.58bed","name":"incidentsUpdate(messageid)","info":"","x":216.5104217529297,"y":1238.146484375,"wires":[]},{"id":"e3a3f44c.1a8318","type":"function","z":"a4db238a.58bed","name":"MessageStorage(Create Questions)","func":"const Settings = context.global.get('aai-common').Settings;\n\nconst msg2 = {};\n\nvar dt = new Date();\n//var datestring = d.getFullYear()  + \"-\" + (\"0\"+(d.getMonth())).slice(-2) + \"-\" + (\"0\" + d.getDate()).slice(-2);\n//datestring += \"T\" + (\"0\" + d.getHours()).slice(-2) + \":\" + (\"0\" + d.getMinutes()).slice(-2) + \":\" + (\"0\" + d.getSeconds()).slice(-2) + \"Z\"; \n\n// make Body\nconst body =  {\n    \"type\": \"questions\",\n    \"text\": flow.get('eventId'),\n    \"from\": {\n      \"id\": flow.get('mail.username'),\n      \"name\": flow.get('mail.useremail')\n    },\n    \"timestamp\": dt,\n    \"address\": {\n      \"type\": flow.get('eventId.type'),\n      \"conversation\" :{\n        \"id\": flow.get('eventId.conversation')\n      }\n    }\n}\n\nmsg2.payload = body;\n\n// Http Request\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_MESSAGESTORAGE_QUESTIONSURL;\n\nreturn msg2;","outputs":1,"noerr":0,"x":283.5104064941406,"y":1478.36865234375,"wires":[["40b3f7bb.0fd2e8","3e3db647.bd2cda"]]},{"id":"40b3f7bb.0fd2e8","type":"http request","z":"a4db238a.58bed","name":"[POST]/questions","method":"POST","ret":"txt","url":"","tls":"","x":552.5105285644531,"y":1478.3686447143555,"wires":[[]]},{"id":"3e3db647.bd2cda","type":"debug","z":"a4db238a.58bed","name":"","active":true,"console":"false","complete":"false","x":519.6506042480469,"y":1437.3588790893555,"wires":[]},{"id":"61ed6546.5128bc","type":"link out","z":"a4db238a.58bed","name":"","links":["d7644c69.9e906"],"x":699.8923492431641,"y":1334.816650390625,"wires":[]},{"id":"6b3c7bef.af44d4","type":"function","z":"a4db238a.58bed","name":"msgDispatch","func":"const msg2 = {};\n\nmsg2.payload = flow.get('eventId.pdDispatchTemp');\n\nreturn msg2;","outputs":1,"noerr":0,"x":200.895751953125,"y":831.3334045410156,"wires":[["ac837aa3.a7fee8"]]},{"id":"f91dbc62.aa4f7","type":"link in","z":"a4db238a.58bed","name":"msgDispatch","links":["40155aa3.39e8c4"],"x":75.89576721191406,"y":831.3334045410156,"wires":[["6b3c7bef.af44d4"]]},{"id":"40155aa3.39e8c4","type":"link out","z":"a4db238a.58bed","name":"dispachQuestion","links":["f91dbc62.aa4f7"],"x":623.8957366943359,"y":736.3334045410156,"wires":[]},{"id":"b841afd5.9c418","type":"debug","z":"a4db238a.58bed","name":"","active":true,"console":"false","complete":"false","x":414.89581298828125,"y":1193.888916015625,"wires":[]},{"id":"d1603577.3bf328","type":"debug","z":"a4db238a.58bed","name":"","active":true,"console":"false","complete":"false","x":696.8958129882812,"y":257.8888854980469,"wires":[]}]