.nodered/lib/flows/31PDResponseFromStaff.json
[{"id":"868e9cd5.90d61","type":"subflow","name":"SendChatBotComplete (10)","info":"","in":[{"x":97,"y":130,"wires":[{"id":"9d164e6b.d00b5"}]}],"out":[]},{"id":"9d164e6b.d00b5","type":"function","z":"868e9cd5.90d61","name":"SendChatBotComplete","func":"const Settings = context.global.get('aai-common').Settings;\n\nconst msg2 = {};\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_CHATBOT_COMPLETEURL;\nmsg2.payload = msg.payload;\nreturn msg2;","outputs":1,"noerr":0,"x":291.51575469970703,"y":128.75,"wires":[["37d3b592.fc0a1a"]]},{"id":"37d3b592.fc0a1a","type":"http request","z":"868e9cd5.90d61","name":"SendChatBotEvent","method":"use","ret":"txt","url":"","tls":"","x":566.5088195800781,"y":128.57293701171875,"wires":[[]]},{"id":"61694192.53947","type":"comment","z":"868e9cd5.90d61","name":"SendChatBotComplete","info":"","x":138,"y":59.70831298828125,"wires":[]},{"id":"5dbccf9.8065d3","type":"subflow","name":"SendChatBotEvent","info":"","in":[{"x":93,"y":137,"wires":[{"id":"93aabbad.47ff18"}]}],"out":[{"x":775,"y":135,"wires":[{"id":"91c4afe3.10023","port":0}]}]},{"id":"93aabbad.47ff18","type":"function","z":"5dbccf9.8065d3","name":"SendChatBotEvent","func":"const Settings = context.global.get('aai-common').Settings;\n\nconst msg2 = {};\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_CHATBOT_NOTIFYURL;\nmsg2.payload = msg.payload;\nreturn msg2;","outputs":1,"noerr":0,"x":289.5079116821289,"y":136.45921325683594,"wires":[["91c4afe3.10023"]]},{"id":"91c4afe3.10023","type":"http request","z":"5dbccf9.8065d3","name":"SendChatBotEvent","method":"use","ret":"txt","url":"","tls":"","x":574.5009765625,"y":136.2821502685547,"wires":[[]]},{"id":"36c3e77e.dff148","type":"comment","z":"5dbccf9.8065d3","name":"SendChatBotEvent","info":"","x":135.99215698242188,"y":67.41752624511719,"wires":[]},{"id":"faaa09d1.4e8558","type":"config","z":"7327e9f0.126388","name":"messageSetting","properties":[{"p":"Event","pt":"flow","to":"{ \"eventId\":\"15a25f443061e9\", \"statusId\":\"S15a265570597\", \"conversation\":\"d7c1c3ac-c055-4ec9-b6c5-8fa06956161d\", \"text\":\"接続\", \"timestamp\":\"2017-02-10T02:57:28.862Z\", \"mode\":{ \"commandCode\":\"startTranslateText\", \"modeSet\":{ \"operationMode\":\"AAI_SERVICE_MODE\", \"meetingOpMode\":\"\", \"translationMode\":\"TRANSLATION_ON\" }, \"responseAnswer\":\"\" }}","tot":"json"},{"p":"config.KBASE_SCORE_HIGH_LIMIT","pt":"flow","to":"0.34","tot":"num"},{"p":"config.KBASE_SCORE_MIDDLE_LIMIT","pt":"flow","to":"0.23","tot":"num"},{"p":"mail","pt":"flow","to":"{\"username\" : \"\",\"question\":\"\",\"from\":\"\",\"useremail\":\"\",\"subject\":\"\",\"text\":\"\"}","tot":"json"},{"p":"cons.CREATE_ANSWER","pt":"flow","to":"CREATE_ANSWER","tot":"str"},{"p":"cons.DISPATCH_QUESTION","pt":"flow","to":"DISPATCH_QUESTION","tot":"str"},{"p":"cons.TO_2ND_STAFF","pt":"flow","to":"TO_2ND_STAFF","tot":"str"},{"p":"cons.CANNOT_ANSWER","pt":"flow","to":"CANNOT_ANSWER","tot":"str"},{"p":"answerFaqAutoResponse","pt":"flow","to":"{}","tot":"json"},{"p":"eventId","pt":"flow","to":"{}","tot":"json"},{"p":"cons.TRACK_QUESTION","pt":"flow","to":"QUESTION","tot":"str"},{"p":"state.judgeReply","pt":"flow","to":"","tot":"str"},{"p":"NextFlowParam","pt":"flow","to":"{}","tot":"json"},{"p":"cons.FAQDistpach","pt":"flow","to":"[{\"name\":\"井上\",\"mailaddress\" : \"Inoue.Kyoichi@s50.toshiba-sol.co.jp\"},{\"name\":\"松永\",\"mailaddress\" : \"Matsunaga.Michio@s50.toshiba-sol.co.jp\"}]","tot":"json"}],"active":true,"x":281.4555358886719,"y":20,"wires":[]},{"id":"23cdccf5.1ec3d4","type":"comment","z":"7327e9f0.126388","name":"Global setting","info":"","x":75,"y":21.45001983642578,"wires":[]},{"id":"b0477317.2240a","type":"function","z":"7327e9f0.126388","name":"ResponseIncidents","func":"const Settings = context.global.get('aai-common').Settings;\n\n// Parameter Setting =======================\nvar messages = JSON.parse(msg.payload);\nvar body = {\n     \"messageCount\": messages.length\n};\n\nvar before30dt = new Date();\nbefore30dt.setTime(before30dt.getTime() - (30 * 86400000));\n\n// 全部取って判定\nfor(var i in messages){\n    for(var j in messages[i].dispatchPD){\n        if(messages[i].dispatchPD[j].mailAddress ==  flow.get('mail.useremail') && messages[i].dispatchPD[j].dispatchDate <= before30dt){\n            body.messageCount = -1; // Settion Time Out\n            break;\n        }\n    }\n    if(body.messageCount < 0){\n        break;\n    }\n    \n    if(messages[i].incidentStatus == Settings.INCIDENT_STATUS_FAQFIRSTANSWER){\n        body.messageCount = 0;\n        break;\n    }\n    flow.set('eventId.incidentno', messages[i].incidentno);\n    flow.set('eventId.requestchaneltype', messages[i].chaneltype);\n    flow.set('Event.eventId', messages[i].requestUser.eventId);\n    flow.set('mail.requestuseremail', messages[i].requestUser.mailAddress);\n    flow.set('mail.requestsubject', messages[i].requestUser.subject);\n    body.message = messages[i];\n    // answerNo Setting\n    var maxanserNo = 0;\n    for(var j in messages[i].dispatchPD){\n        if(messages[i].dispatchPD[j].answerNo !== undefined && messages[i].dispatchPD[j].answerNo !== \"\"){\n            if(maxanserNo < messages[i].dispatchPD[j].answerNo){\n                maxanserNo = messages[i].dispatchPD[j].answerNo;\n            }\n        }\n    }\n    body.answerNo = maxanserNo + 1;\n    break;\n}\n\n// answer only extract\nvar answer = flow.get('mail.answer');\nvar searchIndex = answer.search(/-*Original Message-*/);\nif(searchIndex <= 0){\n    searchIndex = answer.search(/From/);\n}\nif(searchIndex > 0){\n    answer = answer.substring(0, searchIndex);\n}\nanswer = answer.replace(flow.get('mail.useremail'),\"\");\nbody.answer = answer;\n\nvar msg2 = {};\nmsg2.payload = body;\n\nreturn msg2;\n\n","outputs":1,"noerr":0,"x":223.2259521484375,"y":311.0331726074219,"wires":[["97e814d5.a2c948","8de0b5cb.1ba248"]]},{"id":"6faadbf6.56abb4","type":"inject","z":"7327e9f0.126388","name":"debug data inject","topic":"","payload":"{   \"eventId\": \"15a50a7ac6f1a7\",   \"statusId\": \"S15a508a839856\",   \"type\": \"mail\",   \"subject\": \"Re: 問い合わせ回答依頼\",   \"text\" : \"{KB000963}で回答して窓口担当さま:  アシスタントAIサービス、モモチです。   以下の問い合わせがありましたので、質問者に直接回答をお願いします。 また、「{FAQ番号}で回答して」と返信いただければ、こちらからFAQを回答します。   <質問者> sakamoto makoto(坂元 亮 ＴＳＯＬ （ＳＬＣ）［製ＰＳ］（ＥＲＰ）) sakamoto.makoto@toshiba-sol.co.jp  <質問内容> 接続について教えて  <AI回答> ◆KB0000028: リモーとアクセスサービス、VPN接続時　サーバ接続待ち　のまま、対応方法を教えてください。　received　from:　hideo.okada　teic.toshiba.co.jp□情報通信インフラ https:&#x2F;&#x2F;portal.sd.toshiba-global.com&#x2F;kb_view.do?sysparm_article&#x3D;KB0000028  ◆KB0001320: Lync2010　64bit試行で接続できず、原因と対策を教えてください。　received　from:　hideo.okada　teic.toshiba.co.jpWindows8.1　64bit　 https:&#x2F;&#x2F;portal.sd.toshiba-global.com&#x2F;kb_view.do?sysparm_article&#x3D;KB0001320  ◆KB0001311: Ｌｙｎｃ会議で接続できない　received　from:　chiaki1.kagita　glb.toshiba.co.jp情報通信インフラサービス窓口担当殿お世話になります。　姫半　ヘルプデスク　鍵田 https:&#x2F;&#x2F;portal.sd.toshiba-global.com&#x2F;kb_view.do?sysparm_article&#x3D;KB0001311\",   \"timestamp\": \"2017-02-18T09:57:31.666Z\",   \"mode\": {     \"commandCode\": \"startFaqAutoResponse\",      \"modeSet\": { \t\t\"operationMode\": \"QAI_SERVICE_MODE\", \t\t\"meetingOpMode\": \"MEETING_OFF\", \t\t\"translationMode\": \"TRANSLATION_OFF\"     },     \"responseAnswer\": \"\"   },   \"user\": { \t\"name\": \"inoueKyoichi\", \t\"uri\": \"sip:Inoue.Kyoichi@s50.toshiba-sol.co.jp\", \t\"mailAddress\": \"Inoue.Kyoichi@s50.toshiba-sol.co.jp\",     \"translate\": { \t\t\"src_lang\": \"ja\", \t\t\"tgt_lang\": \"en\", \t\t\"arrange\": true     }   },   \"mailData\": {     \"messageId\": \"S15a508a839856\",     \"inReplyTo\": \"Inoue.Kyoichi@s50.toshiba-sol.co.jp\"   } }","payloadType":"json","repeat":"","crontab":"","once":false,"x":116.31571960449219,"y":246.36087036132812,"wires":[["8e9aac95.33876"]]},{"id":"2ec90ae1.673146","type":"comment","z":"7327e9f0.126388","name":"Common service","info":"","x":679.5859832763672,"y":816.8508911132812,"wires":[]},{"id":"5010f125.83d0c","type":"template","z":"7327e9f0.126388","name":"tmplOfResponseFromStaff","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"ある方から以下の回答をいただきました。\nもし、この方に直接連絡を取りたいようでしたら、「回答者{{payload.answerNo}}と連絡を取りたい」と返信ください。\nあなたの氏名、所属、メールアドレスを回答者に伝えて、直接連絡いただけるよう依頼します。\n\n<回答>\n{{payload.answer}}","x":440.58592224121094,"y":699.8508911132812,"wires":[["e71935b6.c2aa38","517cfd6a.6e9424"]]},{"id":"e71935b6.c2aa38","type":"debug","z":"7327e9f0.126388","name":"","active":true,"console":"false","complete":"false","x":473.5860137939453,"y":657.8508911132812,"wires":[]},{"id":"517cfd6a.6e9424","type":"link out","z":"7327e9f0.126388","name":"dispachQuestion","links":["e76b6101.7e88b","a72bedbb.1e981"],"x":640.5861053466797,"y":699.8508911132812,"wires":[]},{"id":"e76b6101.7e88b","type":"link in","z":"7327e9f0.126388","name":"faqResponseFromStaffSend","links":["517cfd6a.6e9424"],"x":103.40602111816406,"y":818.8717346191406,"wires":[["ad9f665b.2c2d88"]]},{"id":"a397ffed.bb1a8","type":"debug","z":"7327e9f0.126388","name":"","active":true,"console":"false","complete":"false","x":486.8957214355469,"y":772.3230285644531,"wires":[]},{"id":"74b4b73b.804cd8","type":"link out","z":"7327e9f0.126388","name":"faqResponseFromStaffSend","links":["d2e40a76.a5c688"],"x":563.8957824707031,"y":818.1007385253906,"wires":[]},{"id":"f46e9151.3042a","type":"http request","z":"7327e9f0.126388","name":"[POST]/replies","method":"POST","ret":"txt","url":"","tls":"","x":589.7556610107422,"y":951.1111679077148,"wires":[[]]},{"id":"fc5ca904.985fe8","type":"debug","z":"7327e9f0.126388","name":"","active":true,"console":"false","complete":"false","x":566.8957366943359,"y":910.1014022827148,"wires":[]},{"id":"e497164e.7d29d8","type":"function","z":"7327e9f0.126388","name":"MessageStorage(Create replies)","func":"const Settings = context.global.get('aai-common').Settings;\n\nconst msg2 = {};\n\nvar dt = new Date();\n//var datestring = d.getFullYear()  + \"-\" + (\"0\"+(d.getMonth())).slice(-2) + \"-\" + (\"0\" + d.getDate()).slice(-2);\n//datestring += \"T\" + (\"0\" + d.getHours()).slice(-2) + \":\" + (\"0\" + d.getMinutes()).slice(-2) + \":\" + (\"0\" + d.getSeconds()).slice(-2) + \"Z\"; \n\n// make Body\nconst body =  {\n    \"type\": \"replies\",\n    \"text\": flow.get('eventId'),\n    \"from\": {\n      \"id\": flow.get('mail.username'),\n      \"name\": flow.get('mail.useremail')\n    },\n    \"timestamp\": dt,\n    \"address\": {\n      \"type\": flow.get('eventId.type'),\n      \"conversation\" :{\n        \"id\": flow.get('eventId.conversation')\n      }\n    }\n}\n\nmsg2.payload = body;\n\n// Http Request\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_MESSAGESTORAGE_REPLIESURL;\n\nreturn msg2;","outputs":1,"noerr":0,"x":320.7555389404297,"y":951.1111755371094,"wires":[["f46e9151.3042a","fc5ca904.985fe8"]]},{"id":"a3229081.ddaa6","type":"debug","z":"7327e9f0.126388","name":"","active":true,"console":"false","complete":"false","x":212.8957977294922,"y":1060.8785095214844,"wires":[]},{"id":"342080e7.392a5","type":"link in","z":"7327e9f0.126388","name":"faqResponseFromStaffMessageStorage","links":["f3600500.318178","30c6219a.d04d3e"],"x":131.28123474121094,"y":951.1708602905273,"wires":[["e497164e.7d29d8"]]},{"id":"d2e40a76.a5c688","type":"link in","z":"7327e9f0.126388","name":"faqResponseFromStaffSendChatBotEvent","links":["74b4b73b.804cd8","f3600500.318178","30c6219a.d04d3e"],"x":77.89582824707031,"y":1017.8785095214844,"wires":[["a3229081.ddaa6","7dac37df.4854b8"]]},{"id":"acf72b29.71d748","type":"comment","z":"7327e9f0.126388","name":"Common service","info":"","x":85,"y":906.1111679077148,"wires":[]},{"id":"8e9aac95.33876","type":"function","z":"7327e9f0.126388","name":"MessageStorage(Select)","func":"const Settings = context.global.get('aai-common').Settings;\n\n// Parameter Initializing =======================\nflow.set('Event', {});\nflow.set('mail', {});\nflow.set('answerFaqAutoResponse', {});\nflow.set('eventId', {});\nflow.set('state.judgeReply', \"\");\nflow.set('NextFlowParam', {});\n\n// Parameter Setting =======================\nflow.set('Event.eventId', msg.payload.eventId);\nflow.set('eventId', msg.payload);\nflow.set('eventId.tracker', context.flow.get('cons.TRACK_QUESTION'));\nflow.set('eventId.type', msg.payload.type);\nflow.set('eventId.conversation', msg.payload.conversation);\nif(msg.payload.mailData !== undefined){\n    flow.set('eventId.messageId',msg.payload.mailData.messageId);\n    flow.set('eventId.inReplyTo',msg.payload.mailData.inReplyTo);\n}\nelse{\n    flow.set('eventId.messageId',\"\");\n    flow.set('eventId.inReplyTo',\"\");\n}\nflow.set('mail.from', context.global.get('cons.FROM_MAIL_ADDRESS'));\nflow.set('mail.subject', msg.payload.subject);\nflow.set('mail.username', msg.payload.user.name);\n\nif(msg.payload.user.emailAddresses === undefined || msg.payload.user.emailAddresses === \"\"){\n    if(msg.payload.type === \"mail\"){\n        flow.set('mail.useremail', msg.payload.user.uri);\n    }\n    else{\n        // \"sip:\" cut\n        flow.set('mail.useremail', msg.payload.user.uri.substring(4));\n    }\n}\nelse{\n    flow.set('mail.useremail',msg.payload.user.emailAddresses);\n}\nflow.set('mail.answer',msg.payload.text);\n\n// incidents Parameter Setting ==============\nconst msg2 = {};\n\nvar dt = new Date();\ndt.setTime(dt.getTime() - (30 * 86400000));\n\nvar body = {};\n// make Body\nif(flow.get('eventId.inReplyTo') !== null && flow.get('eventId.inReplyTo') !== \"\"){\n    body =  {\n    //    \"message.incidentStatus\": Settings.INCIDENT_STATUS_PDRECEPTION,   //PDReception ステータスは色々なパターンが\n        \"message.dispatchPD.mailAddress\": flow.get('mail.useremail'),\n        \"message.dispatchPD.messageid\": flow.get('eventId.inReplyTo'), \n//        \"message.dispatchPD.dispatchDate\": { \"$gte\": dt },\n    \t\"sort$\":{\"message.dispatchPD.dispatchDate\":\"-1\"}       // responseDate Desc Sort\n    };\n}\nelse{\n    body =  {\n        \"message.dispatchPD.mailAddress\": flow.get('mail.useremail'),\n//        \"message.dispatchPD.dispatchDate\": { \"$gte\": dt },\n    \t\"sort$\":{\"message.dispatchPD.dispatchDate\":\"-1\"}       // responseDate Desc Sort\n    };\n}\n\nmsg2.payload = body;\n\n// Http Request\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_MESSAGESTORAGE_INCIDENTSSELECTURL;\n\nreturn msg2;","outputs":1,"noerr":0,"x":254.89581298828125,"y":202,"wires":[["a52d97ed.e32218","1a81078c.582918"]]},{"id":"1a81078c.582918","type":"debug","z":"7327e9f0.126388","name":"","active":true,"console":"false","complete":"false","x":324.89581298828125,"y":246.111083984375,"wires":[]},{"id":"a52d97ed.e32218","type":"http request","z":"7327e9f0.126388","name":"[POST]/incidentsSelect","method":"POST","ret":"txt","url":"","tls":"","x":497.8958740234375,"y":202,"wires":[["983c25e2.3226e8"]]},{"id":"983c25e2.3226e8","type":"link out","z":"7327e9f0.126388","name":"","links":["809a0e87.b7939"],"x":651.8957977294922,"y":201,"wires":[]},{"id":"809a0e87.b7939","type":"link in","z":"7327e9f0.126388","name":"pdResponseIncidents","links":["983c25e2.3226e8"],"x":94.89579772949219,"y":310.9449157714844,"wires":[["b0477317.2240a"]]},{"id":"b67b2461.665b88","type":"function","z":"7327e9f0.126388","name":"MessageStorage(Update)","func":"const Settings = context.global.get('aai-common').Settings;\n\nflow.set('eventId.pdDispatchTemp', msg.payload);\n\n// Parameter Setting =======================\nvar message = msg.payload.message;\n\nvar dt = new Date();\n\n//if(msg.payload.incidentStatus == Settings.INCIDENT_STATUS_PDREQUESTING){\n    message.incidentStatus = Settings.INCIDENT_STATUS_PDANSWERED;   //PDAnswered\n//}\nfor(var i in message.dispatchPD){\n    if(message.dispatchPD[i].mailAddress === flow.get('mail.useremail')){\n        message.dispatchPD[i].answer = msg.payload.answer;\n        message.dispatchPD[i].answerNo = msg.payload.answerNo;\n        message.dispatchPD[i].responseSubject = flow.get('mail.subject');\n        message.dispatchPD[i].responseDate = dt;\n        break;\n    }\n}\n\nconst msg2 = {};\n\n// make Body\nconst body =  {\n    \"id\":  msg.payload.message.incidentno,\n    \"message\": message\n};\n\nmsg2.payload = body;\n\n// Http Request\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_MESSAGESTORAGE_INCIDENTSUPDATEURL;\n\nreturn msg2;","outputs":1,"noerr":0,"x":232.89581298828125,"y":589.9896240234375,"wires":[["6456561.64d07a8","2277f41c.95c36c"]]},{"id":"6456561.64d07a8","type":"http request","z":"7327e9f0.126388","name":"[POST]/incidentsUpdate","method":"POST","ret":"txt","url":"","tls":"","x":484.89588928222656,"y":589.989501953125,"wires":[["1032f2d1.b90f3d"]]},{"id":"2277f41c.95c36c","type":"debug","z":"7327e9f0.126388","name":"","active":true,"console":"false","complete":"false","x":452.0359344482422,"y":550.9798889160156,"wires":[]},{"id":"345cbb0.92b5446","type":"link in","z":"7327e9f0.126388","name":"faqDispatchMessage","links":["2de0bc3.8b0f944"],"x":86.2742919921875,"y":589.8156127929688,"wires":[["b67b2461.665b88"]]},{"id":"2de0bc3.8b0f944","type":"link out","z":"7327e9f0.126388","name":"","links":["345cbb0.92b5446"],"x":536.2846527099609,"y":327.1111145019531,"wires":[]},{"id":"97e814d5.a2c948","type":"switch","z":"7327e9f0.126388","name":"","property":"payload.messageCount","propertyType":"msg","rules":[{"t":"lt","v":"1","vt":"str"},{"t":"gte","v":"1","vt":"str"}],"checkall":"true","outputs":2,"x":432.89585876464844,"y":311.1111145019531,"wires":[["54045f70.b5b68"],["2de0bc3.8b0f944"]]},{"id":"54045f70.b5b68","type":"link out","z":"7327e9f0.126388","name":"","links":["9d0b6f8b.e711b"],"x":536.9097137451172,"y":291.3055419921875,"wires":[]},{"id":"93382396.3c909","type":"template","z":"7327e9f0.126388","name":"tmplOfNoIncident","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"別の言葉で、もう一度お願いします。","x":447.5207824707031,"y":432.08319091796875,"wires":[["2cea34ca.f49eec","6132c840.f8f4a8"]]},{"id":"6132c840.f8f4a8","type":"debug","z":"7327e9f0.126388","name":"","active":true,"console":"false","complete":"false","x":566.5208740234375,"y":381.0831985473633,"wires":[]},{"id":"2cea34ca.f49eec","type":"link out","z":"7327e9f0.126388","name":"dispachQuestion","links":["3b43e081.5b209"],"x":651.5208740234375,"y":431.08319091796875,"wires":[]},{"id":"9ab88d9a.e4eeb","type":"function","z":"7327e9f0.126388","name":"ReturnNoIncident","func":"flow.set('mail.text', msg.payload);\nflow.set('eventId.FaqRequestAgainMessage', flow.get('mail.text'));\n\nvar msg2 = {};\nmsg2.payload = {\n    eventId: flow.get('Event.eventId'),\n    response: []\n};\n\nif(flow.get('eventId.type') === \"im\"){\n    var responseDetail = {\n        operation: \"im\",\n        im:{}\n    };\n    responseDetail.im.data = \"text/plain\"; // \"text/plain\" or \"text/html\"\n    responseDetail.im.text = flow.get('mail.text');\n    msg2.payload.response[0] = responseDetail;\n}\nelse if(flow.get('eventId.type') === \"voice\"){\n    var responseDetail = {\n        operation: \"voice\",\n        voice:{}\n    };\n    responseDetail.voice.text = flow.get('mail.text');\n    msg2.payload.response[0] = responseDetail;\n}\nelse{\n    // mail\n    var responseDetail = {\n        operation: \"mail\",\n        mail:{}\n    };\n//    responseDetail.mail.from = flow.get('mail.from');\n    var mailTo = [];\n    mailTo[0] = flow.get('mail.useremail');\n    responseDetail.mail.to = mailTo;\n//    responseDetail.mail.to = flow.get('mail.useremail');\n    responseDetail.mail.subject = flow.get('mail.subject');\n    responseDetail.mail.text = flow.get('mail.text');\n    msg2.payload.response[0] = responseDetail;\n}\n\nflow.set('eventId.FaqAutoResponseAnswer', msg2.payload);\n\nreturn msg2;","outputs":1,"noerr":0,"x":259.83062744140625,"y":483.555419921875,"wires":[["f3600500.318178"]]},{"id":"f3600500.318178","type":"link out","z":"7327e9f0.126388","name":"faqRecieveRequestAgainSendDispatch","links":["342080e7.392a5","d2e40a76.a5c688"],"x":595.8306732177734,"y":483.3331298828125,"wires":[]},{"id":"ec841523.4458b8","type":"comment","z":"7327e9f0.126388","name":"Common service","info":"","x":711.5208587646484,"y":481.083251953125,"wires":[]},{"id":"3b43e081.5b209","type":"link in","z":"7327e9f0.126388","name":"faqReturnNoIncident","links":["2cea34ca.f49eec"],"x":94.89582824707031,"y":484.22216796875,"wires":[["9ab88d9a.e4eeb"]]},{"id":"9d0b6f8b.e711b","type":"link in","z":"7327e9f0.126388","name":"faqNoIncidents","links":["54045f70.b5b68"],"x":93.89582824707031,"y":435.22222900390625,"wires":[["93382396.3c909"]]},{"id":"6a792ca.98884d4","type":"comment","z":"7327e9f0.126388","name":"TODO FAQ_DB retrieve","info":"","x":262.8958282470703,"y":351,"wires":[]},{"id":"7dac37df.4854b8","type":"subflow:5dbccf9.8065d3","z":"7327e9f0.126388","x":236.89581298828125,"y":1017.6667861938477,"wires":[["fafab9e1.627128","8472538.319e2b"]]},{"id":"8de0b5cb.1ba248","type":"debug","z":"7327e9f0.126388","name":"","active":true,"console":"false","complete":"false","x":280.89581298828125,"y":384,"wires":[]},{"id":"fafab9e1.627128","type":"function","z":"7327e9f0.126388","name":"Compleate","func":"const msg2 = {};\nmsg2.payload = {\n    eventId: flow.get('Event.eventId'),\n}\n\nreturn msg2;","outputs":1,"noerr":0,"x":413.89581298828125,"y":1017.6667861938477,"wires":[["13c14ea.6145db1"]]},{"id":"13c14ea.6145db1","type":"subflow:868e9cd5.90d61","z":"7327e9f0.126388","name":"","x":598.520751953125,"y":1018.2953262329102,"wires":[]},{"id":"50ffe761.7370c8","type":"comment","z":"7327e9f0.126388","name":"(31) /PD ResponseFromStaff","info":"","x":125,"y":81.88888549804688,"wires":[]},{"id":"e7a4d5ca.bf51a8","type":"http in","z":"7327e9f0.126388","name":"","url":"/personDirectory/responseFromStaff","method":"post","swaggerDoc":"","x":230.651611328125,"y":126.40328979492188,"wires":[["96a06c06.9f5cb","78ae0f5d.8b1d9","8e9aac95.33876"]]},{"id":"96a06c06.9f5cb","type":"http response","z":"7327e9f0.126388","name":"","x":541.2972717285156,"y":125.73761749267578,"wires":[]},{"id":"78ae0f5d.8b1d9","type":"debug","z":"7327e9f0.126388","name":"","active":true,"console":"false","complete":"true","x":545.7193756103516,"y":83.72897338867188,"wires":[]},{"id":"ad9f665b.2c2d88","type":"function","z":"7327e9f0.126388","name":"pdRecieveRequestSendDispatch","func":"flow.set('mail.text', msg.payload);\n\nvar msg2 = {};\nmsg2.payload = {\n    eventId: flow.get('Event.eventId'),\n    response: []\n};\nvar responseMessage = \"お忙しいところ、ご回答ありがとうございました。\\n\";\nresponseMessage += \"質問者の方に転送させていただきます。\\n\";\nresponseMessage += \"なお、直接詳しい話を聞きたいと連絡が来るかもしれませんが、そのときには、あらためてご連絡します。\";\n\nif(flow.get('eventId.requestchaneltype') === \"im\"){\n    var responseDetail = {\n        operation: \"im\",\n        im:{}\n    };\n    responseDetail.im.data = \"text/plain\"; // \"text/plain\" or \"text/html\"\n    responseDetail.im.text = msg.payload;\n    msg2.payload.response[0] = responseDetail;\n}\nelse if(flow.get('eventId.requestchaneltype') === \"voice\"){\n    var responseDetail = {\n        operation: \"voice\",\n        voice:{}\n    };\n    responseDetail.voice.text = msg.payload;\n    msg2.payload.response[0] = responseDetail;\n}\nelse{\n    // mail\n    var responseDetail = {\n        operation: \"mail\",\n        mail:{}\n    };\n\n    var mailTo = [];\n    mailTo[0] = flow.get('mail.requestuseremail');\n    responseDetail.mail.to = mailTo;\n    responseDetail.mail.subject = \"RE:\" + flow.get('mail.requestsubject').replace(\"RE:\" , \"\");\n    responseDetail.mail.text = msg.payload.replace(/\\n/g , \"<br>\" );\n    msg2.payload.response[0] = responseDetail;\n}\n\n// dispatchMail\nvar dispatchDetail = {\n    operation: \"mail\",\n    mail:{}\n};\n//dispatchDetail.mail.from = flow.get('mail.from');\nvar mailTo = [];\nmailTo[0] = flow.get('mail.useremail');\ndispatchDetail.mail.to = mailTo;\ndispatchDetail.mail.subject = \"RE:\" + flow.get('mail.subject').replace(\"RE:\" , \"\");\ndispatchDetail.mail.text = responseMessage.replace(/\\n/g , \"<br>\" );\nmsg2.payload.response[1] = dispatchDetail;\n\nflow.set('eventId.FaqAutoResponseAnswer', msg2.payload);\n\nreturn msg2;","outputs":1,"noerr":0,"x":283.89581298828125,"y":819.1110534667969,"wires":[["74b4b73b.804cd8","a397ffed.bb1a8"]]},{"id":"616ad369.ce013c","type":"link in","z":"7327e9f0.126388","name":"msgDispatch","links":["1032f2d1.b90f3d"],"x":86.89581298828125,"y":700,"wires":[["6604488c.728cf8"]]},{"id":"1032f2d1.b90f3d","type":"link out","z":"7327e9f0.126388","name":"dispachQuestion","links":["616ad369.ce013c"],"x":646.8957366943359,"y":590,"wires":[]},{"id":"6604488c.728cf8","type":"function","z":"7327e9f0.126388","name":"msgDispatch","func":"const msg2 = {};\n\nmsg2.payload = flow.get('eventId.pdDispatchTemp');\n\nreturn msg2;","outputs":1,"noerr":0,"x":194.89581298828125,"y":700,"wires":[["5010f125.83d0c"]]},{"id":"ceebeaeb.f65ea8","type":"link in","z":"7327e9f0.126388","name":"CommonMessageStorage","links":["7b89d7c7.7b05d8"],"x":74.89582824707031,"y":1364.5556640625,"wires":[["4c74c74d.41b7b8"]]},{"id":"8472538.319e2b","type":"function","z":"7327e9f0.126388","name":"MessageStorage(Select)","func":"const Settings = context.global.get('aai-common').Settings;\n\n// Response formatting =======================\nvar jsonResponse = \"\";\ntry{\n    jsonResponse = JSON.parse(msg.payload);\n}\ncatch(e){\n    jsonResponse = msg.payload;\n}\n\nflow.set('eventId.responseResult', jsonResponse.responseResult);\nflow.set('mail.responseResult', jsonResponse.responseResult);\n\n// incidents Parameter Setting ==============\nconst msg2 = {};\n\n// make Body\nconst body =  {\n    \"id\": flow.get('eventId.incidentno')\n}\n\nmsg2.payload = body;\n\n// Http Request\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_MESSAGESTORAGE_INCIDENTSSELECTURL;\n\nreturn msg2;","outputs":1,"noerr":0,"x":234.51040649414062,"y":1169.146484375,"wires":[["6392c794.a53818"]]},{"id":"6392c794.a53818","type":"http request","z":"7327e9f0.126388","name":"[POST]/incidentsSelect","method":"POST","ret":"txt","url":"","tls":"","x":476.5104522705078,"y":1169.1463623046875,"wires":[["1d39757a.ee228b"]]},{"id":"1d39757a.ee228b","type":"function","z":"7327e9f0.126388","name":"MessageStorage(Update)","func":"const Settings = context.global.get('aai-common').Settings;\n\n// Parameter Setting =======================\nvar message = JSON.parse(msg.payload)[0];\n\nvar jsonResponse = flow.get('mail.responseResult');\n\n// messageid setting\nfor(var i in jsonResponse){\n    if(jsonResponse[i].operation !== undefined && jsonResponse[i].operation === \"mail\"){\n        if (jsonResponse[i].mail !== undefined){\n            for(var j in jsonResponse[i].mail.to){\n                for(var k in message.dispatchPD){\n                    if (jsonResponse[i].mail.to[j] === message.dispatchPD[k].mailAddress){\n                        message.dispatchPD[k].messageid = jsonResponse[i].mail.messageId.messageId;\n                    }\n                }\n            }\n            break;\n        }\n    }\n}\nfor(var k in message.dispatchPD){\n    if( message.dispatchPD[k].messageid === undefined){\n        message.dispatchPD[k].messageid = \"\";\n    }\n}\nif(message.requestUser.messageid === undefined){\n    message.requestUser.messageid = \"\";\n}\n\nconst msg2 = {};\n\n// make Body\nconst body =  {\n    \"id\":  flow.get('eventId.incidentno'),\n    \"message\": message\n};\n\nmsg2.payload = body;\n\n// Http Request\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_MESSAGESTORAGE_INCIDENTSUPDATEURL;\n\nreturn msg2;","outputs":1,"noerr":0,"x":281.510498046875,"y":1221.03515625,"wires":[["5b37ab3c.c84464","17637bf0.80cbe4"]]},{"id":"5b37ab3c.c84464","type":"http request","z":"7327e9f0.126388","name":"[POST]/incidentsUpdate","method":"POST","ret":"txt","url":"","tls":"","x":533.5105743408203,"y":1221.0350341796875,"wires":[["7b89d7c7.7b05d8"]]},{"id":"17637bf0.80cbe4","type":"debug","z":"7327e9f0.126388","name":"","active":true,"console":"false","complete":"false","x":492.65065002441406,"y":1259.025390625,"wires":[]},{"id":"88e38ea0.14ec3","type":"comment","z":"7327e9f0.126388","name":"incidentsUpdate(messageid)","info":"","x":199.5104217529297,"y":1124.146484375,"wires":[]},{"id":"7b89d7c7.7b05d8","type":"link out","z":"7327e9f0.126388","name":"","links":["ceebeaeb.f65ea8"],"x":682.8923492431641,"y":1220.816650390625,"wires":[]},{"id":"4c74c74d.41b7b8","type":"function","z":"7327e9f0.126388","name":"MessageStorage(Create replies)","func":"const Settings = context.global.get('aai-common').Settings;\n\nconst msg2 = {};\n\nvar dt = new Date();\n//var datestring = d.getFullYear()  + \"-\" + (\"0\"+(d.getMonth())).slice(-2) + \"-\" + (\"0\" + d.getDate()).slice(-2);\n//datestring += \"T\" + (\"0\" + d.getHours()).slice(-2) + \":\" + (\"0\" + d.getMinutes()).slice(-2) + \":\" + (\"0\" + d.getSeconds()).slice(-2) + \"Z\"; \n\n// make Body\nconst body =  {\n    \"type\": \"replies\",\n    \"text\": flow.get('eventId'),\n    \"from\": {\n      \"id\": flow.get('mail.username'),\n      \"name\": flow.get('mail.useremail')\n    },\n    \"timestamp\": dt,\n    \"address\": {\n      \"type\": flow.get('eventId.type'),\n      \"conversation\" :{\n        \"id\": flow.get('eventId.conversation')\n      }\n    }\n}\n\nmsg2.payload = body;\n\n// Http Request\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_MESSAGESTORAGE_REPLIESURL;\n\nreturn msg2;","outputs":1,"noerr":0,"x":259.89581298828125,"y":1364.5556640625,"wires":[["74115111.22a0a","762c5f31.a6b67"]]},{"id":"762c5f31.a6b67","type":"debug","z":"7327e9f0.126388","name":"","active":true,"console":"false","complete":"false","x":506.0360107421875,"y":1323.5458908081055,"wires":[]},{"id":"74115111.22a0a","type":"http request","z":"7327e9f0.126388","name":"[POST]/replies","method":"POST","ret":"txt","url":"","tls":"","x":528.8959350585938,"y":1364.5556564331055,"wires":[[]]}]