.nodered/lib/flows/32PDInvalidReply.json
[{"id":"f6d5769a.ea21b8","type":"subflow","name":"SendChatBotComplete (10)","info":"","in":[{"x":97,"y":130,"wires":[{"id":"a99dd86e.c577c8"}]}],"out":[]},{"id":"a99dd86e.c577c8","type":"function","z":"f6d5769a.ea21b8","name":"SendChatBotComplete","func":"const Settings = context.global.get('aai-common').Settings;\n\nconst msg2 = {};\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_CHATBOT_COMPLETEURL;\nmsg2.payload = msg.payload;\nreturn msg2;","outputs":1,"noerr":0,"x":291.51575469970703,"y":128.75,"wires":[["db76fc1e.2d71c"]]},{"id":"db76fc1e.2d71c","type":"http request","z":"f6d5769a.ea21b8","name":"SendChatBotEvent","method":"use","ret":"txt","url":"","tls":"","x":566.5088195800781,"y":128.57293701171875,"wires":[[]]},{"id":"96fd68b2.3fb198","type":"comment","z":"f6d5769a.ea21b8","name":"SendChatBotComplete","info":"","x":138,"y":59.70831298828125,"wires":[]},{"id":"5dbccf9.8065d3","type":"subflow","name":"SendChatBotEvent","info":"","in":[{"x":93,"y":137,"wires":[{"id":"93aabbad.47ff18"}]}],"out":[{"x":775,"y":135,"wires":[{"id":"91c4afe3.10023","port":0}]}]},{"id":"93aabbad.47ff18","type":"function","z":"5dbccf9.8065d3","name":"SendChatBotEvent","func":"const Settings = context.global.get('aai-common').Settings;\n\nconst msg2 = {};\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_CHATBOT_NOTIFYURL;\nmsg2.payload = msg.payload;\nreturn msg2;","outputs":1,"noerr":0,"x":289.5079116821289,"y":136.45921325683594,"wires":[["91c4afe3.10023"]]},{"id":"91c4afe3.10023","type":"http request","z":"5dbccf9.8065d3","name":"SendChatBotEvent","method":"use","ret":"txt","url":"","tls":"","x":574.5009765625,"y":136.2821502685547,"wires":[[]]},{"id":"36c3e77e.dff148","type":"comment","z":"5dbccf9.8065d3","name":"SendChatBotEvent","info":"","x":135.99215698242188,"y":67.41752624511719,"wires":[]},{"id":"f29c2c2c.1afb3","type":"comment","z":"56ef06cc.e2b348","name":"(32) /PD InvalidReply","info":"","x":105,"y":88.88888549804688,"wires":[]},{"id":"382f3fc7.cc095","type":"http in","z":"56ef06cc.e2b348","name":"","url":"/personDirectory/invalidReply","method":"post","swaggerDoc":"","x":210.651611328125,"y":133.40328979492188,"wires":[["d07ebd11.ccc44","7bb60c38.880764","cde93d5a.97a22"]]},{"id":"d07ebd11.ccc44","type":"http response","z":"56ef06cc.e2b348","name":"","x":541.2972717285156,"y":132.73761749267578,"wires":[]},{"id":"7bb60c38.880764","type":"debug","z":"56ef06cc.e2b348","name":"","active":true,"console":"false","complete":"true","x":545.7193756103516,"y":90.72897338867188,"wires":[]},{"id":"ec7a1782.8be968","type":"config","z":"56ef06cc.e2b348","name":"messageSetting","properties":[{"p":"Event","pt":"flow","to":"{ \"eventId\":\"15a25f443061e9\", \"statusId\":\"S15a265570597\", \"conversation\":\"d7c1c3ac-c055-4ec9-b6c5-8fa06956161d\", \"text\":\"接続\", \"timestamp\":\"2017-02-10T02:57:28.862Z\", \"mode\":{ \"commandCode\":\"startTranslateText\", \"modeSet\":{ \"operationMode\":\"AAI_SERVICE_MODE\", \"meetingOpMode\":\"\", \"translationMode\":\"TRANSLATION_ON\" }, \"responseAnswer\":\"\" }}","tot":"json"},{"p":"config.KBASE_SCORE_HIGH_LIMIT","pt":"flow","to":"0.34","tot":"num"},{"p":"config.KBASE_SCORE_MIDDLE_LIMIT","pt":"flow","to":"0.23","tot":"num"},{"p":"mail","pt":"flow","to":"{\"username\" : \"\",\"question\":\"\",\"from\":\"\",\"useremail\":\"\",\"subject\":\"\",\"text\":\"\"}","tot":"json"},{"p":"cons.CREATE_ANSWER","pt":"flow","to":"CREATE_ANSWER","tot":"str"},{"p":"cons.DISPATCH_QUESTION","pt":"flow","to":"DISPATCH_QUESTION","tot":"str"},{"p":"cons.TO_2ND_STAFF","pt":"flow","to":"TO_2ND_STAFF","tot":"str"},{"p":"cons.CANNOT_ANSWER","pt":"flow","to":"CANNOT_ANSWER","tot":"str"},{"p":"answerFaqAutoResponse","pt":"flow","to":"{}","tot":"json"},{"p":"eventId","pt":"flow","to":"{}","tot":"json"},{"p":"cons.TRACK_QUESTION","pt":"flow","to":"QUESTION","tot":"str"},{"p":"state.judgeReply","pt":"flow","to":"","tot":"str"},{"p":"NextFlowParam","pt":"flow","to":"{}","tot":"json"},{"p":"cons.FAQDistpach","pt":"flow","to":"[{\"name\":\"井上\",\"mailaddress\" : \"Inoue.Kyoichi@s50.toshiba-sol.co.jp\"},{\"name\":\"松永\",\"mailaddress\" : \"Matsunaga.Michio@s50.toshiba-sol.co.jp\"}]","tot":"json"}],"active":true,"x":281.4555358886719,"y":20,"wires":[]},{"id":"a5d32fe5.f9d9f","type":"comment","z":"56ef06cc.e2b348","name":"Global setting","info":"","x":75,"y":21.45001983642578,"wires":[]},{"id":"c1e86e4.d64fd9","type":"function","z":"56ef06cc.e2b348","name":"ResponseIncidents","func":"const Settings = context.global.get('aai-common').Settings;\n\n// Parameter Setting =======================\nvar messages = JSON.parse(msg.payload);\nvar body = {\n     \"messageCount\": messages.length\n};\n\nvar before30dt = new Date();\nbefore30dt.setTime(before30dt.getTime() - (30 * 86400000));\n\n// 全部取って判定\nfor(var i in messages){\n    for(var j in messages[i].dispatchPD){\n        if(messages[i].dispatchPD[j].mailAddress ==  flow.get('mail.useremail') && messages[i].dispatchPD[j].dispatchDate <= before30dt){\n            body.messageCount = -1; // Settion Time Out\n            break;\n        }\n    }\n    if(body.messageCount < 0){\n        break;\n    }\n    \n    if(messages[i].incidentStatus == Settings.INCIDENT_STATUS_FAQFIRSTANSWER){\n        body.messageCount = 0;\n        break;\n    }\n    flow.set('eventId.incidentno', messages[i].incidentno);\n    flow.set('eventId.requestchaneltype', messages[i].chaneltype);\n    flow.set('mail.requestuseremail', messages[i].requestUser.mailAddress);\n    flow.set('mail.requestsubject', messages[i].requestUser.subject);\n    body.message = messages[i];\n    // answerNo Setting\n    body.answerNo = -1;\n    body.incidentStatus =  messages[i].incidentStatus;\n    break;\n}\n\n// answer only extract\nvar answer = flow.get('mail.answer');\nvar searchIndex = answer.search(/-*Original Message-*/);\nif(searchIndex <= 0){\n    searchIndex = answer.search(/From/);\n}\nif(searchIndex > 0){\n    answer = answer.substring(0, searchIndex);\n}\nanswer = answer.replace(flow.get('mail.useremail'),\"\");\nbody.answer = answer;\n\nvar msg2 = {};\nmsg2.payload = body;\n\nreturn msg2;\n\n","outputs":1,"noerr":0,"x":199.3301544189453,"y":321.8888854980469,"wires":[["4fd1e27f.559bcc"]]},{"id":"8419a3b2.36b05","type":"inject","z":"56ef06cc.e2b348","name":"debug data inject","topic":"","payload":"{   \"eventId\": \"15a50a7ac6f1a7\",   \"statusId\": \"S15a508a839856\",   \"type\": \"mail\",   \"subject\": \"Re: 問い合わせ回答依頼\",   \"text\" : \"わからない\",   \"timestamp\": \"2017-02-18T09:57:31.666Z\",   \"mode\": {     \"commandCode\": \"startFaqAutoResponse\",      \"modeSet\": { \t\t\"operationMode\": \"QAI_SERVICE_MODE\", \t\t\"meetingOpMode\": \"MEETING_OFF\", \t\t\"translationMode\": \"TRANSLATION_OFF\"     },     \"responseAnswer\": \"\"   },   \"user\": { \t\"name\": \"inoueKyoichi\", \t\"uri\": \"sip:Inoue.Kyoichi@s50.toshiba-sol.co.jp\", \t\"mailAddress\": \"Inoue.Kyoichi@s50.toshiba-sol.co.jp\",     \"translate\": { \t\t\"src_lang\": \"ja\", \t\t\"tgt_lang\": \"en\", \t\t\"arrange\": true     }   },   \"mailData\": {     \"messageId\": \"S15a508a839856\",     \"inReplyTo\": \"Inoue.Kyoichi@s50.toshiba-sol.co.jp\"   } }","payloadType":"json","repeat":"","crontab":"","once":false,"x":92.419921875,"y":257.2165832519531,"wires":[["cde93d5a.97a22"]]},{"id":"cde93d5a.97a22","type":"function","z":"56ef06cc.e2b348","name":"MessageStorage(Select)","func":"const Settings = context.global.get('aai-common').Settings;\n\n// Parameter Initializing =======================\nflow.set('Event', {});\nflow.set('mail', {});\nflow.set('answerFaqAutoResponse', {});\nflow.set('eventId', {});\nflow.set('state.judgeReply', \"\");\nflow.set('NextFlowParam', {});\n\n// Parameter Setting =======================\nflow.set('Event.eventId', msg.payload.eventId);\nflow.set('eventId', msg.payload);\nflow.set('eventId.tracker', context.flow.get('cons.TRACK_QUESTION'));\nflow.set('eventId.type', msg.payload.type);\nflow.set('eventId.conversation', msg.payload.conversation);\nif(msg.payload.mailData !== undefined){\n    flow.set('eventId.messageId',msg.payload.mailData.messageId);\n    flow.set('eventId.inReplyTo',msg.payload.mailData.inReplyTo);\n}\nelse{\n    flow.set('eventId.messageId',\"\");\n    flow.set('eventId.inReplyTo',\"\");\n}\nflow.set('mail.from', context.global.get('cons.FROM_MAIL_ADDRESS'));\nflow.set('mail.subject', msg.payload.subject);\nflow.set('mail.username', msg.payload.user.name);\n\nif(msg.payload.user.emailAddresses === undefined || msg.payload.user.emailAddresses === \"\"){\n    if(msg.payload.type === \"mail\"){\n        flow.set('mail.useremail', msg.payload.user.uri);\n    }\n    else{\n        // \"sip:\" cut\n        flow.set('mail.useremail', msg.payload.user.uri.substring(4));\n    }\n}\nelse{\n    flow.set('mail.useremail',msg.payload.user.emailAddresses);\n}\nflow.set('mail.answer',msg.payload.text);\n\n// incidents Parameter Setting ==============\nconst msg2 = {};\n\nvar dt = new Date();\ndt.setTime(dt.getTime() - (30 * 86400000));\n\nvar body = {};\n// make Body\nif(flow.get('eventId.inReplyTo') !== null && flow.get('eventId.inReplyTo') !== \"\"){\n    body =  {\n    //    \"message.incidentStatus\": Settings.INCIDENT_STATUS_PDRECEPTION,   //PDReception ステータスは色々なパターンが\n        \"message.dispatchPD.mailAddress\": flow.get('mail.useremail'),\n        \"message.dispatchPD.messageid\": flow.get('eventId.inReplyTo'),\n//        \"message.dispatchPD.dispatchDate\": { \"$gte\": dt },\n    \t\"sort$\":{\"message.dispatchPD.dispatchDate\":\"-1\"}       // responseDate Desc Sort\n    };\n}\nelse{\n    body =  {\n    //    \"message.incidentStatus\": Settings.INCIDENT_STATUS_PDRECEPTION,   //PDReception ステータスは色々なパターンが\n        \"message.dispatchPD.mailAddress\": flow.get('mail.useremail'),\n//        \"message.dispatchPD.dispatchDate\": { \"$gte\": dt },\n    \t\"sort$\":{\"message.dispatchPD.dispatchDate\":\"-1\"}       // responseDate Desc Sort\n    };\n}\nmsg2.payload = body;\n\n// Http Request\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_MESSAGESTORAGE_INCIDENTSSELECTURL;\n\nreturn msg2;","outputs":1,"noerr":0,"x":231.00001525878906,"y":212.855712890625,"wires":[["d84432d4.fbbc3","1e4e76b3.4dead9"]]},{"id":"1e4e76b3.4dead9","type":"debug","z":"56ef06cc.e2b348","name":"","active":true,"console":"false","complete":"false","x":301.00001525878906,"y":256.966796875,"wires":[]},{"id":"d84432d4.fbbc3","type":"http request","z":"56ef06cc.e2b348","name":"[POST]/incidentsSelect","method":"POST","ret":"txt","url":"","tls":"","x":474.0000762939453,"y":212.855712890625,"wires":[["cfce57d3.dda758","fff87a9f.f9fbd8"]]},{"id":"cfce57d3.dda758","type":"link out","z":"56ef06cc.e2b348","name":"","links":["8f2af4c8.792d78"],"x":628,"y":211.855712890625,"wires":[]},{"id":"8f2af4c8.792d78","type":"link in","z":"56ef06cc.e2b348","name":"pdResponseIncidents","links":["cfce57d3.dda758"],"x":71,"y":321.8006286621094,"wires":[["c1e86e4.d64fd9"]]},{"id":"8ee1d49e.69e648","type":"comment","z":"56ef06cc.e2b348","name":"Common service","info":"","x":692.5859222412109,"y":487.4444274902344,"wires":[]},{"id":"7e0fb904.33b8c8","type":"debug","z":"56ef06cc.e2b348","name":"","active":true,"console":"false","complete":"false","x":517.8956146240234,"y":564.9165344238281,"wires":[]},{"id":"ed9673fc.bee1a","type":"link out","z":"56ef06cc.e2b348","name":"faqResponseFromStaffSend","links":["a76f6253.22a04"],"x":593.8956756591797,"y":488.69427490234375,"wires":[]},{"id":"43e43a95.0df194","type":"debug","z":"56ef06cc.e2b348","name":"","active":true,"console":"false","complete":"false","x":212.8957977294922,"y":765.4720764160156,"wires":[]},{"id":"a76f6253.22a04","type":"link in","z":"56ef06cc.e2b348","name":"faqResponseFromStaffSendChatBotEvent","links":["ed9673fc.bee1a"],"x":77.89582824707031,"y":722.4720764160156,"wires":[["43e43a95.0df194","64991957.8e6bf8"]]},{"id":"395cf5b0.fee06a","type":"comment","z":"56ef06cc.e2b348","name":"Common service","info":"","x":85,"y":661.7046813964844,"wires":[]},{"id":"64991957.8e6bf8","type":"subflow:5dbccf9.8065d3","z":"56ef06cc.e2b348","x":236.89581298828125,"y":722.2603530883789,"wires":[["4e23b406.aae47c","e6585921.b8e348"]]},{"id":"4e23b406.aae47c","type":"function","z":"56ef06cc.e2b348","name":"Compleate","func":"const msg2 = {};\nmsg2.payload = {\n    eventId: flow.get('Event.eventId'),\n}\n\nreturn msg2;","outputs":1,"noerr":0,"x":413.89581298828125,"y":722.2603530883789,"wires":[["26d2ea7c.f9c016"]]},{"id":"26d2ea7c.f9c016","type":"subflow:f6d5769a.ea21b8","z":"56ef06cc.e2b348","name":"","x":598.520751953125,"y":722.8888931274414,"wires":[]},{"id":"7c2d703c.6253f","type":"function","z":"56ef06cc.e2b348","name":"pdRecieveRequestSendDispatch","func":"flow.set('mail.text', msg.payload);\n\nvar msg2 = {};\nmsg2.payload = {\n    eventId: flow.get('Event.eventId'),\n    response: []\n};\nvar responseMessage = \"お忙しいところ、ご回答ありがとうございました。\\n\";\nresponseMessage += \"質問者の方に転送させていただきます。\\n\";\nresponseMessage += \"なお、直接詳しい話を聞きたいと連絡が来るかもしれませんが、そのときには、あらためてご連絡します。\";\n\n/*\nif(flow.get('eventId.type') === \"im\"){\n    var responseDetail = {\n        operation: \"im\",\n        im:{}\n    };\n    responseDetail.im.data = \"text/plain\"; // \"text/plain\" or \"text/html\"\n    responseDetail.im.text = msg.payload;\n    msg2.payload.response[0] = responseDetail;\n}\nelse if(flow.get('eventId.chaneltype') === \"voice\"){\n    var responseDetail = {\n        operation: \"voice\",\n        voice:{}\n    };\n    responseDetail.voice.text = msg.payload;\n    msg2.payload.response[0] = responseDetail;\n}\nelse{\n    // mail\n    var responseDetail = {\n        operation: \"mail\",\n        mail:{}\n    };\n\n    var mailTo = [];\n    mailTo[0] = flow.get('mail.requestuseremail');\n    responseDetail.mail.to = mailTo;\n    responseDetail.mail.subject = \"RE:\" + flow.get('mail.requestsubject').replace(\"RE:\" , \"\");\n    responseDetail.mail.text = msg.payload;\n    msg2.payload.response[0] = responseDetail;\n}\n*/\n\n// dispatchMail\nvar dispatchDetail = {\n    operation: \"mail\",\n    mail:{}\n};\n//dispatchDetail.mail.from = flow.get('mail.from');\nvar mailTo = [];\nmailTo[0] = flow.get('mail.requestuseremail');\ndispatchDetail.mail.to = mailTo;\ndispatchDetail.mail.subject = \"RE:\" + flow.get('mail.subject').replace(\"RE:\" , \"\");\ndispatchDetail.mail.text = responseMessage.replace(/\\n/g , \"<br>\" );\nmsg2.payload.response[0] = dispatchDetail;\n\nflow.set('eventId.FaqAutoResponseAnswer', msg2.payload);\n\nreturn msg2;","outputs":1,"noerr":0,"x":418.89573669433594,"y":488.70458984375,"wires":[["ed9673fc.bee1a","7e0fb904.33b8c8"]]},{"id":"fff87a9f.f9fbd8","type":"debug","z":"56ef06cc.e2b348","name":"","active":true,"console":"false","complete":"false","x":538.8957977294922,"y":256.8888854980469,"wires":[]},{"id":"4fd1e27f.559bcc","type":"function","z":"56ef06cc.e2b348","name":"MessageStorage(Update)","func":"const Settings = context.global.get('aai-common').Settings;\n\nflow.set('eventId.pdDispatchTemp', msg.payload);\n\n// Parameter Setting =======================\nvar message = msg.payload.message;\n\nvar dt = new Date();\n\nif(msg.payload.incidentStatus == Settings.INCIDENT_STATUS_PDRECEPTION){\n    message.incidentStatus = Settings.INCIDENT_STATUS_PDANSWERED;   //PDAnswered\n}\nfor(var i in message.dispatchPD){\n    if(message.dispatchPD[i].mailAddress === flow.get('mail.useremail')){\n        message.dispatchPD[i].answer = msg.payload.answer;\n        message.dispatchPD[i].answerNo = msg.payload.answerNo;\n        message.dispatchPD[i].responseSubject = flow.get('mail.subject');\n        message.dispatchPD[i].responseDate = dt;\n        break;\n    }\n}\n\nconst msg2 = {};\n\n// make Body\nconst body =  {\n    \"id\":  msg.payload.message.incidentno,\n    \"message\": message\n};\n\nmsg2.payload = body;\n\n// Http Request\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_MESSAGESTORAGE_INCIDENTSUPDATEURL;\n\nreturn msg2;","outputs":1,"noerr":0,"x":218.89578247070312,"y":380.8888854980469,"wires":[["fc881374.6c9a4","24e0752c.f34b7a"]]},{"id":"fc881374.6c9a4","type":"http request","z":"56ef06cc.e2b348","name":"[POST]/incidentsUpdate","method":"POST","ret":"txt","url":"","tls":"","x":470.89585876464844,"y":380.8887634277344,"wires":[["c05a323e.4d444"]]},{"id":"24e0752c.f34b7a","type":"debug","z":"56ef06cc.e2b348","name":"","active":true,"console":"false","complete":"false","x":430.0359344482422,"y":418.8791198730469,"wires":[]},{"id":"7d8e6f5f.a2355","type":"link in","z":"56ef06cc.e2b348","name":"CommonMessageStorage","links":["86a0d29c.1748c"],"x":86.89582824707031,"y":1063.3333740234375,"wires":[["d7e19526.682758"]]},{"id":"e6585921.b8e348","type":"function","z":"56ef06cc.e2b348","name":"MessageStorage(Select)","func":"const Settings = context.global.get('aai-common').Settings;\n\n// Response formatting =======================\nvar jsonResponse = \"\";\ntry{\n    jsonResponse = JSON.parse(msg.payload);\n}\ncatch(e){\n    jsonResponse = msg.payload;\n}\n\nflow.set('eventId.responseResult', jsonResponse.responseResult);\nflow.set('mail.responseResult', jsonResponse.responseResult);\n\n// incidents Parameter Setting ==============\nconst msg2 = {};\n\n// make Body\nconst body =  {\n    \"id\": flow.get('eventId.incidentno')\n}\n\nmsg2.payload = body;\n\n// Http Request\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_MESSAGESTORAGE_INCIDENTSSELECTURL;\n\nreturn msg2;","outputs":1,"noerr":0,"x":246.51040649414062,"y":867.9241943359375,"wires":[["941c9654.84bc88"]]},{"id":"941c9654.84bc88","type":"http request","z":"56ef06cc.e2b348","name":"[POST]/incidentsSelect","method":"POST","ret":"txt","url":"","tls":"","x":488.5104522705078,"y":867.924072265625,"wires":[["f1f42f85.1c31e"]]},{"id":"f1f42f85.1c31e","type":"function","z":"56ef06cc.e2b348","name":"MessageStorage(Update)","func":"const Settings = context.global.get('aai-common').Settings;\n\n// Parameter Setting =======================\nvar message = JSON.parse(msg.payload)[0];\n\nvar jsonResponse = flow.get('mail.responseResult');\n\n// messageid setting\nfor(var i in jsonResponse){\n    if(jsonResponse[i].operation !== undefined && jsonResponse[i].operation === \"mail\"){\n        if (jsonResponse[i].mail !== undefined){\n            for(var j in jsonResponse[i].mail.to){\n                for(var k in message.dispatchPD){\n                    if (jsonResponse[i].mail.to[j] === message.dispatchPD[k].mailAddress){\n                        message.dispatchPD[k].messageid = jsonResponse[i].mail.messageId.messageId;\n                    }\n                }\n            }\n            break;\n        }\n    }\n}\nfor(var k in message.dispatchPD){\n    if( message.dispatchPD[k].messageid === undefined){\n        message.dispatchPD[k].messageid = \"\";\n    }\n}\nif(message.requestUser.messageid === undefined){\n    message.requestUser.messageid = \"\";\n}\n\nconst msg2 = {};\n\n// make Body\nconst body =  {\n    \"id\":  flow.get('eventId.incidentno'),\n    \"message\": message\n};\n\nmsg2.payload = body;\n\n// Http Request\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_MESSAGESTORAGE_INCIDENTSUPDATEURL;\n\nreturn msg2;","outputs":1,"noerr":0,"x":293.510498046875,"y":919.8128662109375,"wires":[["6b19499f.a26da8","4a1ef61e.da4668"]]},{"id":"6b19499f.a26da8","type":"http request","z":"56ef06cc.e2b348","name":"[POST]/incidentsUpdate","method":"POST","ret":"txt","url":"","tls":"","x":545.5105743408203,"y":919.812744140625,"wires":[["86a0d29c.1748c"]]},{"id":"4a1ef61e.da4668","type":"debug","z":"56ef06cc.e2b348","name":"","active":true,"console":"false","complete":"false","x":504.65065002441406,"y":957.8031005859375,"wires":[]},{"id":"1bed8e6d.a95432","type":"comment","z":"56ef06cc.e2b348","name":"incidentsUpdate(messageid)","info":"","x":211.5104217529297,"y":822.9241943359375,"wires":[]},{"id":"86a0d29c.1748c","type":"link out","z":"56ef06cc.e2b348","name":"","links":["7d8e6f5f.a2355"],"x":694.8923492431641,"y":919.5943603515625,"wires":[]},{"id":"d7e19526.682758","type":"function","z":"56ef06cc.e2b348","name":"MessageStorage(Create replies)","func":"const Settings = context.global.get('aai-common').Settings;\n\nconst msg2 = {};\n\nvar dt = new Date();\n//var datestring = d.getFullYear()  + \"-\" + (\"0\"+(d.getMonth())).slice(-2) + \"-\" + (\"0\" + d.getDate()).slice(-2);\n//datestring += \"T\" + (\"0\" + d.getHours()).slice(-2) + \":\" + (\"0\" + d.getMinutes()).slice(-2) + \":\" + (\"0\" + d.getSeconds()).slice(-2) + \"Z\"; \n\n// make Body\nconst body =  {\n    \"type\": \"replies\",\n    \"text\": flow.get('eventId'),\n    \"from\": {\n      \"id\": flow.get('mail.username'),\n      \"name\": flow.get('mail.useremail')\n    },\n    \"timestamp\": dt,\n    \"address\": {\n      \"type\": flow.get('eventId.type'),\n      \"conversation\" :{\n        \"id\": flow.get('eventId.conversation')\n      }\n    }\n}\n\nmsg2.payload = body;\n\n// Http Request\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_MESSAGESTORAGE_REPLIESURL;\n\nreturn msg2;","outputs":1,"noerr":0,"x":271.89581298828125,"y":1063.3333740234375,"wires":[["958026c5.e402e8","a7d8a75.bac8958"]]},{"id":"a7d8a75.bac8958","type":"debug","z":"56ef06cc.e2b348","name":"","active":true,"console":"false","complete":"false","x":518.0360107421875,"y":1022.323600769043,"wires":[]},{"id":"958026c5.e402e8","type":"http request","z":"56ef06cc.e2b348","name":"[POST]/replies","method":"POST","ret":"txt","url":"","tls":"","x":540.8959350585938,"y":1063.333366394043,"wires":[[]]},{"id":"a1d3306f.c0a1a","type":"function","z":"56ef06cc.e2b348","name":"msgDispatch","func":"const msg2 = {};\n\nmsg2.payload = flow.get('eventId.pdDispatchTemp');\n\nreturn msg2;","outputs":1,"noerr":0,"x":184.89581298828125,"y":489,"wires":[["7c2d703c.6253f"]]},{"id":"7f39770e.807538","type":"link in","z":"56ef06cc.e2b348","name":"msgDispatch","links":["c05a323e.4d444"],"x":76.89581298828125,"y":489,"wires":[["a1d3306f.c0a1a"]]},{"id":"c05a323e.4d444","type":"link out","z":"56ef06cc.e2b348","name":"dispachQuestion","links":["7f39770e.807538"],"x":621.8957214355469,"y":382,"wires":[]}]