.nodered/lib/flows/33PDreciveRequestAgainForStaff.json
[{"id":"f21fed1e.0058e","type":"subflow","name":"SendChatBotComplete (10)","info":"","in":[{"x":97,"y":130,"wires":[{"id":"c803a363.6e2a5"}]}],"out":[]},{"id":"c803a363.6e2a5","type":"function","z":"f21fed1e.0058e","name":"SendChatBotComplete","func":"const Settings = context.global.get('aai-common').Settings;\n\nconst msg2 = {};\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_CHATBOT_COMPLETEURL;\nmsg2.payload = msg.payload;\nreturn msg2;","outputs":1,"noerr":0,"x":291.51575469970703,"y":128.75,"wires":[["f567f7e0.a04968"]]},{"id":"f567f7e0.a04968","type":"http request","z":"f21fed1e.0058e","name":"SendChatBotEvent","method":"use","ret":"txt","url":"","tls":"","x":566.5088195800781,"y":128.57293701171875,"wires":[[]]},{"id":"5ea5c54c.34693c","type":"comment","z":"f21fed1e.0058e","name":"SendChatBotComplete","info":"","x":138,"y":59.70831298828125,"wires":[]},{"id":"5dbccf9.8065d3","type":"subflow","name":"SendChatBotEvent","info":"","in":[{"x":93,"y":137,"wires":[{"id":"93aabbad.47ff18"}]}],"out":[{"x":775,"y":135,"wires":[{"id":"91c4afe3.10023","port":0}]}]},{"id":"93aabbad.47ff18","type":"function","z":"5dbccf9.8065d3","name":"SendChatBotEvent","func":"const Settings = context.global.get('aai-common').Settings;\n\nconst msg2 = {};\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_CHATBOT_NOTIFYURL;\nmsg2.payload = msg.payload;\nreturn msg2;","outputs":1,"noerr":0,"x":289.5079116821289,"y":136.45921325683594,"wires":[["91c4afe3.10023"]]},{"id":"91c4afe3.10023","type":"http request","z":"5dbccf9.8065d3","name":"SendChatBotEvent","method":"use","ret":"txt","url":"","tls":"","x":574.5009765625,"y":136.2821502685547,"wires":[[]]},{"id":"36c3e77e.dff148","type":"comment","z":"5dbccf9.8065d3","name":"SendChatBotEvent","info":"","x":135.99215698242188,"y":67.41752624511719,"wires":[]},{"id":"65fc7394.6da93c","type":"comment","z":"67842c12.e04b44","name":"(33)/PD reciveRequestAgainForStaff","info":"","x":145,"y":87,"wires":[]},{"id":"7f82f2f9.6ea95c","type":"http in","z":"67842c12.e04b44","name":"","url":"/personDirectory/receiveRequestAgainForStaff","method":"post","swaggerDoc":"","x":257.65167236328125,"y":127.51416015625,"wires":[["42acbd9d.a125d4","19433aaf.be6495","7a6b1cef.47f194"]]},{"id":"42acbd9d.a125d4","type":"http response","z":"67842c12.e04b44","name":"","x":614.0264587402344,"y":127.9658203125,"wires":[]},{"id":"19433aaf.be6495","type":"debug","z":"67842c12.e04b44","name":"","active":true,"console":"false","complete":"true","x":614.4485931396484,"y":88.95751953125,"wires":[]},{"id":"97ef427d.ddd1a","type":"config","z":"67842c12.e04b44","name":"messageSetting","properties":[{"p":"Event","pt":"flow","to":"{ \"eventId\":\"15a25f443061e9\", \"statusId\":\"S15a265570597\", \"conversation\":\"d7c1c3ac-c055-4ec9-b6c5-8fa06956161d\", \"text\":\"接続\", \"timestamp\":\"2017-02-10T02:57:28.862Z\", \"mode\":{ \"commandCode\":\"startTranslateText\", \"modeSet\":{ \"operationMode\":\"AAI_SERVICE_MODE\", \"meetingOpMode\":\"\", \"translationMode\":\"TRANSLATION_ON\" }, \"responseAnswer\":\"\" }}","tot":"json"},{"p":"config.KBASE_SCORE_HIGH_LIMIT","pt":"flow","to":"0.34","tot":"num"},{"p":"config.KBASE_SCORE_MIDDLE_LIMIT","pt":"flow","to":"0.23","tot":"num"},{"p":"mail","pt":"flow","to":"{\"username\" : \"\",\"question\":\"\",\"from\":\"\",\"useremail\":\"\",\"subject\":\"\",\"text\":\"\"}","tot":"json"},{"p":"cons.CREATE_ANSWER","pt":"flow","to":"CREATE_ANSWER","tot":"str"},{"p":"cons.DISPATCH_QUESTION","pt":"flow","to":"DISPATCH_QUESTION","tot":"str"},{"p":"cons.TO_2ND_STAFF","pt":"flow","to":"TO_2ND_STAFF","tot":"str"},{"p":"cons.CANNOT_ANSWER","pt":"flow","to":"CANNOT_ANSWER","tot":"str"},{"p":"answerFaqAutoResponse","pt":"flow","to":"{}","tot":"json"},{"p":"eventId","pt":"flow","to":"{}","tot":"json"},{"p":"cons.TRACK_QUESTION","pt":"flow","to":"QUESTION","tot":"str"},{"p":"state.judgeReply","pt":"flow","to":"","tot":"str"},{"p":"NextFlowParam","pt":"flow","to":"{}","tot":"json"},{"p":"cons.FAQDistpach","pt":"flow","to":"[{\"name\":\"井上\",\"mailaddress\" : \"Inoue.Kyoichi@s50.toshiba-sol.co.jp\"},{\"name\":\"松永\",\"mailaddress\" : \"Matsunaga.Michio@s50.toshiba-sol.co.jp\"}]","tot":"json"}],"active":true,"x":281.4555358886719,"y":20,"wires":[]},{"id":"35375063.7363e","type":"comment","z":"67842c12.e04b44","name":"Global setting","info":"","x":75,"y":21.45001983642578,"wires":[]},{"id":"9543afcb.677b8","type":"template","z":"67842c12.e04b44","name":"tmpOfPersonDirectoryDispatch","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"アシスタントAIサービス、モモチです。\n\n質問者の方より、詳しく話を聞きたいと依頼がありました。\nもしよろしければ、以下の方に直接連絡していただけないでしょうか。\n\n<質問者>\n{{payload.username}}{{payload.useremail}}\n\n<質問>\n{{payload.question}}\n\n<あなたの回答>\n{{payload.answer}}","x":427.89585876464844,"y":844,"wires":[["51c363db.ce2acc"]]},{"id":"81623bbc.df3228","type":"function","z":"67842c12.e04b44","name":"MessageStorage(Create Questions)","func":"const Settings = context.global.get('aai-common').Settings;\n\nconst msg2 = {};\n\nvar dt = new Date();\n//var datestring = d.getFullYear()  + \"-\" + (\"0\"+(d.getMonth())).slice(-2) + \"-\" + (\"0\" + d.getDate()).slice(-2);\n//datestring += \"T\" + (\"0\" + d.getHours()).slice(-2) + \":\" + (\"0\" + d.getMinutes()).slice(-2) + \":\" + (\"0\" + d.getSeconds()).slice(-2) + \"Z\"; \n\n// make Body\nconst body =  {\n    \"type\": \"questions\",\n    \"text\": flow.get('eventId'),\n    \"from\": {\n      \"id\": flow.get('mail.username'),\n      \"name\": flow.get('mail.useremail')\n    },\n    \"timestamp\": dt,\n    \"address\": {\n      \"type\": flow.get('eventId.type'),\n      \"conversation\" :{\n        \"id\": flow.get('eventId.conversation')\n      }\n    }\n}\n\nmsg2.payload = body;\n\n// Http Request\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_MESSAGESTORAGE_QUESTIONSURL;\n\nreturn msg2;","outputs":1,"noerr":0,"x":330.7555389404297,"y":1076.0106201171875,"wires":[["91c842be.883d1","45385c1f.3075f4"]]},{"id":"91c842be.883d1","type":"http request","z":"67842c12.e04b44","name":"[POST]/questions","method":"POST","ret":"txt","url":"","tls":"","x":599.7556610107422,"y":1076.010612487793,"wires":[[]]},{"id":"e6ed6fa1.c9564","type":"comment","z":"67842c12.e04b44","name":"Common service","info":"","x":85,"y":1031.010612487793,"wires":[]},{"id":"45385c1f.3075f4","type":"debug","z":"67842c12.e04b44","name":"","active":true,"console":"false","complete":"false","x":566.8957366943359,"y":1035.000846862793,"wires":[]},{"id":"c7175d2b.ab1e9","type":"link in","z":"67842c12.e04b44","name":"pdDispatchMessageStorage","links":["a042b696.2af2b8"],"x":131.28123474121094,"y":1076.0703048706055,"wires":[["81623bbc.df3228"]]},{"id":"61a96f8.42caf9","type":"comment","z":"67842c12.e04b44","name":"Common service","info":"","x":680.5859680175781,"y":948.3061141967773,"wires":[]},{"id":"51c363db.ce2acc","type":"link out","z":"67842c12.e04b44","name":"dispachQuestion","links":["ac0ab87.1510748","a72bedbb.1e981"],"x":621.5859832763672,"y":843.3060302734375,"wires":[]},{"id":"ac0ab87.1510748","type":"link in","z":"67842c12.e04b44","name":"pdDispatchAgainSendMail","links":["51c363db.ce2acc"],"x":72.40602111816406,"y":950.3271102905273,"wires":[["7b46eb03.064224"]]},{"id":"97114cbf.65cee","type":"link in","z":"67842c12.e04b44","name":"pdDispatchSendChatBotEvent","links":["a1856e31.38578","a042b696.2af2b8"],"x":76.89582824707031,"y":1142.7779541015625,"wires":[["9bbd8cd7.40781","b2c2fab7.78ac78"]]},{"id":"a1856e31.38578","type":"link out","z":"67842c12.e04b44","name":"faqRecieveRequestAgainSendDispatch","links":["97114cbf.65cee"],"x":564.8957366943359,"y":947.5559997558594,"wires":[]},{"id":"7a6b1cef.47f194","type":"function","z":"67842c12.e04b44","name":"MessageStorage(Select)","func":"const Settings = context.global.get('aai-common').Settings;\n\n// Parameter Initializing =======================\nflow.set('Event', {});\nflow.set('mail', {});\nflow.set('answerFaqAutoResponse', {});\nflow.set('eventId', {});\nflow.set('state.judgeReply', \"\");\nflow.set('NextFlowParam', {});\n\n// Parameter Setting =======================\nflow.set('Event.eventId', msg.payload.eventId);\nflow.set('eventId', msg.payload);\nflow.set('eventId.tracker', context.flow.get('cons.TRACK_QUESTION'));\nflow.set('eventId.type', msg.payload.type);\nflow.set('eventId.conversation', msg.payload.conversation);\nif(msg.payload.mailData !== undefined){\n    flow.set('eventId.messageId',msg.payload.mailData.messageId);\n    flow.set('eventId.inReplyTo',msg.payload.mailData.inReplyTo);\n}\nelse{\n    flow.set('eventId.messageId',\"\");\n    flow.set('eventId.inReplyTo',\"\");\n}\nflow.set('mail.from', context.global.get('cons.FROM_MAIL_ADDRESS'));\nflow.set('mail.subject', msg.payload.subject);\nflow.set('mail.username', msg.payload.user.name);\nif(msg.payload.user.emailAddresses === undefined || msg.payload.user.emailAddresses === \"\"){\n    if(msg.payload.type === \"mail\"){\n        flow.set('mail.useremail', msg.payload.user.uri);\n    }\n    else{\n        // \"sip:\" cut\n        flow.set('mail.useremail', msg.payload.user.uri.substring(4));\n    }\n}\nelse{\n    flow.set('mail.useremail',msg.payload.user.emailAddresses);\n}\nflow.set('mail.question',msg.payload.text);\n\n// incidents Parameter Setting ==============\nconst msg2 = {};\n\nvar dt = new Date();\ndt.setTime(dt.getTime() - (30 * 86400000));\n\nvar pdRequestMessage = msg.payload.text.match(/回答者\\d+と連絡を取りたい/);\nif(pdRequestMessage !== null && pdRequestMessage.length > 0){\n    var pdAnswerNumber = pdRequestMessage[0].match(/(\\d+)/);\n    if(pdAnswerNumber !== null && pdAnswerNumber.length > 0){\n        flow.set('mail.pdAnswerNumber', pdAnswerNumber[0]);\n    }\n}\n\nvar body = {};\n// make Body\nif(flow.get('eventId.inReplyTo') !== null && flow.get('eventId.inReplyTo') !== \"\"){\n    body =  {\n//        \"message.incidentStatus\": Settings.INCIDENT_STATUS_PDANSWERD,   //PDAnswered\n        \"message.requestUser.mailAddress\": flow.get('mail.useremail'),\n    //    \"message.requestUser.messageid\": flow.get('eventId.inReplyTo'),\n    \t\"message.dispatchPD.answerNo\":  parseInt(flow.get('mail.pdAnswerNumber')) ,\n    \t\"message.dispatchPD.responseDate\": { \"$ne\": \"\" },\n//    \t\"$and\":[{\"message.dispatchPD.responseDate\": { \"$ne\": \"\" }},{\"message.dispatchPD.responseDate\": { \"$gte\": dt }}],\n    \t\"sort$\":{\"message.dispatchPD.responseDate\":\"-1\"}       // responseDate Desc Sort\n    };\n}\nelse{\n    body =  {\n//        \"message.incidentStatus\": Settings.INCIDENT_STATUS_PDANSWERD,   //PDAnswered\n        \"message.requestUser.mailAddress\": flow.get('mail.useremail'),\n    \t\"message.dispatchPD.answerNo\":  parseInt(flow.get('mail.pdAnswerNumber')) ,\n    \t\"message.dispatchPD.responseDate\": { \"$ne\": \"\" },\n//    \t\"$and\":[{\"message.dispatchPD.responseDate\": { \"$ne\": \"\" }},{\"message.dispatchPD.responseDate\": { \"$gte\": dt }}],\n    \t\"sort$\":{\"message.dispatchPD.responseDate\":\"-1\"}       // responseDate Desc Sort\n    };\n}\nmsg2.payload = body;\n\n// Http Request\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_MESSAGESTORAGE_INCIDENTSSELECTURL;\n\nreturn msg2;","outputs":1,"noerr":0,"x":280.8957824707031,"y":222.11114501953125,"wires":[["21d6e569.574a3a","db6c7188.21011"]]},{"id":"21d6e569.574a3a","type":"http request","z":"67842c12.e04b44","name":"[POST]/incidentsSelect","method":"POST","ret":"txt","url":"","tls":"","x":523.8958435058594,"y":222.11114501953125,"wires":[["89202bc4.25ad48","8d58c794.2ef568"]]},{"id":"381b6edb.5b2e12","type":"inject","z":"67842c12.e04b44","name":"debug data inject","topic":"","payload":"{    \"eventId\":\"15a25f443061e9\",   \"statusId\":\"S15a265570597\",   \"conversation\":\"d7c1c3ac-c055-4ec9-b6c5-8fa06956161d\",   \"text\":\"エスカレーションして\",   \"timestamp\":\"2017-02-10T02:57:28.862Z\",   \"mode\":{      \"commandCode\":\"\",     \"modeSet\":{     \"operationMode\":\"b\",     \"meetingOpMode\":\"\",     \"translationMode\":\"TRANSLATION_ON\"     },     \"responseAnswer\":\"\"   },   \"user\":[     {        \"name\":\"横山 暁\",       \"uri\":\"sip:yokoyama-s@tsol365.onmicrosoft.com\",       \"contact\":\"/ucwa/oauth/v1/applications/103128404856/people/yokoyama-s@tsol365.onmicrosoft.com\",       \"translate\":{         \"src_lang\":\"ja\",         \"tgt_lang\":\"en\",         \"arrange\":true       }     }   ] }","payloadType":"json","repeat":"","crontab":"","once":false,"x":149.89578247070312,"y":270.22222900390625,"wires":[["7a6b1cef.47f194"]]},{"id":"db6c7188.21011","type":"debug","z":"67842c12.e04b44","name":"","active":true,"console":"false","complete":"false","x":350.8957824707031,"y":266.22222900390625,"wires":[]},{"id":"fe72ab46.8f4508","type":"link in","z":"67842c12.e04b44","name":"pdDispatchMessage","links":["293b298d.a0b446"],"x":71.2742919921875,"y":750.1698913574219,"wires":[["214632c0.e3f6ee"]]},{"id":"346b01e9.a4c3ae","type":"function","z":"67842c12.e04b44","name":"faqDispatchIncidents","func":"const Settings = context.global.get('aai-common').Settings;\n\n// Parameter Setting =======================\nvar messages = JSON.parse(msg.payload);\n\nvar body = {\n     \"messageCount\": messages.length\n};\n\nvar before30dt = new Date();\nbefore30dt.setTime(before30dt.getTime() - (30 * 86400000));\n\n// 全部取って判定\nfor(var i in messages){\n    if(i > 0){\n        break;\n    }\n    if(messages[i].createDate <= before30dt){\n        body.messageCount = -1; // Settion Time Out\n        break;\n    }\n    if(messages[i].incidentStatus != Settings.INCIDENT_STATUS_PDANSWERD){\n        body.messageCount = 0;\n        break;\n    }\n    \n    flow.set('eventId.incidentno', messages[i].incidentno);\n    body.message = messages[i];\n    if(messages[i].requestUser.name !== undefined && messages[i].requestUser.name !== \"\"){\n         body.username = messages[i].requestUser.name + \"\\n\";\n    }\n    else{\n         body.username = \"\";\n    }\n    body.useremail =  messages[i].requestUser.mailAddress;\n    body.question = messages[i].requestUser.question;\n    for(var j in messages[i].dispatchPD){\n        if(parseInt(flow.get('mail.pdAnswerNumber')) === messages[i].dispatchPD[j].answerNo){\n            body.answer =messages[i].dispatchPD[j].answer;\n            flow.set('mail.responseSubject',messages[i].dispatchPD[j].responseSubject);\n            flow.set('NextFlowParam.pdmailaddress', messages[i].dispatchPD[j].mailAddress);\n            break;\n        }\n    }\n    break;\n}\n\nif(body.answer === undefined || body.answer === null){\n    body.messageCount = 0;\n}\n\nvar msg2 = {};\nmsg2.payload = body;\n\nreturn msg2;","outputs":1,"noerr":0,"x":210.8958282470703,"y":334.22235107421875,"wires":[["f1c439a3.550918","59609287.f8348c"]]},{"id":"d29004c0.1b3828","type":"link in","z":"67842c12.e04b44","name":"pdDispatchIncidents","links":["89202bc4.25ad48"],"x":72.27084350585938,"y":334.38909912109375,"wires":[["346b01e9.a4c3ae"]]},{"id":"f1c439a3.550918","type":"debug","z":"67842c12.e04b44","name":"","active":true,"console":"false","complete":"false","x":332.89576721191406,"y":383.0104675292969,"wires":[]},{"id":"59609287.f8348c","type":"switch","z":"67842c12.e04b44","name":"","property":"payload.messageCount","propertyType":"msg","rules":[{"t":"lt","v":"1","vt":"str"},{"t":"gte","v":"1","vt":"str"}],"checkall":"true","outputs":2,"x":402.27085876464844,"y":334.3716125488281,"wires":[["8242bde5.7441c"],["293b298d.a0b446"]]},{"id":"293b298d.a0b446","type":"link out","z":"67842c12.e04b44","name":"","links":["fe72ab46.8f4508"],"x":511.2847137451172,"y":355.4653625488281,"wires":[]},{"id":"bed5fd64.692a6","type":"comment","z":"67842c12.e04b44","name":"dispatchMessage","info":"","x":623.8957977294922,"y":354.0104675292969,"wires":[]},{"id":"5e3e536d.386f9c","type":"comment","z":"67842c12.e04b44","name":"dispatchMessage","info":"","x":135.89581298828125,"y":701.010498046875,"wires":[]},{"id":"9df1effd.2e71a","type":"comment","z":"67842c12.e04b44","name":"Common service","info":"","x":684.8958129882812,"y":609.3438034057617,"wires":[]},{"id":"bdc002f7.dd61d","type":"template","z":"67842c12.e04b44","name":"tmplOfPDNoIncident","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"別の言葉で、もう一度お願いします。","x":432.89573669433594,"y":522.3437423706055,"wires":[["1d6caf36.47cac1","7b094844.d5bd18"]]},{"id":"7b094844.d5bd18","type":"debug","z":"67842c12.e04b44","name":"","active":true,"console":"false","complete":"false","x":541.8958282470703,"y":471.34375,"wires":[]},{"id":"1d6caf36.47cac1","type":"link out","z":"67842c12.e04b44","name":"dispachQuestion","links":["8f51b793.e12398","a72bedbb.1e981"],"x":626.8958282470703,"y":521.3437423706055,"wires":[]},{"id":"7be90ba6.023ab4","type":"function","z":"67842c12.e04b44","name":"faqReturnNoIncident","func":"flow.set('mail.text', msg.payload);\nflow.set('eventId.FaqRequestAgainMessage', flow.get('mail.text'));\n\nvar msg2 = {};\nmsg2.payload = {\n    eventId: flow.get('Event.eventId'),\n    response: []\n};\n\nif(flow.get('eventId.type') === \"im\"){\n    var responseDetail = {\n        operation: \"im\",\n        im:{}\n    };\n    responseDetail.im.data = \"text/plain\"; // \"text/plain\" or \"text/html\"\n    responseDetail.im.text = flow.get('mail.text');\n    msg2.payload.response[0] = responseDetail;\n}\nelse if(flow.get('eventId.type') === \"voice\"){\n    var responseDetail = {\n        operation: \"voice\",\n        voice:{}\n    };\n    responseDetail.voice.text = flow.get('mail.text');\n    msg2.payload.response[0] = responseDetail;\n}\nelse{\n    // mail\n    var responseDetail = {\n        operation: \"mail\",\n        mail:{}\n    };\n//    responseDetail.mail.from = flow.get('mail.from');\n    var mailTo = [];\n    mailTo[0] = flow.get('mail.useremail');\n    responseDetail.mail.to = mailTo;\n    responseDetail.mail.subject = flow.get('mail.subject');\n    responseDetail.mail.text = flow.get('mail.text');\n    msg2.payload.response[0] = responseDetail;\n}\n\nflow.set('eventId.FaqAutoResponseAnswer', msg2.payload);\n\nreturn msg2;","outputs":1,"noerr":0,"x":243.20558166503906,"y":611.8159713745117,"wires":[["89376adf.5729c8","a042b696.2af2b8"]]},{"id":"8f51b793.e12398","type":"link in","z":"67842c12.e04b44","name":"pdDispatchAgainSendMail","links":["1d6caf36.47cac1"],"x":76.71586608886719,"y":611.3647994995117,"wires":[["7be90ba6.023ab4"]]},{"id":"89376adf.5729c8","type":"debug","z":"67842c12.e04b44","name":"","active":true,"console":"false","complete":"false","x":492.20556640625,"y":565.8159713745117,"wires":[]},{"id":"a042b696.2af2b8","type":"link out","z":"67842c12.e04b44","name":"faqRecieveRequestAgainSendDispatch","links":["c7175d2b.ab1e9","97114cbf.65cee"],"x":569.2056274414062,"y":611.5936813354492,"wires":[]},{"id":"cb8cb311.12e57","type":"link in","z":"67842c12.e04b44","name":"pdNoIncident","links":["8242bde5.7441c"],"x":76.58413696289062,"y":523.2075500488281,"wires":[["bdc002f7.dd61d"]]},{"id":"4313a895.14cd78","type":"comment","z":"67842c12.e04b44","name":"noIncident","info":"","x":120.20565795898438,"y":474.0481872558594,"wires":[]},{"id":"8242bde5.7441c","type":"link out","z":"67842c12.e04b44","name":"","links":["cb8cb311.12e57"],"x":512.2847137451172,"y":308.5660400390625,"wires":[]},{"id":"65eae91.bb2b918","type":"comment","z":"67842c12.e04b44","name":"noIncident","info":"","x":604.8957977294922,"y":308.12158203125,"wires":[]},{"id":"214632c0.e3f6ee","type":"function","z":"67842c12.e04b44","name":"MessageStorage(Update)","func":"const Settings = context.global.get('aai-common').Settings;\n\nflow.set('eventId.pdDispatchTemp', msg.payload);\n\n// Parameter Setting =======================\nvar message = msg.payload.message;\n\nvar dt = new Date();\n\nmessage.incidentStatus = Settings.INCIDENT_STATUS_PDREREQUESTED;   //PDRe-requested\nmessage.chaneltype = flow.get('eventId.type');\nfor(var j in message.dispatchPD){\n    if(parseInt(flow.get('mail.pdAnswerNumber')) === message.dispatchPD[j].answerNo){\n        message.dispatchPD[j].reDispatchDate = dt;\n        break;\n    }\n}\n\nconst msg2 = {};\n\n// make Body\nconst body =  {\n    \"id\":  msg.payload.message.incidentno,\n    \"message\": message\n};\n\nmsg2.payload = body;\n\n// Http Request\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_MESSAGESTORAGE_INCIDENTSUPDATEURL;\n\nreturn msg2;","outputs":1,"noerr":0,"x":229.89581298828125,"y":750.3438110351562,"wires":[["1842ddfb.dc9e02","127dd868.004128"]]},{"id":"1842ddfb.dc9e02","type":"http request","z":"67842c12.e04b44","name":"[POST]/incidentsUpdate","method":"POST","ret":"txt","url":"","tls":"","x":481.89588928222656,"y":750.3436889648438,"wires":[["b48310cb.1b4ce"]]},{"id":"127dd868.004128","type":"debug","z":"67842c12.e04b44","name":"","active":true,"console":"false","complete":"false","x":441.0359649658203,"y":788.3340454101562,"wires":[]},{"id":"7b46eb03.064224","type":"function","z":"67842c12.e04b44","name":"pdRecieveRequestSendDispatch","func":"flow.set('mail.text', msg.payload);\n\nvar msg2 = {};\nmsg2.payload = {\n    eventId: flow.get('Event.eventId'),\n    response: []\n};\nvar returnMessage = \"アシスタントAIサービス、モモチです。\\n\\nでは、詳しそうな方に聞いてみます。回答がありましたら、あらためてご連絡します。\";\n\nif(flow.get('eventId.type') === \"im\"){\n    var responseDetail = {\n        operation: \"im\",\n        im:{}\n    };\n    responseDetail.im.data = \"text/plain\"; // \"text/plain\" or \"text/html\"\n    responseDetail.im.text = returnMessage;\n    msg2.payload.response[0] = responseDetail;\n}\nelse if(flow.get('eventId.type') === \"voice\"){\n    var responseDetail = {\n        operation: \"voice\",\n        voice:{}\n    };\n    responseDetail.voice.text = returnMessage;\n    msg2.payload.response[0] = responseDetail;\n}\nelse{\n    // mail\n    var responseDetail = {\n        operation: \"mail\",\n        mail:{}\n    };\n//    responseDetail.mail.from = flow.get('mail.from');\n    var mailTo = [];\n    mailTo[0] = flow.get('mail.useremail');\n    responseDetail.mail.to = mailTo;\n//    responseDetail.mail.to = flow.get('mail.useremail');\n    responseDetail.mail.subject = \"RE:\" + flow.get('mail.subject').replace(\"RE:\" , \"\");\n    responseDetail.mail.text = returnMessage.replace(/\\n/g , \"<br>\" );\n    msg2.payload.response[0] = responseDetail;\n}\n\n// dispatchMail\nvar dispatchDetail = {\n    operation: \"mail\",\n    mail:{}\n};\n//dispatchDetail.mail.from = flow.get('mail.from');\ndispatchDetail.mail.bcc = flow.get('NextFlowParam.pdmailaddress');\ndispatchDetail.mail.subject = \"RE:\" + flow.get('mail.responseSubject').replace(\"RE:\" , \"\");\ndispatchDetail.mail.text = flow.get('mail.text').replace(/\\n/g , \"<br>\" );\nmsg2.payload.response[1] = dispatchDetail;\n\nflow.set('eventId.FaqAutoResponseAnswer', msg2.payload);\n\nreturn msg2;","outputs":1,"noerr":0,"x":291.8957977294922,"y":948.2848815917969,"wires":[["a1856e31.38578"]]},{"id":"89202bc4.25ad48","type":"link out","z":"67842c12.e04b44","name":"","links":["d29004c0.1b3828"],"x":674.2708587646484,"y":222.44415283203125,"wires":[]},{"id":"b2c2fab7.78ac78","type":"debug","z":"67842c12.e04b44","name":"","active":true,"console":"false","complete":"false","x":225.8958282470703,"y":1184.9515991210938,"wires":[]},{"id":"9bbd8cd7.40781","type":"subflow:5dbccf9.8065d3","z":"67842c12.e04b44","x":249.89584350585938,"y":1141.739875793457,"wires":[["4bb2ccb8.91bad4","5b165e3d.25f53"]]},{"id":"4bb2ccb8.91bad4","type":"function","z":"67842c12.e04b44","name":"Compleate","func":"const msg2 = {};\nmsg2.payload = {\n    eventId: flow.get('Event.eventId'),\n}\n\nreturn msg2;","outputs":1,"noerr":0,"x":426.8958435058594,"y":1141.739875793457,"wires":[["c620eac.0b4c118"]]},{"id":"c620eac.0b4c118","type":"subflow:f21fed1e.0058e","z":"67842c12.e04b44","name":"","x":611.5207824707031,"y":1142.3684158325195,"wires":[]},{"id":"8d58c794.2ef568","type":"debug","z":"67842c12.e04b44","name":"","active":true,"console":"false","complete":"false","x":605.8958129882812,"y":264,"wires":[]},{"id":"2f868fe.ee7d77","type":"link in","z":"67842c12.e04b44","name":"CommonMessageStorage","links":["b7f637f5.d48e58"],"x":75.89582824707031,"y":1475.7778625488281,"wires":[["59aa867d.80b3c8"]]},{"id":"5b165e3d.25f53","type":"function","z":"67842c12.e04b44","name":"MessageStorage(Select)","func":"const Settings = context.global.get('aai-common').Settings;\n\n// Response formatting =======================\nvar jsonResponse = \"\";\ntry{\n    jsonResponse = JSON.parse(msg.payload);\n}\ncatch(e){\n    jsonResponse = msg.payload;\n}\n\nflow.set('eventId.responseResult', jsonResponse.responseResult);\nflow.set('mail.responseResult', jsonResponse.responseResult);\n\n// incidents Parameter Setting ==============\nconst msg2 = {};\n\n// make Body\nconst body =  {\n    \"id\": flow.get('eventId.incidentno')\n}\n\nmsg2.payload = body;\n\n// Http Request\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_MESSAGESTORAGE_INCIDENTSSELECTURL;\n\nreturn msg2;","outputs":1,"noerr":0,"x":235.51040649414062,"y":1280.3686828613281,"wires":[["d54758f5.1b4358"]]},{"id":"d54758f5.1b4358","type":"http request","z":"67842c12.e04b44","name":"[POST]/incidentsSelect","method":"POST","ret":"txt","url":"","tls":"","x":477.5104522705078,"y":1280.3685607910156,"wires":[["798b4c02.c973f4"]]},{"id":"798b4c02.c973f4","type":"function","z":"67842c12.e04b44","name":"MessageStorage(Update)","func":"const Settings = context.global.get('aai-common').Settings;\n\n// Parameter Setting =======================\nvar message = JSON.parse(msg.payload)[0];\n\nvar jsonResponse = flow.get('mail.responseResult');\n\n// messageid setting\nfor(var i in jsonResponse){\n    if(jsonResponse[i].operation !== undefined && jsonResponse[i].operation === \"mail\"){\n        if (jsonResponse[i].mail !== undefined){\n            for(var j in jsonResponse[i].mail.to){\n                for(var k in message.dispatchPD){\n                    if (jsonResponse[i].mail.to[j] === message.dispatchPD[k].mailAddress){\n                        message.dispatchPD[k].messageid = jsonResponse[i].mail.messageId.messageId;\n                    }\n                }\n            }\n            break;\n        }\n    }\n}\nfor(var k in message.dispatchPD){\n    if( message.dispatchPD[k].messageid === undefined){\n        message.dispatchPD[k].messageid = \"\";\n    }\n}\nif(message.requestUser.messageid === undefined){\n    message.requestUser.messageid = \"\";\n}\n\nconst msg2 = {};\n\n// make Body\nconst body =  {\n    \"id\":  flow.get('eventId.incidentno'),\n    \"message\": message\n};\n\nmsg2.payload = body;\n\n// Http Request\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_MESSAGESTORAGE_INCIDENTSUPDATEURL;\n\nreturn msg2;","outputs":1,"noerr":0,"x":282.510498046875,"y":1332.2573547363281,"wires":[["333dc0e0.d6e03","c87ed5e5.262d28"]]},{"id":"333dc0e0.d6e03","type":"http request","z":"67842c12.e04b44","name":"[POST]/incidentsUpdate","method":"POST","ret":"txt","url":"","tls":"","x":534.5105743408203,"y":1332.2572326660156,"wires":[["b7f637f5.d48e58"]]},{"id":"c87ed5e5.262d28","type":"debug","z":"67842c12.e04b44","name":"","active":true,"console":"false","complete":"false","x":493.65065002441406,"y":1370.2475891113281,"wires":[]},{"id":"6225541f.2859fc","type":"comment","z":"67842c12.e04b44","name":"incidentsUpdate(messageid)","info":"","x":200.5104217529297,"y":1235.3686828613281,"wires":[]},{"id":"59aa867d.80b3c8","type":"function","z":"67842c12.e04b44","name":"MessageStorage(Create Questions)","func":"const Settings = context.global.get('aai-common').Settings;\n\nconst msg2 = {};\n\nvar dt = new Date();\n//var datestring = d.getFullYear()  + \"-\" + (\"0\"+(d.getMonth())).slice(-2) + \"-\" + (\"0\" + d.getDate()).slice(-2);\n//datestring += \"T\" + (\"0\" + d.getHours()).slice(-2) + \":\" + (\"0\" + d.getMinutes()).slice(-2) + \":\" + (\"0\" + d.getSeconds()).slice(-2) + \"Z\"; \n\n// make Body\nconst body =  {\n    \"type\": \"questions\",\n    \"text\": flow.get('eventId'),\n    \"from\": {\n      \"id\": flow.get('mail.username'),\n      \"name\": flow.get('mail.useremail')\n    },\n    \"timestamp\": dt,\n    \"address\": {\n      \"type\": flow.get('eventId.type'),\n      \"conversation\" :{\n        \"id\": flow.get('eventId.conversation')\n      }\n    }\n}\n\nmsg2.payload = body;\n\n// Http Request\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_MESSAGESTORAGE_QUESTIONSURL;\n\nreturn msg2;","outputs":1,"noerr":0,"x":267.5104064941406,"y":1475.5908508300781,"wires":[["fdfd1a19.75bce8","ae34e9a3.8769a8"]]},{"id":"fdfd1a19.75bce8","type":"http request","z":"67842c12.e04b44","name":"[POST]/questions","method":"POST","ret":"txt","url":"","tls":"","x":536.5105285644531,"y":1475.5908432006836,"wires":[[]]},{"id":"ae34e9a3.8769a8","type":"debug","z":"67842c12.e04b44","name":"","active":true,"console":"false","complete":"false","x":503.6506042480469,"y":1434.5810775756836,"wires":[]},{"id":"b7f637f5.d48e58","type":"link out","z":"67842c12.e04b44","name":"","links":["2f868fe.ee7d77"],"x":683.8923492431641,"y":1332.0388488769531,"wires":[]},{"id":"b48310cb.1b4ce","type":"link out","z":"67842c12.e04b44","name":"dispachQuestion","links":["b6fabc88.e1a86"],"x":621.8958587646484,"y":749.22216796875,"wires":[]},{"id":"b6fabc88.e1a86","type":"link in","z":"67842c12.e04b44","name":"msgDispatch","links":["b48310cb.1b4ce"],"x":73.89588928222656,"y":844.22216796875,"wires":[["6432e1c0.c29b4"]]},{"id":"6432e1c0.c29b4","type":"function","z":"67842c12.e04b44","name":"msgDispatch","func":"const msg2 = {};\n\nmsg2.payload = flow.get('eventId.pdDispatchTemp');\n\nreturn msg2;","outputs":1,"noerr":0,"x":198.8958740234375,"y":844.22216796875,"wires":[["9543afcb.677b8"]]}]