.nodered/lib/flows/mainEngage.json
[{"id":"d8323d2.12f65c","type":"subflow","name":"SendChatBotComplete (10)","info":"","in":[{"x":97,"y":130,"wires":[{"id":"133ceabb.b3e1c5"}]}],"out":[]},{"id":"133ceabb.b3e1c5","type":"function","z":"d8323d2.12f65c","name":"SendChatBotComplete","func":"const Settings = context.global.get('aai-common').Settings;\n\nconst msg2 = {};\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_CHATBOT_COMPLETEURL;\nmsg2.payload = msg.payload;\nreturn msg2;","outputs":1,"noerr":0,"x":291.51575469970703,"y":128.75,"wires":[["d4f24d1f.277f8"]]},{"id":"d4f24d1f.277f8","type":"http request","z":"d8323d2.12f65c","name":"SendChatBotEvent","method":"use","ret":"txt","url":"","tls":"","x":566.5088195800781,"y":128.57293701171875,"wires":[[]]},{"id":"5e87281.ef113d8","type":"comment","z":"d8323d2.12f65c","name":"SendChatBotComplete","info":"","x":138,"y":59.70831298828125,"wires":[]},{"id":"5dbccf9.8065d3","type":"subflow","name":"SendChatBotEvent","info":"","in":[{"x":93,"y":137,"wires":[{"id":"93aabbad.47ff18"}]}],"out":[{"x":775,"y":135,"wires":[{"id":"91c4afe3.10023","port":0}]}]},{"id":"93aabbad.47ff18","type":"function","z":"5dbccf9.8065d3","name":"SendChatBotEvent","func":"const Settings = context.global.get('aai-common').Settings;\n\nconst msg2 = {};\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_CHATBOT_NOTIFYURL;\nmsg2.payload = msg.payload;\nreturn msg2;","outputs":1,"noerr":0,"x":289.5079116821289,"y":136.45921325683594,"wires":[["91c4afe3.10023"]]},{"id":"91c4afe3.10023","type":"http request","z":"5dbccf9.8065d3","name":"SendChatBotEvent","method":"use","ret":"txt","url":"","tls":"","x":574.5009765625,"y":136.2821502685547,"wires":[[]]},{"id":"36c3e77e.dff148","type":"comment","z":"5dbccf9.8065d3","name":"SendChatBotEvent","info":"","x":135.99215698242188,"y":67.41752624511719,"wires":[]},{"id":"db5c2de5.1958d","type":"http request","z":"b1c8ba8.f284f48","name":"[POST] /translate","method":"use","ret":"txt","url":"","tls":"","x":671.8958129882812,"y":284.7383270263672,"wires":[["86239db0.110a1"]]},{"id":"86239db0.110a1","type":"function","z":"b1c8ba8.f284f48","name":"response","func":"// const event = global.get('mainEngage20');\nconst event = msg.originPayload;\n\nlet text;\nif(1 < event.imData.numPeople){\n    text = `(${event.user.displayName}:${msg.payload})`;\n}\nelse{\n    // text = '('+msg.payload+')'\n    text = `(${msg.payload})`;\n}\n\nconst msg2 = {};\nmsg2.payload = {\n    eventId: event.eventId,\n    response:{\n      operation: 'im',\n      im:{\n          data: 'text/plain',\n          text: text\n      }\n    }\n};\nmsg2.originPayload = event;\n\nreturn msg2;","outputs":1,"noerr":0,"x":936.9110717773438,"y":287.4884033203125,"wires":[["2f28c186.dc801e"]]},{"id":"b8021c25.f25c6","type":"comment","z":"b1c8ba8.f284f48","name":"Translate","info":"","x":107.89544677734375,"y":160.46563720703125,"wires":[]},{"id":"f5c38b57.565e88","type":"comment","z":"b1c8ba8.f284f48","name":"MessageStorage_GENERAL","info":"","x":181.56243896484375,"y":402.73834228515625,"wires":[]},{"id":"fb7fd680.82bfa8","type":"comment","z":"b1c8ba8.f284f48","name":"MAKE_MINUTES","info":"","x":147.56246948242188,"y":811.7383728027344,"wires":[]},{"id":"29c89db5.89e052","type":"function","z":"b1c8ba8.f284f48","name":"MessageStorage","func":"const Settings = context.global.get('aai-common').Settings;\nglobal.set(\"mainEngage31\", msg.payload);\n\nconst msg2 = {};\n\n// make Body\nconst body =  {\n    \"type\": \"message\",\n    \"text\": msg.payload.text,\n    \"from\": {\n      \"id\": msg.payload.user.mailAddress,\n      \"name\": msg.payload.user.name\n    },\n    \"timestamp\": msg.payload.timestamp,\n    \"address\": {\n      \"channelId\": \"\",\n      \"conversation\" :{\n        \"id\": msg.payload.conversation\n      }\n    }\n}\nmsg2.payload = body;\n\n// Http Request\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_MESSAGESTORAGE_ACTIONSURL;\nmsg2.originPayload = msg.payload;\n\nreturn msg2;","outputs":1,"noerr":0,"x":449.56256103515625,"y":736.4049072265625,"wires":[["c4d78951.8e0a88"]]},{"id":"c4d78951.8e0a88","type":"http request","z":"b1c8ba8.f284f48","name":"[POST] /actions","method":"use","ret":"txt","url":"","tls":"","x":770.5624389648438,"y":735.4049682617188,"wires":[["c11fcdce.358fc"]]},{"id":"90ab2a65.94cf58","type":"function","z":"b1c8ba8.f284f48","name":"MessageToDocx","func":"const Settings = context.global.get('aai-common').Settings;\nconst event = msg.originPayload;\n\nconst msg2 = {};\n\nlet email;\nif(Array.isArray(event.startMinutes.user.emailAddresses)){\n    email = event.startMinutes.user.emailAddresses[0];\n}\nelse{\n    email = event.startMinutes.user.emailAddresses;\n}\n\n// make Body\nconst body =  {\n    \"conversation\":{\n        \"id\":event.conversation\n    },\n    \"mailaddress\": email,\n    \"startDate\": event.startMinutes.timestamp,\n    \"endDate\": event.timestamp,\n    \"calendar\": event.viewCalendar,\n    \"name\":event.user.name,\n    \"participants\": event.imData.participants,\n};\nmsg2.payload = body;\n\n// Http Request\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_MESSAGETODOCX_MESSAGESURL;\nmsg2.originPayload = event;\n\nreturn msg2;\n","outputs":1,"noerr":0,"x":459.5624694824219,"y":1034.0717163085938,"wires":[["9eea16b3.7e0d98","6960627.807979c"]]},{"id":"93451ca6.9cf19","type":"function","z":"b1c8ba8.f284f48","name":"Send Mail","func":"const Settings = context.global.get('aai-common').Settings;\nconst event = msg.originPayload;\nconst FormData = global.get('form-data');\nconst form = new FormData();\n\nconst attendents = event.viewCalendar.attendents;\nlet startTime;\nif(event.viewCalendar.start){\n    startTime = new Date(event.viewCalendar.start);\n}\nelse{\n    startTime = new Date(event.startMinutes.timestamp);\n}\n\n\n// mailaddress\nlet email;\nif(attendents){\n    form.append('to', attendents.map(x => x.email).join(','));\n}\nelse{\n    if(Array.isArray(event.startMinutes.user.emailAddresses)){\n        email = event.startMinutes.user.emailAddresses[0];\n    }\n    else{\n        email = event.startMinutes.user.emailAddresses;\n    }\n    form.append('to', email);\n}\n\n// tittle\nlet subject;\nif(event.subject){\n    subject = `議事録送付:${event.subject}`;\n}\nelse{\n    subject = '議事録送付:';\n}\nform.append('subject', subject);\n\n// text\nlet textSubject = '';\nif(subject){\n    textSubject = `「${subject}」`;\n}\nconst text = `<p>アシスタントAIモモチです</p><p>${startTime.getFullYear()}/${startTime.getMonth()+1}/${startTime.getDate()}${subject}の議事録を送付します</p>`;\nform.append('text', text);\n\n// file\nconst year = `${startTime.getFullYear()}`.slice(-2);\nconst month = `0${startTime.getMonth()+1}`.slice(-2);\nconst day = `0${startTime.getDate()}`.slice(-2);\nform.append('file', new Buffer(msg.payload), \n  {contentType:'application/msword',\n  filename:`${subject}${year.slice(-2)}${month}${day}.docx`});\n\n// post\nform.submit(Settings.WEB_CHATBOT_SENDMINUTESURL, function(err, res) {\n});\n\nconst msg2 = {};\nevent.sendMiutes = email;\nmsg2.originPayload = event;\n\nreturn msg2;","outputs":1,"noerr":0,"x":1049.2293701171875,"y":1033.7386016845703,"wires":[["f450b26c.9c19","f4f3d2ec.a6ade"]]},{"id":"22ac2fc0.fce47","type":"function","z":"b1c8ba8.f284f48","name":"Transalte","func":"const Settings = context.global.get('aai-common').Settings;\nglobal.set(\"mainEngage20\", msg.payload);\n\nconst msg2 = {};\n\n// make Body\nconst body = {\n  \"query\": msg.payload.text,\n  \"src_lang\": msg.payload.user.translate.src_lang,\n  \"tgt_lang\": msg.payload.user.translate.tgt_lang,\n  \"arrange\": msg.payload.user.translate.arrange\n};\nmsg2.payload = body;\n\n// Http Request\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_TRANSLATE_TRANSLATEURL;\nmsg2.originPayload = msg.payload;\n\nreturn msg2;\n\n","outputs":1,"noerr":0,"x":421.89569091796875,"y":284.73834228515625,"wires":[["db5c2de5.1958d"]]},{"id":"1ac722f6.fff16d","type":"function","z":"b1c8ba8.f284f48","name":"MessageStorage","func":"const Settings = context.global.get('aai-common').Settings;\nglobal.set(\"mainEngage30\", msg.payload);\n\nconst msg2 = {};\n\n// make Body\nconst body =  {\n    \"type\": \"message\",\n    \"text\": msg.payload.text,\n    \"from\": {\n      \"id\": msg.payload.user.mailAddress,\n      \"name\": msg.payload.user.name\n    },\n    \"timestamp\": msg.payload.timestamp,\n    \"address\": {\n      \"channelId\": \"\",\n      \"conversation\" :{\n        \"id\": msg.payload.conversation\n      }\n    }\n}\nmsg2.payload = body;\n\n// Http Request\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_MESSAGESTORAGE_MESSAGESURL;\nmsg2.originPayload = msg.payload;\n\nreturn msg2;","outputs":1,"noerr":0,"x":454.8957824707031,"y":543.73828125,"wires":[["4f6b25b0.f4b56c"]]},{"id":"4f6b25b0.f4b56c","type":"http request","z":"b1c8ba8.f284f48","name":"[POST] /messages","method":"use","ret":"txt","url":"","tls":"","x":760.8959045410156,"y":544.7382736206055,"wires":[["e746e55d.e8af28"]]},{"id":"e746e55d.e8af28","type":"function","z":"b1c8ba8.f284f48","name":"Send Messages","func":"// const event = global.get('mainEngage30');\nconst event = msg.originPayload;\n\nlet text;\nif(1 < event.imData.numPeople){\n    text = `(${event.user.displayName}:${event.text})`;\n}\nelse{\n    // text = '('+msg.payload+')'\n    text = `(${event.text})`;\n}\n\nconst msg2 = {};\nmsg2.payload = {\n    eventId: event.eventId,\n    response:{\n      operation: 'im',\n      im:{\n          data: 'text/plain',\n          text: text\n      }\n    }\n};\nmsg2.originPayload = event;\n\nreturn msg2;","outputs":1,"noerr":0,"x":1049.0626525878906,"y":545.0715942382812,"wires":[["dc40158f.58cc68"]]},{"id":"c11fcdce.358fc","type":"function","z":"b1c8ba8.f284f48","name":"Send Messages","func":"// const event = global.get('mainEngage31');\nconst event = msg.originPayload;\n\nlet text;\nif(1 < event.imData.numPeople){\n    text = `(${event.user.displayName}:${event.text})`;\n}\nelse{\n    // text = '('+msg.payload+')'\n    text = `(${event.text})`;\n}\n\nconst msg2 = {};\nmsg2.payload = {\n    eventId: event.eventId,\n    response:{\n      operation: 'im',\n      im:{\n          data: 'text/plain',\n          text: text\n      }\n    }\n};\nmsg2.originPayload = event;\n\nreturn msg2;","outputs":1,"noerr":0,"x":1062.7917175292969,"y":736.627197265625,"wires":[["2eba8e9b.80a692"]]},{"id":"e87cd5dc.cd6f68","type":"comment","z":"b1c8ba8.f284f48","name":"RECORD_ACTION_ITEM","info":"","x":161.79165649414062,"y":604.6272277832031,"wires":[]},{"id":"5c49169d.807a98","type":"comment","z":"b1c8ba8.f284f48","name":"mainEngage","info":"","x":116.94134521484375,"y":53,"wires":[]},{"id":"2f28c186.dc801e","type":"subflow:5dbccf9.8065d3","z":"b1c8ba8.f284f48","name":"","x":1166.3125305175781,"y":283.68359375,"wires":[["cb7e5ed9.3dbc4"]]},{"id":"ae438110.b833","type":"http in","z":"b1c8ba8.f284f48","name":"","url":"/mainEngage20","method":"post","swaggerDoc":"","x":173.69137573242188,"y":208.23046875,"wires":[["22ac2fc0.fce47","fa3aa80a.931bf8"]]},{"id":"af4e9460.58c9b8","type":"http in","z":"b1c8ba8.f284f48","name":"","url":"/mainEngage30","method":"post","swaggerDoc":"","x":165.69918823242188,"y":466.21484375,"wires":[["1ac722f6.fff16d","ba522528.6dc8e8"]]},{"id":"fa3aa80a.931bf8","type":"http response","z":"b1c8ba8.f284f48","name":"","x":450.7070007324219,"y":209.46484375,"wires":[]},{"id":"ba522528.6dc8e8","type":"http response","z":"b1c8ba8.f284f48","name":"","x":455.7070007324219,"y":466.44921875,"wires":[]},{"id":"8e2bf85e.af6ad8","type":"http in","z":"b1c8ba8.f284f48","name":"","url":"/mainEngage31","method":"post","swaggerDoc":"","x":162.69918823242188,"y":664.23046875,"wires":[["29c89db5.89e052","6001bf1e.18601"]]},{"id":"6001bf1e.18601","type":"http response","z":"b1c8ba8.f284f48","name":"","x":449.7070007324219,"y":665.45703125,"wires":[]},{"id":"d1fc9c08.62f12","type":"http in","z":"b1c8ba8.f284f48","name":"","url":"/mainEngage32","method":"post","swaggerDoc":"","x":175.69918823242188,"y":936.23046875,"wires":[["f5499100.eff8b","b726e6f8.e13be8"]]},{"id":"f5499100.eff8b","type":"http response","z":"b1c8ba8.f284f48","name":"","x":406.6991882324219,"y":891.45703125,"wires":[]},{"id":"dc40158f.58cc68","type":"subflow:5dbccf9.8065d3","z":"b1c8ba8.f284f48","name":"","x":1295.7070007324219,"y":543.9336242675781,"wires":[["a5cbbaa3.7a7da8"]]},{"id":"2eba8e9b.80a692","type":"subflow:5dbccf9.8065d3","z":"b1c8ba8.f284f48","x":1302.6991882324219,"y":736.92578125,"wires":[["3badb097.f7f7e"]]},{"id":"9eea16b3.7e0d98","type":"http request","z":"b1c8ba8.f284f48","name":"[POST] /conversion/MessageToDocx","method":"use","ret":"bin","url":"","tls":"","x":779.9491577148438,"y":1033.9961700439453,"wires":[["93451ca6.9cf19","e5de525f.6d77d"]]},{"id":"a5cbbaa3.7a7da8","type":"function","z":"b1c8ba8.f284f48","name":"","func":"const event = global.get('mainEngage30');\n\nconst msg2 = {};\nmsg2.payload = {\n    eventId: event.eventId,\n}\n\nreturn msg2;","outputs":1,"noerr":0,"x":1492.7859802246094,"y":544.7496032714844,"wires":[["c583b706.f49df8"]]},{"id":"3badb097.f7f7e","type":"function","z":"b1c8ba8.f284f48","name":"","func":"const event = global.get('mainEngage31');\n\nconst msg2 = {};\nmsg2.payload = {\n    eventId: event.eventId,\n}\n\nreturn msg2;","outputs":1,"noerr":0,"x":1499.7825622558594,"y":738.0828857421875,"wires":[["73da05d.4602bfc"]]},{"id":"cb7e5ed9.3dbc4","type":"function","z":"b1c8ba8.f284f48","name":"","func":"const event = global.get('mainEngage20');\n\nconst msg2 = {};\nmsg2.payload = {\n    eventId: event.eventId,\n}\n\nreturn msg2;","outputs":1,"noerr":0,"x":1342.8450622558594,"y":283.8849792480469,"wires":[["fe7b11b.fe5a3f"]]},{"id":"366a11b6.86984e","type":"http in","z":"b1c8ba8.f284f48","name":"","url":"/mainEngage40","method":"post","swaggerDoc":"","x":173.5950164794922,"y":1344.22216796875,"wires":[["a426ea4a.8dfc38","da452ef.c6639d"]]},{"id":"a426ea4a.8dfc38","type":"http response","z":"b1c8ba8.f284f48","name":"","x":449.53944396972656,"y":1345.0590515136719,"wires":[]},{"id":"232add23.f54362","type":"http request","z":"b1c8ba8.f284f48","name":"[POST] /translate","method":"use","ret":"txt","url":"","tls":"","x":709.5949859619141,"y":1425.666748046875,"wires":[["4aafd940.efe158"]]},{"id":"da452ef.c6639d","type":"function","z":"b1c8ba8.f284f48","name":"Transalte","func":"const Settings = context.global.get('aai-common').Settings;\nglobal.set(\"mainEngage40\", msg.payload);\n\nconst msg2 = {};\n\n// make Body\nconst body = {\n  \"query\": msg.payload.text,\n  \"src_lang\": msg.payload.user.translate.src_lang,\n  \"tgt_lang\": msg.payload.user.translate.tgt_lang,\n  \"arrange\": msg.payload.user.translate.arrange\n};\nmsg2.payload = body;\n\n// Http Request\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_TRANSLATE_TRANSLATEURL;\nmsg2.originPayload = msg.payload;\n\nreturn msg2;\n\n","outputs":1,"noerr":0,"x":459.59486389160156,"y":1425.666763305664,"wires":[["232add23.f54362"]]},{"id":"4aafd940.efe158","type":"function","z":"b1c8ba8.f284f48","name":"MessageStorage","func":"const Settings = context.global.get('aai-common').Settings;\n// const event = global.get('mainEngage40');\nconst event = msg.originPayload;\n\nconst msg2 = {};\n\nconst text = [];\ntext.push(event.text);\ntext.push(msg.payload);\n\n// make Body\nconst body =  {\n    \"type\": \"message\",\n    \"text\": text.join('\\n'),\n    \"from\": {\n      \"id\": event.user.mailAddress,\n      \"name\": event.user.name\n    },\n    \"timestamp\": event.timestamp,\n    \"address\": {\n      \"channelId\": \"\",\n      \"conversation\" :{\n        \"id\": event.conversation\n      }\n    }\n}\nevent.translateMiutes = body.text;\nmsg2.payload = body;\n\n// Http Request\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_MESSAGESTORAGE_MESSAGESURL;\nmsg2.originPayload = event;\n\nreturn msg2;","outputs":1,"noerr":0,"x":583.594970703125,"y":1495.2221221923828,"wires":[["88392897.62b8a8"]]},{"id":"88392897.62b8a8","type":"http request","z":"b1c8ba8.f284f48","name":"[POST] /messages","method":"use","ret":"txt","url":"","tls":"","x":910.5950927734375,"y":1493.1110382080078,"wires":[["2dd49222.dc6f9e"]]},{"id":"aa819d56.c04e2","type":"subflow:5dbccf9.8065d3","z":"b1c8ba8.f284f48","x":1438.928466796875,"y":1492.5557403564453,"wires":[["5ee4d2cf.77e04c"]]},{"id":"2dd49222.dc6f9e","type":"function","z":"b1c8ba8.f284f48","name":"Send Messages","func":"const event = msg.originPayload;\n\nlet text;\nif(1 < event.imData.numPeople){\n    text = `(${event.user.displayName}:${event.translateMiutes})`;\n}\nelse{\n    // text = '('+msg.payload+')'\n    text = `(${event.translateMiutes})`;\n}\n\nconst msg2 = {};\nmsg2.payload = {\n    eventId: event.eventId,\n    response:{\n      operation: 'im',\n      im:{\n          data: 'text/plain',\n          text: `(${event.translateMiutes})`\n      }\n    }\n};\nmsg2.originPayload = event;\n\nreturn msg2;","outputs":1,"noerr":0,"x":1190.928466796875,"y":1492.4444122314453,"wires":[["aa819d56.c04e2"]]},{"id":"5ee4d2cf.77e04c","type":"function","z":"b1c8ba8.f284f48","name":"","func":"const event = global.get('mainEngage32');\n\nconst msg2 = {};\nmsg2.payload = {\n    eventId: event.eventId,\n};\n\nreturn msg2;","outputs":1,"noerr":0,"x":1647.5950927734375,"y":1490.6667022705078,"wires":[["f12ba007.c07ce"]]},{"id":"b726e6f8.e13be8","type":"function","z":"b1c8ba8.f284f48","name":"view Calendar","func":"const Settings = context.global.get('aai-common').Settings;\n\nconst msg2 = {};\n\nlet email;\nif(Array.isArray(msg.payload.startMinutes.user.emailAddresses)){\n    email = msg.payload.startMinutes.user.emailAddresses[0];\n}\nelse{\n    email = msg.payload.startMinutes.user.emailAddresses;\n}\n\n// make Body\nconst body =  {\n  \"username\": email,\n  \"startDate\": msg.payload.startMinutes.timestamp,\n  \"endDate\": msg.payload.startMinutes.timestamp\n};\nmsg2.payload = body;\n\n// Http Request\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_CHATBOT_VIEWCALENDARURL;\nmsg2.originPayload = msg.payload;\n\nreturn msg2;\n","outputs":1,"noerr":0,"x":428.19922637939453,"y":951.0000152587891,"wires":[["e3de62e5.9893f"]]},{"id":"e3de62e5.9893f","type":"http request","z":"b1c8ba8.f284f48","name":"[POST]/viewClaendar","method":"use","ret":"txt","url":"","tls":"","x":649.8333587646484,"y":950.2938995361328,"wires":[["6436776e.ca2a38"]]},{"id":"6436776e.ca2a38","type":"function","z":"b1c8ba8.f284f48","name":"response","func":"const event = msg.originPayload;\n\nconst msg2 ={};\nif(msg.payload){\n    event.viewCalendar = JSON.parse(msg.payload);\n}\nelse{\n    event.viewCalendar = {};\n}\nmsg2.originPayload = event;\n\nreturn msg2;","outputs":1,"noerr":0,"x":882.8298950195312,"y":952.2592010498047,"wires":[["90ab2a65.94cf58"]]},{"id":"f4f3d2ec.a6ade","type":"function","z":"b1c8ba8.f284f48","name":"","func":"const Settings = context.global.get('aai-common').Settings;\nconst event = msg.originPayload;\n\nconst msg2 = {};\n// make Body\n// Http Request\nmsg2.method = \"DELETE\";\nmsg2.url = `${Settings.WEB_MESSAGESTORAGE_MESSAGESURL}/${event.conversation}`;\nmsg2.originPayload = event;\n\nreturn msg2;","outputs":1,"noerr":0,"x":565.8789215087891,"y":1128.6073150634766,"wires":[["fcff991c.7efe08"]]},{"id":"fcff991c.7efe08","type":"http request","z":"b1c8ba8.f284f48","name":"[DELETE]messages/:conversation","method":"use","ret":"txt","url":"","tls":"","x":820.3267364501953,"y":1128.0426177978516,"wires":[["c5021e7e.02a68"]]},{"id":"c5021e7e.02a68","type":"function","z":"b1c8ba8.f284f48","name":"","func":"const Settings = context.global.get('aai-common').Settings;\nconst event = msg.originPayload;\n\nconst msg2 = {};\n// make Body\n// Http Request\nmsg2.method = \"DELETE\";\nmsg2.url = `${Settings.WEB_MESSAGESTORAGE_ACTIONSURL}/${event.conversation}`;\nmsg2.originPayload = event;\n\nreturn msg2;","outputs":1,"noerr":0,"x":584.4630889892578,"y":1200.3948516845703,"wires":[["3b9c74ec.fccaac"]]},{"id":"3b9c74ec.fccaac","type":"http request","z":"b1c8ba8.f284f48","name":"[DELETE]actions/:conversation","method":"use","ret":"txt","url":"","tls":"","x":821.4630889892578,"y":1200.3948516845703,"wires":[["fc35d463.5a4808"]]},{"id":"76f5e1fc.65b25","type":"http in","z":"b1c8ba8.f284f48","name":"","url":"/mainEngage41","method":"post","swaggerDoc":"","x":178,"y":1583.8494415283203,"wires":[["d4a7fef7.70f1d","92015076.e7e2b"]]},{"id":"d4a7fef7.70f1d","type":"http response","z":"b1c8ba8.f284f48","name":"","x":453.9444274902344,"y":1584.6863250732422,"wires":[]},{"id":"a593d0b5.df02e","type":"http request","z":"b1c8ba8.f284f48","name":"[POST] /translate","method":"use","ret":"txt","url":"","tls":"","x":713.9999694824219,"y":1665.2940216064453,"wires":[["55fba968.314328"]]},{"id":"92015076.e7e2b","type":"function","z":"b1c8ba8.f284f48","name":"Transalte","func":"const Settings = context.global.get('aai-common').Settings;\nglobal.set(\"mainEngage40\", msg.payload);\n\nconst msg2 = {};\n\n// make Body\nconst body = {\n  \"query\": msg.payload.text,\n  \"src_lang\": msg.payload.user.translate.src_lang,\n  \"tgt_lang\": msg.payload.user.translate.tgt_lang,\n  \"arrange\": msg.payload.user.translate.arrange\n};\nmsg2.payload = body;\n\n// Http Request\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_TRANSLATE_TRANSLATEURL;\nmsg2.originPayload = msg.payload;\n\nreturn msg2;\n\n","outputs":1,"noerr":0,"x":463.9998474121094,"y":1665.2940368652344,"wires":[["a593d0b5.df02e"]]},{"id":"55fba968.314328","type":"function","z":"b1c8ba8.f284f48","name":"MessageStorage","func":"const Settings = context.global.get('aai-common').Settings;\n// const event = global.get('mainEngage40');\nconst event = msg.originPayload;\n\nconst msg2 = {};\n\nconst text = [];\ntext.push(event.text);\ntext.push(msg.payload);\n\n// make Body\nconst body =  {\n    \"type\": \"message\",\n    \"text\": text.join('\\n'),\n    \"from\": {\n      \"id\": event.user.mailAddress,\n      \"name\": event.user.name\n    },\n    \"timestamp\": event.timestamp,\n    \"address\": {\n      \"channelId\": \"\",\n      \"conversation\" :{\n        \"id\": event.conversation\n      }\n    }\n}\nevent.translateMiutes = body.text;\nmsg2.payload = body;\n\n// Http Request\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_MESSAGESTORAGE_ACTIONSURL;\nmsg2.originPayload = event;\n\nreturn msg2;","outputs":1,"noerr":0,"x":567.9999542236328,"y":1734.8493957519531,"wires":[["d3592d59.91089"]]},{"id":"d3592d59.91089","type":"http request","z":"b1c8ba8.f284f48","name":"[POST] /messages","method":"use","ret":"txt","url":"","tls":"","x":915.0000762939453,"y":1732.7383117675781,"wires":[["4693275f.b4af08"]]},{"id":"676c786a.47f738","type":"subflow:5dbccf9.8065d3","z":"b1c8ba8.f284f48","x":1443.3334503173828,"y":1732.1830139160156,"wires":[["caf24858.6230d8"]]},{"id":"4693275f.b4af08","type":"function","z":"b1c8ba8.f284f48","name":"Send Messages","func":"const event = msg.originPayload;\n\nlet text;\nif(1 < event.imData.numPeople){\n    text = `(${event.user.displayName}:${event.translateMiutes})`;\n}\nelse{\n    // text = '('+msg.payload+')'\n    text = `(${event.translateMiutes})`;\n}\n\nconst msg2 = {};\nmsg2.payload = {\n    eventId: event.eventId,\n    response:{\n      operation: 'im',\n      im:{\n          data: 'text/plain',\n          text: `(${event.translateMiutes})`\n      }\n    }\n};\nmsg2.originPayload = event;\n\nreturn msg2;","outputs":1,"noerr":0,"x":1195.3334503173828,"y":1732.0716857910156,"wires":[["676c786a.47f738"]]},{"id":"caf24858.6230d8","type":"function","z":"b1c8ba8.f284f48","name":"","func":"const event = global.get('mainEngage32');\n\nconst msg2 = {};\nmsg2.payload = {\n    eventId: event.eventId,\n};\n\nreturn msg2;","outputs":1,"noerr":0,"x":1652.0000762939453,"y":1730.2939758300781,"wires":[["e3239260.26b1d"]]},{"id":"fe7b11b.fe5a3f","type":"subflow:d8323d2.12f65c","z":"b1c8ba8.f284f48","x":1582.166748046875,"y":284.84944915771484,"wires":[]},{"id":"c583b706.f49df8","type":"subflow:d8323d2.12f65c","z":"b1c8ba8.f284f48","x":1713.166748046875,"y":546.8495254516602,"wires":[]},{"id":"73da05d.4602bfc","type":"subflow:d8323d2.12f65c","z":"b1c8ba8.f284f48","x":1710.166748046875,"y":738.8494415283203,"wires":[]},{"id":"fc35d463.5a4808","type":"subflow:d8323d2.12f65c","z":"b1c8ba8.f284f48","x":1142.166748046875,"y":1198.8495025634766,"wires":[]},{"id":"f12ba007.c07ce","type":"subflow:d8323d2.12f65c","z":"b1c8ba8.f284f48","x":1866.1667175292969,"y":1493.8494491577148,"wires":[]},{"id":"e3239260.26b1d","type":"subflow:d8323d2.12f65c","z":"b1c8ba8.f284f48","x":1866.166748046875,"y":1730.8494415283203,"wires":[]},{"id":"fc4ffa6d.32ed28","type":"file","z":"b1c8ba8.f284f48","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"false","x":1172.5169067382812,"y":1273.7695770263672,"wires":[]},{"id":"f450b26c.9c19","type":"function","z":"b1c8ba8.f284f48","name":"","func":"const event = msg.originPayload;\n\nconst msg2 ={};\nmsg2.payload={\n    subject: event.viewCalendar.subject,\n    timestamp: event.startMinutes.timestamp,\n    user: event.sendMiutes\n};\nconst fileName = new Date().getTime();\nmsg2.filename = 'D:\\\\releaseTest\\\\fileName.text';\n\nreturn msg2;","outputs":1,"noerr":0,"x":1019.5130004882812,"y":1274.1562957763672,"wires":[["fc4ffa6d.32ed28"]]},{"id":"6960627.807979c","type":"debug","z":"b1c8ba8.f284f48","name":"","active":true,"console":"false","complete":"true","x":1244.6302185058594,"y":891.6550140380859,"wires":[]},{"id":"e5de525f.6d77d","type":"debug","z":"b1c8ba8.f284f48","name":"","active":true,"console":"false","complete":"true","x":1282.296875,"y":949.6550216674805,"wires":[]},{"id":"95fd9b42.a4dff8","type":"function","z":"b1c8ba8.f284f48","name":"Send Mail","func":"const Settings = context.global.get('aai-common').Settings;\nconst event = msg.originPayload;\nconst FormData = global.get('form-data');\nconst form = new FormData();\n\nconst attendents = event.viewCalendar.attendents;\nlet startTime;\nif(event.viewCalendar.start){\n    startTime = new Date(event.viewCalendar.start);\n}\nelse{\n    startTime = new Date(event.startMinutes.timestamp);\n}\n\n\n// mailaddress\nlet email;\nif(attendents){\n    form.append('to', attendents.map(x => x.email).join(','));\n}\nelse{\n    if(Array.isArray(event.startMinutes.user.emailAddresses)){\n        email = event.startMinutes.user.emailAddresses[0];\n    }\n    else{\n        email = event.startMinutes.user.emailAddresses;\n    }\n    form.append('to', email);\n}\n\n// tittle\nlet subject;\nif(event.subject){\n    subject = `議事録送付:${event.subject}`;\n}\nelse{\n    subject = '議事録送付:(会議名)';\n}\nform.append('subject', subject);\n\n// text\nconst text = `<p>アシスタントAIモモチです</p><p>${startTime.getFullYear()}/${startTime.getMonth()+1}/${startTime.getDate()}「${subject}」の議事録を送付します</p>`;\nform.append('text', text);\n\n// file\nconst year = `${startTime.getFullYear()}`.slice(-2);\nconst month = `0${startTime.getMonth()+1}`.slice(-2);\nconst day = `0${startTime.getDate()}`.slice(-2);\nform.append('file', new Buffer(msg.payload), \n  {contentType:'application/msword',\n  filename:`${subject}${year.slice(-2)}${month}${day}.docx`});\n\n// post\nform.submit(Settings.WEB_CHATBOT_SENDMINUTESURL, function(err, res) {\n    console.log(res);\n});\n\nconst msg2 = {};\nevent.sendMiutes = email;\nmsg2.originPayload = event;\n\nreturn msg2;","outputs":1,"noerr":0,"x":1348.1180419921875,"y":1068.77783203125,"wires":[["81984087.49a0e"]]},{"id":"76e00e25.69657","type":"inject","z":"b1c8ba8.f284f48","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1196.0521392822266,"y":1125.5486450195312,"wires":[["cbcab3bc.e2251"]]},{"id":"81984087.49a0e","type":"debug","z":"b1c8ba8.f284f48","name":"","active":true,"console":"false","complete":"false","x":1515.0590515136719,"y":1042.9444580078125,"wires":[]},{"id":"cbcab3bc.e2251","type":"function","z":"b1c8ba8.f284f48","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1342.059097290039,"y":1148.4653015136719,"wires":[["95fd9b42.a4dff8"]]}]