.nodered/lib/flows/retrieveKBase.json
[{"id":"735040c0.a4f31","type":"subflow","name":"SendChatBotComplete (10)","info":"","in":[{"x":97,"y":130,"wires":[{"id":"d136dd91.b8edb"}]}],"out":[]},{"id":"d136dd91.b8edb","type":"function","z":"735040c0.a4f31","name":"SendChatBotComplete","func":"const Settings = context.global.get('aai-common').Settings;\n\nconst msg2 = {};\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_CHATBOT_COMPLETEURL;\nmsg2.payload = msg.payload;\nreturn msg2;","outputs":1,"noerr":0,"x":291.51575469970703,"y":128.75,"wires":[["9be976db.2772d8"]]},{"id":"9be976db.2772d8","type":"http request","z":"735040c0.a4f31","name":"SendChatBotEvent","method":"use","ret":"txt","url":"","tls":"","x":566.5088195800781,"y":128.57293701171875,"wires":[[]]},{"id":"137d7c99.ab4bf3","type":"comment","z":"735040c0.a4f31","name":"SendChatBotComplete","info":"","x":138,"y":59.70831298828125,"wires":[]},{"id":"5dbccf9.8065d3","type":"subflow","name":"SendChatBotEvent","info":"","in":[{"x":93,"y":137,"wires":[{"id":"93aabbad.47ff18"}]}],"out":[{"x":775,"y":135,"wires":[{"id":"91c4afe3.10023","port":0}]}]},{"id":"93aabbad.47ff18","type":"function","z":"5dbccf9.8065d3","name":"SendChatBotEvent","func":"const Settings = context.global.get('aai-common').Settings;\n\nconst msg2 = {};\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_CHATBOT_NOTIFYURL;\nmsg2.payload = msg.payload;\nreturn msg2;","outputs":1,"noerr":0,"x":289.5079116821289,"y":136.45921325683594,"wires":[["91c4afe3.10023"]]},{"id":"91c4afe3.10023","type":"http request","z":"5dbccf9.8065d3","name":"SendChatBotEvent","method":"use","ret":"txt","url":"","tls":"","x":574.5009765625,"y":136.2821502685547,"wires":[[]]},{"id":"36c3e77e.dff148","type":"comment","z":"5dbccf9.8065d3","name":"SendChatBotEvent","info":"","x":135.99215698242188,"y":67.41752624511719,"wires":[]},{"id":"5abdc843.7fa968","type":"http request","z":"cc4f15dc.942ce8","name":"[POST] /interface/retrieveKBase","method":"POST","ret":"txt","url":"","tls":"","x":400.89573669433594,"y":344.6321792602539,"wires":[["61f71ea9.b697","185fe280.80022e"]]},{"id":"61f71ea9.b697","type":"function","z":"cc4f15dc.942ce8","name":"response","func":"//const config = global.get(\"config\");\n//const CONS = config.get('CONS');\n\nflow.set('eventId.retrieveKBase', msg.payload);\n//console.log(\"eventId: \" + JSON.stringify(context.flow.get('eventId')));\n\n//// Response formatting =======================\nvar jsonResponse = \"\";\ntry{\n    jsonResponse = JSON.parse(msg.payload);\n}\ncatch(e){\n    jsonResponse = msg.payload;\n}\n\nvar msg2 = {};\nvar tempJSON = {};\n\nvar statejudgeReply;\nvar statedispatchQuestion;\nvar tempDocument = [];\nfor(var i in jsonResponse.search_results){\n    //console.log(\"i : \" + i);\n    //console.log(\"cons.CREATE_ANSWER : \" + CONS[\"OPERATION_MODE.GENERAL_MODE\"]);\n    if(! statejudgeReply){\n        if (jsonResponse.search_results[i].score >= flow.get('config.KBASE_SCORE_HIGH_LIMIT')){\n            statejudgeReply = flow.get('cons.CREATE_ANSWER');\n            flow.set('state.judgeReply', flow.get('cons.CREATE_ANSWER'));\n            //console.log(\"CREATE_ANSWER\");\n        }\n        else{\n            if(jsonResponse.search_results[i].score > flow.get('config.KBASE_SCORE_MIDDLE_LIMIT')){\n                statejudgeReply = flow.get('cons.DISPATCH_QUESTION');\n                flow.set('state.judgeReply', flow.get('cons.DISPATCH_QUESTION'));\n                statedispatchQuestion = flow.get('cons.TO_2ND_STAFF');\n                //console.log(\"TO_2ND_STAFF\");\n            }\n        }\n    }\n\n    if (jsonResponse.search_results[i].score >= flow.get('config.KBASE_SCORE_HIGH_LIMIT')){\n        var tempDocumentDetail = {};\n        tempDocumentDetail.body = jsonResponse.search_results[i].documents.body;\n        \n        var tempTags = [];\n        for(var key in jsonResponse.search_results[i].documents.tags){\n            var tempTagsDetail = {};\n            tempTags[key] = jsonResponse.search_results[i].documents.tags[key];\n        }\n        tempDocumentDetail.tags = tempTags;\n        tempDocumentDetail.docname = jsonResponse.search_results[i].documents.docname;\n        tempDocumentDetail.created_timestamp = jsonResponse.search_results[i].documents.created_timestamp;\n        tempDocument[i] = tempDocumentDetail;\n    }\n    \n}\ntempJSON.documents = tempDocument;\n\nif(! statejudgeReply){\n    statejudgeReply = flow.get('cons.DISPATCH_QUESTION');\n    flow.set('state.judgeReply', flow.get('cons.DISPATCH_QUESTION'));\n    statedispatchQuestion = flow.get('cons.CANNOT_ANSWER');\n}\n//console.log(\"response\");\ntempJSON.statejudgeReply = statejudgeReply;\ntempJSON.statedispatchQuestion = statedispatchQuestion;\n//console.log(\"tempJSON: \" + JSON.stringify(tempJSON));\n\nflow.set('eventId.statejudgeReply', statejudgeReply);\nflow.set('eventId.statedispatchQuestion', statedispatchQuestion);\n//console.log(\"eventId: \" + JSON.stringify(context.flow.get('eventId')));\n\nmsg2.payload = tempJSON;\n//console.log(\"msg.payload : \" + msg.payload);\n\nreturn msg2;","outputs":1,"noerr":0,"x":609.1911010742188,"y":344.3822326660156,"wires":[["98e66c2f.71b2a","78c7078a.562288"]]},{"id":"dd1ce446.6ac608","type":"comment","z":"cc4f15dc.942ce8","name":"(0) /retrieveKBase","info":"","x":95,"y":91.70001983642578,"wires":[]},{"id":"8b502bd8.05e3d8","type":"function","z":"cc4f15dc.942ce8","name":"retrieveKBase","func":"const Settings = context.global.get('aai-common').Settings;\n\n// Parameter Setting =======================\nflow.set('eventId.incidentno', JSON.parse(msg.payload).incidentno);\n\n// POST API Parameter pre setting ===========\nconst msg2 = {};\n// make Body\nconst body = {\n  \"query\": flow.get('eventId.question'),\n  \"count\": context.global.get('config.FAQ_MAX_COUNT')\n};\nmsg2.payload = body;\n\n// Http Request\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_RETRIEVEKBASE_URL;\n\nreturn msg2;\n\n","outputs":1,"noerr":0,"x":172.03573608398438,"y":345.6322708129883,"wires":[["5abdc843.7fa968"]]},{"id":"8f7ec434.6f0428","type":"http in","z":"cc4f15dc.942ce8","name":"","url":"/faqAutoResponse/retrieveKBase","method":"post","swaggerDoc":"","x":218.46144104003906,"y":133.21442413330078,"wires":[["6bb40323.1522bc","3ce365b4.90d09a","781a5150.8027c","3d764f1c.baa99"]]},{"id":"6bb40323.1522bc","type":"http response","z":"cc4f15dc.942ce8","name":"","x":493.1071014404297,"y":132.54874420166016,"wires":[]},{"id":"3ce365b4.90d09a","type":"debug","z":"cc4f15dc.942ce8","name":"","active":true,"console":"false","complete":"true","x":563.8455657958984,"y":78.23003387451172,"wires":[]},{"id":"c7bba25c.e54a8","type":"config","z":"cc4f15dc.942ce8","name":"messageSetting","properties":[{"p":"Event","pt":"flow","to":"{ \"eventId\":\"15a25f443061e9\", \"statusId\":\"S15a265570597\", \"conversation\":\"d7c1c3ac-c055-4ec9-b6c5-8fa06956161d\", \"text\":\"接続\", \"timestamp\":\"2017-02-10T02:57:28.862Z\", \"mode\":{ \"commandCode\":\"startTranslateText\", \"modeSet\":{ \"operationMode\":\"AAI_SERVICE_MODE\", \"meetingOpMode\":\"\", \"translationMode\":\"TRANSLATION_ON\" }, \"responseAnswer\":\"\" }}","tot":"json"},{"p":"config.FAQ_MAX_COUNT","pt":"global","to":"3","tot":"num"},{"p":"config.PD_MAX_COUNT","pt":"global","to":"1000","tot":"num"},{"p":"config.KBASE_SCORE_HIGH_LIMIT","pt":"flow","to":"0.34","tot":"num"},{"p":"config.KBASE_SCORE_MIDDLE_LIMIT","pt":"flow","to":"0.23","tot":"num"},{"p":"mail","pt":"flow","to":"{\"username\" : \"\",\"question\":\"\",\"from\":\"\",\"useremail\":\"\",\"subject\":\"\",\"text\":\"\"}","tot":"json"},{"p":"cons.CREATE_ANSWER","pt":"flow","to":"CREATE_ANSWER","tot":"str"},{"p":"cons.DISPATCH_QUESTION","pt":"flow","to":"DISPATCH_QUESTION","tot":"str"},{"p":"cons.TO_2ND_STAFF","pt":"flow","to":"TO_2ND_STAFF","tot":"str"},{"p":"cons.CANNOT_ANSWER","pt":"flow","to":"CANNOT_ANSWER","tot":"str"},{"p":"answerFaqAutoResponse","pt":"flow","to":"{}","tot":"json"},{"p":"eventId","pt":"flow","to":"{}","tot":"json"},{"p":"cons.TRACK_QUESTION","pt":"flow","to":"QUESTION","tot":"str"},{"p":"cons.FROM_MAIL_ADDRESS","pt":"global","to":"momochi1.assistant@glb.toshiba.co.jp","tot":"str"},{"p":"state.judgeReply","pt":"flow","to":"","tot":"str"},{"p":"NextFlowParam","pt":"flow","to":"{}","tot":"json"},{"p":"cons.FAQDistpach","pt":"flow","to":"{\"name\":\"坂元\",\"mailaddress\" : \"sakamoto.makoto@toshiba-sol.co.jp\"}","tot":"json"},{"p":"config.PD_SCORE_HIGH_LIMIT","pt":"flow","to":"0.7","tot":"num"},{"p":"config.PD_ANSERLIMIT","pt":"flow","to":"20","tot":"num"},{"p":"config.KEY_MAX_COUNT","pt":"global","to":"100","tot":"str"}],"active":true,"x":281.4555358886719,"y":20,"wires":[]},{"id":"32f491c.11b996e","type":"comment","z":"cc4f15dc.942ce8","name":"Global setting","info":"","x":75,"y":20.450027465820312,"wires":[]},{"id":"bead0b00.53d728","type":"inject","z":"cc4f15dc.942ce8","name":"debug data inject","topic":"","payload":"{\"type\": \"message\",\"text\": \"接続\",\"user\": {\"uri\": \"sip:default-user\",\"name\": \"sip:User\"},\"timestamp\": \"2016-12-20T02:39:02.025Z\",\"channelData\": {\"clientActivityId\": \"1482198750436.38516624568496804.32\"},\"address\" : {\"id\": \"98gcd9bd93a03lm1l\",\"channelId\": \"emulator\",\"recipient\": {\"id\": \"default-bot\"},\"conversation\": {\"id\": \"1gnflkd7632h02l4c\"},\"serviceUrl\": \"http://localhost:49411\"},\"commandCode\":\"\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":128.12547302246094,"y":256.9599380493164,"wires":[["3d764f1c.baa99"]]},{"id":"78c7078a.562288","type":"link out","z":"cc4f15dc.942ce8","name":"judgeReply","links":["fdb91192.195a1"],"x":710.2454681396484,"y":342.7999267578125,"wires":[]},{"id":"fdb91192.195a1","type":"link in","z":"cc4f15dc.942ce8","name":"judgeReply","links":["78c7078a.562288"],"x":134.92547607421875,"y":448.9097900390625,"wires":[["d7644444.4ed7a8"]]},{"id":"b2d2bda3.a2071","type":"comment","z":"cc4f15dc.942ce8","name":"microservice","info":"","x":332.4754943847656,"y":309.0699462890625,"wires":[]},{"id":"d7644444.4ed7a8","type":"switch","z":"cc4f15dc.942ce8","name":"","property":"payload.statejudgeReply","propertyType":"msg","rules":[{"t":"eq","v":"CREATE_ANSWER","vt":"str"},{"t":"eq","v":"DISPATCH_QUESTION","vt":"str"}],"checkall":"true","outputs":2,"x":269.7654724121094,"y":449.46990966796875,"wires":[["288fb41c.15125c"],["c47813da.87d45"]]},{"id":"ce0c3a47.193d28","type":"comment","z":"cc4f15dc.942ce8","name":"(2) /createAnswer4Reply","info":"","x":614.9654541015625,"y":442.15985107421875,"wires":[]},{"id":"a976a5e1.f57258","type":"comment","z":"cc4f15dc.942ce8","name":"(3) /dispatchQuestion","info":"","x":606.6354370117188,"y":481.6998291015625,"wires":[]},{"id":"c47813da.87d45","type":"link out","z":"cc4f15dc.942ce8","name":"dispatchQuestion","links":["a5a018d7.3ad998"],"x":433.2054748535156,"y":484.03997802734375,"wires":[]},{"id":"288fb41c.15125c","type":"link out","z":"cc4f15dc.942ce8","name":"createAnswer4Reply","links":["28ee58b7.101ed8"],"x":432.095458984375,"y":444.45989990234375,"wires":[]},{"id":"f496349a.ce86c8","type":"comment","z":"cc4f15dc.942ce8","name":"(1) /judgeReply","info":"","x":171.3854522705078,"y":411.169921875,"wires":[]},{"id":"2b4a8337.b0efac","type":"comment","z":"cc4f15dc.942ce8","name":"(2) /createAnswer4Reply","info":"","x":214.38551330566406,"y":757.0799865722656,"wires":[]},{"id":"6572ed95.8ef684","type":"link in","z":"cc4f15dc.942ce8","name":"createAnswer4Reply","links":["2ac06d84.376902","d5bb59f3.90ae88"],"x":132.53555297851562,"y":922.809944152832,"wires":[["959ab070.1145d"]]},{"id":"7be71881.7e77f8","type":"link out","z":"cc4f15dc.942ce8","name":"sendMail","links":["4a3fe5d7.841e4c"],"x":517.865478515625,"y":2098.5201416015625,"wires":[]},{"id":"aca980e7.09925","type":"comment","z":"cc4f15dc.942ce8","name":"(3) /dispatchQuestion","info":"","x":178.73548889160156,"y":516.9299926757812,"wires":[]},{"id":"a5a018d7.3ad998","type":"link in","z":"cc4f15dc.942ce8","name":"dispatchQuestion","links":["c47813da.87d45","fdb1690b.5c1d38","e46b8427.e26b98"],"x":126.66549682617188,"y":562.0898132324219,"wires":[["837106e2.b40218"]]},{"id":"837106e2.b40218","type":"switch","z":"cc4f15dc.942ce8","name":"","property":"payload.statedispatchQuestion","propertyType":"msg","rules":[{"t":"eq","v":"TO_2ND_STAFF","vt":"str"},{"t":"eq","v":"CANNOT_ANSWER","vt":"str"}],"checkall":"true","outputs":2,"x":270.86549377441406,"y":562.6999816894531,"wires":[["d8deca06.b3bba8"],["b8ec30b9.53238"]]},{"id":"d8deca06.b3bba8","type":"link out","z":"cc4f15dc.942ce8","name":"createAnswer2Staff","links":["896a585a.30a7b8"],"x":438.24542236328125,"y":555.5100708007812,"wires":[]},{"id":"b8ec30b9.53238","type":"link out","z":"cc4f15dc.942ce8","name":"createAnswer4None","links":["fc3c2f9a.bca1e"],"x":438.87548828125,"y":602.6699523925781,"wires":[]},{"id":"b6871132.1dcd5","type":"comment","z":"cc4f15dc.942ce8","name":"(4) /createAnswer2Staff","info":"","x":602.9555053710938,"y":547.510009765625,"wires":[]},{"id":"36ca026e.b7019e","type":"comment","z":"cc4f15dc.942ce8","name":"(5) /createAnswer4None","info":"","x":612.6654663085938,"y":600.2200012207031,"wires":[]},{"id":"f69a9eea.21635","type":"comment","z":"cc4f15dc.942ce8","name":"(4) /createAnswer2Staff","info":"","x":196.0155029296875,"y":971.4599380493164,"wires":[]},{"id":"896a585a.30a7b8","type":"link in","z":"cc4f15dc.942ce8","name":"createAnswer2Staff","links":["d8deca06.b3bba8"],"x":131.73548889160156,"y":1012.1398696899414,"wires":[["ea0230ca.b3455"]]},{"id":"ea0230ca.b3455","type":"function","z":"cc4f15dc.942ce8","name":"template2Staff","func":"//const Settings = context.global.get('aai-common').Settings;\n\n// FaqAutoResponseAnswer Setting =======================\nvar msg2 = {};\nvar pramObj = {};\npramObj.templateId =flow.get('Event.eventId');\npramObj.user = { \"name\" : flow.get('mail.username') };\npramObj.question =flow.get('mail.question');\n\npramObj.messageFaq = \"該当するFAQは見当たらないようです。\"\npramObj.messageFaqDetail = \"\";\n\nflow.set('answerFaqAutoResponse', pramObj);\n//console.log(pramObj);\nmsg2.payload = pramObj;\n\n\n// Http Request TODO This URL is nothing in default.json\n// msg2.method = \"POST\";\n// msg2.url = Settings.WEB_SEARCHPDKEYWORDS_URL;\n\nreturn msg2;","outputs":1,"noerr":0,"x":304.78550720214844,"y":1011.5899429321289,"wires":[["ed713ab3.9d8d78","8e0e98b6.033aa8"]]},{"id":"4f8a5de0.637844","type":"link out","z":"cc4f15dc.942ce8","name":"sendMail","links":["4a3fe5d7.841e4c"],"x":519.9654388427734,"y":2194.040283203125,"wires":[]},{"id":"9e8e237b.1d7d8","type":"comment","z":"cc4f15dc.942ce8","name":"(5) /createAnswer4None","info":"","x":206.95550537109375,"y":1061.039894104004,"wires":[]},{"id":"fc3c2f9a.bca1e","type":"link in","z":"cc4f15dc.942ce8","name":"createAnswer4None","links":["b8ec30b9.53238"],"x":133.0655059814453,"y":1111.339942932129,"wires":[["610f3bfe.6c05d4"]]},{"id":"610f3bfe.6c05d4","type":"function","z":"cc4f15dc.942ce8","name":"template4NotAnswer","func":"//const Settings = context.global.get('aai-common').Settings;\n\n// FaqAutoResponseAnswer Setting =======================\nvar msg2 = {};\nvar pramObj = {};\npramObj.templateId =flow.get('Event.eventId');\npramObj.user = { \"name\" : flow.get('mail.username') };\npramObj.question =flow.get('mail.question');\n\npramObj.messageFaq = \"該当するFAQは見当たらないようです。\"\npramObj.messageFaqDetail = \"\";\n\nflow.set('answerFaqAutoResponse', pramObj);\n//console.log(pramObj);\nmsg2.payload = pramObj;\n\n\n// Http Request TODO This URL is nothing in default.json\n// msg2.method = \"POST\";\n// msg2.url = Settings.WEB_SEARCHPDKEYWORDS_URL;\n\nreturn msg2;","outputs":1,"noerr":0,"x":318.63551330566406,"y":1110.7399063110352,"wires":[["7b962f72.9e369","bba05a06.1a4a18"]]},{"id":"d878650b.37bee8","type":"comment","z":"cc4f15dc.942ce8","name":"(10) sendMail","info":"","x":194.0054931640625,"y":2312.2105712890625,"wires":[]},{"id":"4a3fe5d7.841e4c","type":"link in","z":"cc4f15dc.942ce8","name":"sendMail","links":["8bd3caf1.a84a88","4f8a5de0.637844","7be71881.7e77f8"],"x":126.72549438476562,"y":2364.110595703125,"wires":[["aa0ca016.91e78"]]},{"id":"bfb0a69f.4857e8","type":"function","z":"cc4f15dc.942ce8","name":"setReply","func":"const Settings = context.global.get('aai-common').Settings;\n\nflow.set('mail.text', msg.payload.replace(/&#x2F;/g , \"/\" ).replace(/&#x3D;/g , \"=\" ).replace(/&lt;/g , \"<\" ).replace(/&gt;/g , \">\" ).replace(/&amp;/g , \"&\" ));\n//flow.set('mail.text', decodeURI(msg.payload));\nflow.set('eventId.FaqAutoResponseAnswerMessage', flow.get('mail.text'));\n\n// for Debug =============================================\nif(flow.get('eventId.type') !== \"mail\"){\n    var text = flow.get('mail.text');\n    if(flow.get('NextFlowParam.messageFaqNumbers') !== undefined && flow.get('NextFlowParam.messageFaqNumbers') !== \"\"){\n    \n        var messageFaqNumbers = flow.get('NextFlowParam.messageFaqNumbers').split(\",\");\n        for(var i in messageFaqNumbers){\n            var replace1 = \"…(<a href=\" + Settings.WEB_REDIRECT_FAQ + \"?id=\"; \n            replace1 += flow.get('eventId.incidentno') + \"&clickFAQNo=\" + messageFaqNumbers[i];\n            replace1 += \"&redirectURL=\";\n            text = text.replace(replace1,\"\\n\");\n        }\n        text = text.replace(/>本文<\\/a>\\)/g,\"\");\n        flow.set('mail.text',text);\n    }\n}\n// for Debug =============================================\n\nvar msg2 = {};\nmsg2.payload = {\n    eventId: flow.get('Event.eventId'),\n    response: []\n};\n\nif(flow.get('eventId.type') === \"im\"){\n    var responseDetail = {\n        operation: \"im\",\n        im:{}\n    };\n    responseDetail.im.data = \"text/plain\"; // \"text/plain\" or \"text/html\"\n    responseDetail.im.text = flow.get('mail.text');\n    msg2.payload.response[0] = responseDetail;\n}\nelse if(flow.get('eventId.type') === \"voice\"){\n    var responseDetail = {\n        operation: \"voice\",\n        voice:{}\n    };\n    responseDetail.voice.text = flow.get('mail.text');\n    msg2.payload.response[0] = responseDetail;\n}\nelse{\n    // mail\n    var responseDetail = {\n        operation: \"mail\",\n        mail:{}\n    };\n//    responseDetail.mail.from = flow.get('mail.from');\n    var mailTo = [];\n    mailTo[0] = flow.get('mail.useremail');\n    responseDetail.mail.to = mailTo;\n    responseDetail.mail.subject = \"RE:\" + flow.get('mail.subject').replace(\"RE:\" , \"\");\n    responseDetail.mail.text = flow.get('mail.text').replace(/\\n/g , \"<br>\" );\n    msg2.payload.response[0] = responseDetail;\n}\n\nflow.set('eventId.FaqAutoResponseAnswer', msg2.payload);\n\nreturn msg2;\n","outputs":1,"noerr":0,"x":556.9223175048828,"y":2362.7939453125,"wires":[["333ded06.3fc712"]]},{"id":"9fed5aaf.1ce6c8","type":"comment","z":"cc4f15dc.942ce8","name":"Common service","info":"","x":85,"y":2719.4609375,"wires":[]},{"id":"781a5150.8027c","type":"debug","z":"cc4f15dc.942ce8","name":"","active":true,"console":"false","complete":"payload","x":524.1254577636719,"y":34.620033264160156,"wires":[]},{"id":"abb9d66f.f6cbf8","type":"inject","z":"cc4f15dc.942ce8","name":"debug TO_2ND_STAFF","topic":"","payload":"{\"statedispatchQuestion\":\"TO_2ND_STAFF\",\"documents\": [ { \"body\": \"ダミーデータ\", \"tags\": [ { \"category\": \"ダミーデータ\" }, { \"UnifiedFaqNo\": \"ダミーデータ\" } ], \"docname\": \"ダミーデータ\", \"created_timestamp\": \"ダミーデータ\" }, { \"body\": \"ダミーデータ\", \"tags\": [ { \"category\": \"ダミーデータ\" }, { \"UnifiedFaqNo\": \"ダミーデータ\" } ], \"docname\": \"ダミーデータ\", \"created_timestamp\": \"ダミーデータ\" }, { \"body\": \"ダミーデータ\", \"tags\": [ { \"category\": \"ダミーデータ\" }, { \"UnifiedFaqNo\": \"ダミーデータ\" } ], \"docname\": \"ダミーデータ\", \"created_timestamp\": \"ダミーデータ\" } ]}","payloadType":"json","repeat":"","crontab":"","once":false,"x":162.41551208496094,"y":627.8100662231445,"wires":[["c6ece7c8.b2b9a8"]]},{"id":"18c93dc3.d0f232","type":"inject","z":"cc4f15dc.942ce8","name":"debug CANNOT_ANSWER","topic":"","payload":"{\"statedispatchQuestion\":\"CANNOT_ANSWER\",\"documents\": [ { \"body\": \"ダミーデータ\", \"tags\": [ { \"category\": \"ダミーデータ\" }, { \"UnifiedFaqNo\": \"ダミーデータ\" } ], \"docname\": \"ダミーデータ\", \"created_timestamp\": \"ダミーデータ\" }, { \"body\": \"ダミーデータ\", \"tags\": [ { \"category\": \"ダミーデータ\" }, { \"UnifiedFaqNo\": \"ダミーデータ\" } ], \"docname\": \"ダミーデータ\", \"created_timestamp\": \"ダミーデータ\" }, { \"body\": \"ダミーデータ\", \"tags\": [ { \"category\": \"ダミーデータ\" }, { \"UnifiedFaqNo\": \"ダミーデータ\" } ], \"docname\": \"ダミーデータ\", \"created_timestamp\": \"ダミーデータ\" } ]}","payloadType":"json","repeat":"","crontab":"","once":false,"x":167.37551879882812,"y":670.570198059082,"wires":[["c6ece7c8.b2b9a8"]]},{"id":"4cfe0248.ca626c","type":"debug","z":"cc4f15dc.942ce8","name":"","active":false,"console":"false","complete":"false","x":559.8957824707031,"y":962.4499282836914,"wires":[]},{"id":"ed713ab3.9d8d78","type":"debug","z":"cc4f15dc.942ce8","name":"","active":false,"console":"false","complete":"false","x":562.895751953125,"y":1055.4499282836914,"wires":[]},{"id":"7b962f72.9e369","type":"debug","z":"cc4f15dc.942ce8","name":"","active":false,"console":"false","complete":"false","x":558.895751953125,"y":1151.4499282836914,"wires":[]},{"id":"ee3c2ebe.42d16","type":"comment","z":"cc4f15dc.942ce8","name":"(1)  /judgeReply","info":"","x":627.895751953125,"y":307.44995880126953,"wires":[]},{"id":"98e66c2f.71b2a","type":"debug","z":"cc4f15dc.942ce8","name":"","active":true,"console":"false","complete":"payload","x":654.8957366943359,"y":389.44995880126953,"wires":[]},{"id":"c6ece7c8.b2b9a8","type":"function","z":"cc4f15dc.942ce8","name":"debug_GlobalSet","func":"global.set('state.dispatchQuestion', msg.payload.judgeCategory);\nreturn msg;","outputs":1,"noerr":0,"x":405.89573669433594,"y":662.4500198364258,"wires":[["837106e2.b40218"]]},{"id":"a78ab6f5.ea9248","type":"http request","z":"cc4f15dc.942ce8","name":"[POST] /interface/searchPDirectory","method":"POST","ret":"txt","url":"","tls":"","x":306.8957977294922,"y":1860.4499206542969,"wires":[["e1cf2811.5a5c08"]]},{"id":"e1cf2811.5a5c08","type":"function","z":"cc4f15dc.942ce8","name":"response","func":"flow.set('eventId.searchPDirectory', msg.payload);\n//console.log(\"eventId: \" + JSON.stringify(context.flow.get('eventId')));\n\n// Response formatting =======================\nvar jsonResponse = \"\";\ntry{\n    jsonResponse = JSON.parse(msg.payload);\n}\ncatch(e){\n    jsonResponse = msg.payload;\n}\n\nvar msg2 = {};\nvar tempJSON = {};\n\nvar answerOperationCnt = 0;\nvar userID = [];\nvar answerNo = 0;\nvar statejudgeReplyPD;\nvar documents = [];\nfor(var i in jsonResponse.search_results){\n    if(! statejudgeReplyPD){\n        if (jsonResponse.search_results[i].score >= flow.get('config.PD_SCORE_HIGH_LIMIT')){\n            //global.set('state.judgeReplyPD', flow.get('cons.CREATE_ANSWER'));\n            statejudgeReplyPD =  flow.get('cons.CREATE_ANSWER');\n        }\n    }\n\n    var documentsDetail = {};\n    if (jsonResponse.search_results[i].score >= flow.get('config.PD_SCORE_HIGH_LIMIT')){\n        for(var j in jsonResponse.search_results[i].documents.tags){\n            if(jsonResponse.search_results[i].documents.tags[j].userId  !== undefined && flow.get('mail.useremail') !== jsonResponse.search_results[i].documents.tags[j].userId){\n                answerNo++;\n                documentsDetail.userId = jsonResponse.search_results[i].documents.tags[j].userId;\n                documentsDetail.answerNo = answerNo;\n\n                if(userID.indexOf(jsonResponse.search_results[i].documents.tags[j].userId) <= -1){\n                    userID[answerOperationCnt] = jsonResponse.search_results[i].documents.tags[j].userId;\n                    answerOperationCnt++;\n                }\n            }\n        }\n        documentsDetail.docname = jsonResponse.search_results[i].documents.docname;\n        documentsDetail.created_timestamp = jsonResponse.search_results[i].documents.created_timestamp;\n        documentsDetail.score = jsonResponse.search_results[i].score;\n        documents[i] = documentsDetail;\n        if(answerOperationCnt >= flow.get('config.PD_ANSERLIMIT')){\n            break;\n        }\n    }\n}\ntempJSON.documents = documents;\ntempJSON.answerOperationCnt = answerOperationCnt;\n// For Debug =============================================================\n//flow.get('NextFlowParam.pdmailaddress',userID);\nvar debugUserID = [];\n// デモのためにユーザーを設定\ndebugUserID[0] = flow.get('mail.useremail');\ndebugUserID[1] = \"Inoue.Kyoichi@s50.toshiba-sol.co.jp\";\ndebugUserID[2] = \"Matsunaga.Michio@s50.toshiba-sol.co.jp\";\nflow.set('NextFlowParam.pdmailaddress',debugUserID);\n// For Debug =============================================================\n\nif(! statejudgeReplyPD){\n    statejudgeReplyPD =  flow.get('cons.CANNOT_ANSWER');\n}\n\nmsg2.payload = tempJSON;\n\ntempJSON.statejudgeReplyPD = statejudgeReplyPD;\n//console.log(\"tempJSON: \" + JSON.stringify(tempJSON));\n\nflow.set('eventId.statejudgeReplyPD', statejudgeReplyPD);\n//console.log(\"eventId: \" + JSON.stringify(context.flow.get('eventId')));\n\nmsg2.payload = tempJSON;\n//console.log(\"msg2.payload : \" + msg2.payload);\n\nreturn msg2;","outputs":1,"noerr":0,"x":539.1911468505859,"y":1860.1999816894531,"wires":[["b44f43ba.d6ffb","87783f5f.871c9"]]},{"id":"a426bed6.68a06","type":"comment","z":"cc4f15dc.942ce8","name":"(6) /retrievePerson","info":"","x":193.70556640625,"y":1308.517822265625,"wires":[]},{"id":"5633c8d.2418538","type":"comment","z":"cc4f15dc.942ce8","name":"microservice","info":"","x":273.4755401611328,"y":1678.8876647949219,"wires":[]},{"id":"dc851efa.277c5","type":"comment","z":"cc4f15dc.942ce8","name":"(7)  /judgeReply","info":"","x":555.5054779052734,"y":1822.5077514648438,"wires":[]},{"id":"b44f43ba.d6ffb","type":"debug","z":"cc4f15dc.942ce8","name":"","active":false,"console":"false","complete":"false","x":649.3958435058594,"y":1912.2677001953125,"wires":[]},{"id":"cac5fb24.2bbb98","type":"http request","z":"cc4f15dc.942ce8","name":"[POST] /interface/searchPDKeywords","method":"POST","ret":"txt","url":"","tls":"","x":315.8957977294922,"y":1713.2677001953125,"wires":[["dd600f27.94ab"]]},{"id":"dd600f27.94ab","type":"function","z":"cc4f15dc.942ce8","name":"response","func":"const Settings = context.global.get('aai-common').Settings;\n\nflow.set('eventId.searchPDKeywords', msg.payload);\n//console.log(\"eventId: \" + JSON.stringify(context.flow.get('eventId')));\n\n// Response Keyword Setting =======================\nvar msg2 = {};\nif(msg.payload.message === undefined){\n    msg2.payload = {\n        text: msg.payload,\n        count : context.global.get('config.PD_MAX_COUNT')\n    };\n}\nelse{\n    // Error\n    msg2.payload = {\n        text: flow.get('eventId.questionPD'),\n        count : context.global.get('config.PD_MAX_COUNT')\n    };\n}\n\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_SEARCHPDIRECTORY_URL;\n\nreturn msg2;","outputs":1,"noerr":0,"x":549.1911468505859,"y":1713.0177612304688,"wires":[["5d796b39.045914","ffa8002.61d07"]]},{"id":"ffa8002.61d07","type":"template","z":"cc4f15dc.942ce8","name":"create query param","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"query\" : \"{{payload.text}}\",\n    \"count\" : \"{{payload.count}}\"\n}","x":268.8957977294922,"y":1774.2677001953125,"wires":[["f1f3787b.bd85d8"]]},{"id":"f1f3787b.bd85d8","type":"json","z":"cc4f15dc.942ce8","name":"","x":457.8957977294922,"y":1774.2677001953125,"wires":[["a78ab6f5.ea9248"]]},{"id":"10694952.469697","type":"link in","z":"cc4f15dc.942ce8","name":"retrievePerson","links":["a57beee7.aaf7c","8e0e98b6.033aa8","bba05a06.1a4a18"],"x":51.5357666015625,"y":1368.4502563476562,"wires":[["8030a154.f4237"]]},{"id":"a57beee7.aaf7c","type":"link out","z":"cc4f15dc.942ce8","name":"retrievePerson","links":["10694952.469697"],"x":561.5357971191406,"y":922.4499282836914,"wires":[]},{"id":"e2ae50cc.a44e4","type":"comment","z":"cc4f15dc.942ce8","name":"microservice","info":"","x":272.03578186035156,"y":1822.4499206542969,"wires":[]},{"id":"5d796b39.045914","type":"debug","z":"cc4f15dc.942ce8","name":"","active":false,"console":"false","complete":"false","x":645.0357360839844,"y":1780.4498596191406,"wires":[]},{"id":"ca813956.badde8","type":"debug","z":"cc4f15dc.942ce8","name":"","active":true,"console":"false","complete":"payload","x":504.0357971191406,"y":1623.449951171875,"wires":[]},{"id":"8e0e98b6.033aa8","type":"link out","z":"cc4f15dc.942ce8","name":"retrievePerson","links":["10694952.469697"],"x":559.895751953125,"y":1011.4499893188477,"wires":[]},{"id":"bba05a06.1a4a18","type":"link out","z":"cc4f15dc.942ce8","name":"retrievePerson","links":["10694952.469697"],"x":558.8957672119141,"y":1109.4499282836914,"wires":[]},{"id":"f281c169.4421e","type":"link in","z":"cc4f15dc.942ce8","name":"judgeReplyPD","links":["87783f5f.871c9"],"x":128.39576721191406,"y":1976.4500732421875,"wires":[["6a03f8fc.b6b328"]]},{"id":"87783f5f.871c9","type":"link out","z":"cc4f15dc.942ce8","name":"judgeReplyPD","links":["f281c169.4421e"],"x":674.3957977294922,"y":1859.449951171875,"wires":[]},{"id":"7506ca3e.51d304","type":"comment","z":"cc4f15dc.942ce8","name":"(7)  /judgeReplyPD","info":"","x":274.89576721191406,"y":1938.4500732421875,"wires":[]},{"id":"6a03f8fc.b6b328","type":"switch","z":"cc4f15dc.942ce8","name":"","property":"payload.statejudgeReplyPD","propertyType":"msg","rules":[{"t":"eq","v":"CREATE_ANSWER","vt":"str"},{"t":"eq","v":"CANNOT_ANSWER","vt":"str"}],"checkall":"true","outputs":2,"x":240.89576721191406,"y":1977.4500732421875,"wires":[["6dcb7084.b2bc8"],["9c80d65a.69b5d8"]]},{"id":"e91db99e.d91438","type":"function","z":"cc4f15dc.942ce8","name":"template4ReplyPD","func":"// FaqAutoResponseAnswer Setting =======================\n\nvar msg2 = {};\n\nvar kbObj = flow.get('answerFaqAutoResponse');\n//kbObj.FaqDetail =  decodeURIComponent(kbObj.FaqDetail);\nvar pramObj = kbObj;\n\npramObj.documents = msg.payload.documents;\n\nif(flow.get('state.judgeReply') == flow.get('cons.CREATE_ANSWER')){\n    pramObj.messagePD = \"また、他に社内に詳しそうな方が\"  + msg.payload.answerOperationCnt + \"人いるようですので、「詳しい人に聞いて」と返信いただければ、そちらに聞いてみます。\";\n}\nelse{\n    pramObj.messagePD = \"社内に詳しそうな方が\"  + msg.payload.answerOperationCnt + \"人いるようですので、「詳しい人に聞いて」と返信いただければ、そちらに聞いてみます。また、ITインフラサービスのご質問でしたら、「エスカレーションして」と返信いただければ、問い合わせ窓口にエスカレーションします。\";\n}\n//console.log(\"パラメーター: \" + pramObj);\n\nmsg2.payload = pramObj;\nreturn msg2;","outputs":1,"noerr":0,"x":321.895751953125,"y":2097.4500732421875,"wires":[["dcc012b1.d5316","7be71881.7e77f8"]]},{"id":"51d68fd.14cce7","type":"function","z":"cc4f15dc.942ce8","name":"template4NotAnswerPD","func":"// FaqAutoResponseAnswer Setting =======================\n\nvar msg2 = {};\n\nvar kbObj = flow.get('answerFaqAutoResponse');\n//kbObj.FaqDetail =  decodeURIComponent(kbObj.FaqDetail);\n\nvar pramObj = kbObj;\npramObj.documents = msg.payload.documents;\nif(flow.get('state.judgeReply') == flow.get('cons.CREATE_ANSWER')){\n    pramObj.messagePD = \"なお、他に社内に詳しそうな方は見当たらないようです。\";\n}\nelse{\n    pramObj.messagePD = \"ITインフラサービスのご質問でしたら、「エスカレーションして」と返信いただければ、問い合わせ窓口にエスカレーションします。なお、他に社内に詳しそうな方は見当たらないようです。\";\n}\n\n//console.log(\"パラメーター: \" + pramObj);\n\nmsg2.payload = pramObj;\nreturn msg2;","outputs":1,"noerr":0,"x":336.8157501220703,"y":2193.6702880859375,"wires":[["ffcf8444.25b1e8","4f8a5de0.637844"]]},{"id":"9129ed0f.feaec","type":"comment","z":"cc4f15dc.942ce8","name":"(8) /createAnswer4Reply","info":"","x":295.5657653808594,"y":2055.010040283203,"wires":[]},{"id":"c17cfa4d.39b928","type":"comment","z":"cc4f15dc.942ce8","name":"(9) /createAnswer4NonePD","info":"","x":307.1357421875,"y":2144.97021484375,"wires":[]},{"id":"ffcf8444.25b1e8","type":"debug","z":"cc4f15dc.942ce8","name":"","active":false,"console":"false","complete":"false","x":572.0760040283203,"y":2261.3803176879883,"wires":[]},{"id":"dcc012b1.d5316","type":"debug","z":"cc4f15dc.942ce8","name":"","active":false,"console":"false","complete":"false","x":569.0760040283203,"y":2147.380126953125,"wires":[]},{"id":"6dcb7084.b2bc8","type":"link out","z":"cc4f15dc.942ce8","name":"createAnswer4ReplyPD","links":["c0e59ac.9481868"],"x":475.39576721191406,"y":1960.4500732421875,"wires":[]},{"id":"9c80d65a.69b5d8","type":"link out","z":"cc4f15dc.942ce8","name":"createAnswer4NonePD","links":["aa7cfb69.cbada8"],"x":474.39576721191406,"y":2000.4500732421875,"wires":[]},{"id":"c0e59ac.9481868","type":"link in","z":"cc4f15dc.942ce8","name":"createAnswer4ReplyPD","links":["6dcb7084.b2bc8"],"x":129.395751953125,"y":2095.4500732421875,"wires":[["e91db99e.d91438"]]},{"id":"aa7cfb69.cbada8","type":"link in","z":"cc4f15dc.942ce8","name":"createAnswer4NonePD","links":["9c80d65a.69b5d8","f6404fcb.0310f"],"x":125.89573669433594,"y":2192.4501953125,"wires":[["51d68fd.14cce7"]]},{"id":"1b5f0ba.8ed6af4","type":"comment","z":"cc4f15dc.942ce8","name":"(8) /createAnswer4Reply","info":"","x":647.8957366943359,"y":1957.4500732421875,"wires":[]},{"id":"c927c517.7073d8","type":"comment","z":"cc4f15dc.942ce8","name":"(9) /createAnswer4NonePD","info":"","x":646.8957061767578,"y":2002.4500732421875,"wires":[]},{"id":"383f5e17.6e17e2","type":"comment","z":"cc4f15dc.942ce8","name":"(10) sendMail","info":"","x":617.895751953125,"y":2097.4500732421875,"wires":[]},{"id":"1fac020.cf34ffe","type":"comment","z":"cc4f15dc.942ce8","name":"(10) sendMail","info":"","x":617.8957366943359,"y":2195.4501953125,"wires":[]},{"id":"9571f27d.402eb","type":"debug","z":"cc4f15dc.942ce8","name":"","active":true,"console":"false","complete":"false","x":569.8957366943359,"y":2315.4505615234375,"wires":[]},{"id":"aa0ca016.91e78","type":"template","z":"cc4f15dc.942ce8","name":"tmplOfFaqAutoResponseAnswer","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.messageFaq}}{{payload.messagePD}}\n\n{{payload.messageFaqDetail}}","x":315.39573669433594,"y":2363.4505615234375,"wires":[["9571f27d.402eb","bfb0a69f.4857e8"]]},{"id":"591c7682.c6bb98","type":"link in","z":"cc4f15dc.942ce8","name":"CommonMessageStorage","links":["e0e77936.ce92e8"],"x":102.28123474121094,"y":3091.5205078125,"wires":[["17f19b76.20ab45"]]},{"id":"333ded06.3fc712","type":"link out","z":"cc4f15dc.942ce8","name":"tmplOfFaqAutoResponseAnswer","links":["84a801ee.34c2c"],"x":666.2707366943359,"y":2362.791015625,"wires":[]},{"id":"97896683.fd6488","type":"function","z":"cc4f15dc.942ce8","name":"create query param","func":"const Settings = context.global.get('aai-common').Settings;\n\n// Request Keyword Setting =======================\nvar faqMessage = {\n    startFaqAutoResponse:[\n        {\n            msg:\"教えて\"\n        },\n        {\n            msg:\"知らない？\"\n        },\n        {\n            msg:\"聞きたい\"\n        },\n        {\n            msg:\"ご教授\"\n        },\n        {\n            msg:\"ご教示\"\n        }\n    ]\n};\n\nvar question = flow.get('mail.question');\nfor(var i in faqMessage.startFaqAutoResponse){\n     question = question.replace(faqMessage.startFaqAutoResponse[i].msg,\"\");\n}\n\nvar msg2 = {};\nmsg2.payload = {\n    query : question,\n    count : context.global.get('config.KEY_MAX_COUNT')\n};\n\nflow.set('eventId.questionPD', question);\n\n// Http Request TODO This URL is nothing in default.json\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_INPUTKEYWORD_URL;\n\nreturn msg2;","outputs":1,"noerr":0,"x":260.89576721191406,"y":1625.3388671875,"wires":[["cac5fb24.2bbb98","ca813956.badde8"]]},{"id":"82fd09e8.d2c648","type":"link in","z":"cc4f15dc.942ce8","name":"CommonSendChatBotEvent","links":["9b74a554.0d14e8","fed4485e.3a0ee8","b0b1169a.6460c8","440b6a4f.b78704","9b88fd0d.d000f","67bc2652.5daa38","d8f0f188.f105f","efe1376c.f8e618","b492faf7.9ef668","298987e0.f13148","8b5fd17c.8332c"],"x":72.89582824707031,"y":2772.2280807495117,"wires":[["39571760.649068","e96e3b7f.43f908"]]},{"id":"39571760.649068","type":"debug","z":"cc4f15dc.942ce8","name":"","active":true,"console":"false","complete":"false","x":163.8957977294922,"y":2815.22802734375,"wires":[]},{"id":"3d764f1c.baa99","type":"function","z":"cc4f15dc.942ce8","name":"MessageStorage(Create)","func":"const Settings = context.global.get('aai-common').Settings;\n\n// Parameter Initializing =======================\nflow.set('Event', {});\nflow.set('mail', {});\nflow.set('answerFaqAutoResponse', {});\nflow.set('eventId', {});\nflow.set('state.judgeReply', \"\");\nflow.set('NextFlowParam', {});\n\n\n// Parameter Setting =======================\nflow.set('Event.eventId', msg.payload.eventId);\nflow.set('eventId', msg.payload);\nflow.set('eventId.tracker', context.flow.get('cons.TRACK_QUESTION'));\nflow.set('eventId.type', msg.payload.type);\nflow.set('eventId.conversation', msg.payload.conversation);\nflow.set('eventId.question',msg.payload.text);\nif(msg.payload.mailData !== undefined){\n    flow.set('eventId.messageId',msg.payload.mailData.messageId);\n    flow.set('eventId.inReplyTo',msg.payload.mailData.inReplyTo);\n}\nelse{\n    flow.set('eventId.messageId',\"\");\n    flow.set('eventId.inReplyTo',\"\");\n}\nflow.set('mail.from', context.global.get('cons.FROM_MAIL_ADDRESS'));\nflow.set('mail.subject', msg.payload.subject);\nflow.set('mail.username', msg.payload.user.name);\nif(msg.payload.user.emailAddresses === undefined || msg.payload.user.emailAddresses === \"\"){\n    if(msg.payload.type === \"mail\"){\n        flow.set('mail.useremail', msg.payload.user.uri);\n    }\n    else{\n        // \"sip:\" cut\n        flow.set('mail.useremail', msg.payload.user.uri.substring(4));\n    }\n}\nelse{\n    flow.set('mail.useremail',msg.payload.user.emailAddresses);\n}\nflow.set('mail.question',msg.payload.text);\n\n//console.log(\"eventId: \" + JSON.stringify(context.flow.get('eventId')));\n//console.log(\"mail: \" + JSON.stringify(context.flow.get('mail')));\n\n// Next Flow Parameter Setting ==============\nflow.set('NextFlowParam.question' , msg.payload.text);\nflow.set('NextFlowParam.requestUserName' ,  msg.payload.user.name);\nflow.set('NextFlowParam.requestUserMail' , flow.get('mail.useremail'));\nflow.set('NextFlowParam.pdmailaddress' , null);\n\n// incidents Parameter Setting ==============\nconst msg2 = {};\n\nvar dt = new Date();\n\nvar messageId = \"\";\nvar inReplyTo = \"\";\nif(msg.payload.mailData !== undefined){\n    messageId = msg.payload.mailData.messageId;\n    inReplyTo = msg.payload.mailData.inReplyTo;\n}\n\n// make Body\nconst body =  {\n    \"type\": \"incidents\",\n    \"chaneltype\": msg.payload.type,\n    \"incidentno\": \"\",\n    \"incidentStatus\": Settings.INCIDENT_STATUS_FAQRECEPTION,\n    \"requestUser\":{\n        \"name\": msg.payload.user.name,\n        \"mailAddress\": flow.get('mail.useremail'),\n        \"subject\": flow.get('mail.subject'),\n        \"messageid\": messageId,\n        \"inReplyTo\": inReplyTo,\n        \"conversationid\": flow.get('eventId.conversation'),\n        \"eventId\": flow.get('Event.eventId'),\n        \"question\" : msg.payload.text,\n        \"responseFAQNumbers\": \"\",\n        \"responseFAQText\": \"\",\n        \"responsePDMenbers\": [\"\"],\n        \"responseDate\": \"\",\n        \"clickFAQNo\": \"\",\n        \"clickDate\": \"\"\n    },\n    \"dispatchFAQ\":[\n        {\n        \"name\":\"\",\n        \"mailAddress\":\"\",\n        \"dispatchDate\": \"\",\n        \"responseDate\": \"\",\n        \"messageid\": \"\",\n        \"answer\" : \"\",\n        \"faqNo\" : \"\"\n        }\n    ],\n    \"dispatchPD\":[\n        {\n        \"name\":\"\",\n        \"mailAddress\":\"\",\n        \"dispatchDate\": \"\",\n        \"responseDate\": \"\",\n        \"messageid\": \"\",\n        \"answer\" : \"\",\n        \"answerNo\" : \"\"\n        }\n    ],\n    \"createDate\": dt\n}\n\nmsg2.payload = body;\n\n// Http Request\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_MESSAGESTORAGE_INCIDENTSCREATEURL;\n\nreturn msg2;","outputs":1,"noerr":0,"x":278.89581298828125,"y":194.89447784423828,"wires":[["ee85ba33.58c8d8","413dd94.299eb28"]]},{"id":"ee85ba33.58c8d8","type":"http request","z":"cc4f15dc.942ce8","name":"[POST]/incidentsCreate","method":"POST","ret":"txt","url":"","tls":"","x":528.8959045410156,"y":194.89435577392578,"wires":[["2ebb27b0.033b88","577b197.2857fe8"]]},{"id":"413dd94.299eb28","type":"debug","z":"cc4f15dc.942ce8","name":"","active":true,"console":"false","complete":"false","x":439.03602600097656,"y":253.88459014892578,"wires":[]},{"id":"2ebb27b0.033b88","type":"debug","z":"cc4f15dc.942ce8","name":"","active":true,"console":"false","complete":"false","x":630.8957366943359,"y":251.33890533447266,"wires":[]},{"id":"13ddb8f.62bca47","type":"link in","z":"cc4f15dc.942ce8","name":"retrieveKBase","links":["577b197.2857fe8"],"x":56.27778625488281,"y":345.5055847167969,"wires":[["8b502bd8.05e3d8"]]},{"id":"577b197.2857fe8","type":"link out","z":"cc4f15dc.942ce8","name":"incidents","links":["13ddb8f.62bca47"],"x":672.2708435058594,"y":194.79376983642578,"wires":[]},{"id":"9ef552ad.d69c8","type":"function","z":"cc4f15dc.942ce8","name":"MessageStorage(Update)","func":"const Settings = context.global.get('aai-common').Settings;\n\n// Parameter Setting =======================\nvar message = JSON.parse(msg.payload)[0];\n\nvar dt = new Date();\nmessage.incidentno = flow.get('eventId.incidentno');\nmessage.incidentStatus = Settings.INCIDENT_STATUS_FAQFIRSTANSWER;   //FAQFirstAnswer\nmessage.requestUser.responseFAQNumbers = flow.get('NextFlowParam.messageFaqNumbers');\nmessage.requestUser.responseFAQText = flow.get('NextFlowParam.messageFaqText');\nmessage.requestUser.responsePDMenbers =  flow.get('NextFlowParam.pdmailaddress');\nmessage.requestUser.messageid =  flow.get('eventId.messageid');\nmessage.requestUser.inReplyTo =  flow.get('eventId.inReplyTo');\nmessage.requestUser.responseDate = dt;\n\nconst msg2 = {};\n\n// make Body\nconst body =  {\n    \"id\":  flow.get('eventId.incidentno'),\n    \"message\": message\n}\n\nmsg2.payload = body;\n\n// Http Request\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_MESSAGESTORAGE_INCIDENTSUPDATEURL;\n\nreturn msg2;","outputs":1,"noerr":0,"x":280.8957824707031,"y":2516.8944091796875,"wires":[["fb06b4c2.7948c8","651fdeaf.9bbd6"]]},{"id":"fb06b4c2.7948c8","type":"http request","z":"cc4f15dc.942ce8","name":"[POST]/incidentsUpdate","method":"POST","ret":"txt","url":"","tls":"","x":532.8958587646484,"y":2516.894287109375,"wires":[["777a013a.503d7"]]},{"id":"73b869f1.fb8ec8","type":"function","z":"cc4f15dc.942ce8","name":"MessageStorage(Select)","func":"const Settings = context.global.get('aai-common').Settings;\n\n// incidents Parameter Setting ==============\nconst msg2 = {};\n\n// make Body\nconst body =  {\n    \"id\": flow.get('eventId.incidentno')\n}\n\nmsg2.payload = body;\n\n// Http Request\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_MESSAGESTORAGE_INCIDENTSSELECTURL;\n\nreturn msg2;","outputs":1,"noerr":0,"x":233.89569091796875,"y":2465.0057373046875,"wires":[["fdd36cf6.3a456"]]},{"id":"fdd36cf6.3a456","type":"http request","z":"cc4f15dc.942ce8","name":"[POST]/incidentsSelect","method":"POST","ret":"txt","url":"","tls":"","x":475.89573669433594,"y":2465.005615234375,"wires":[["9ef552ad.d69c8"]]},{"id":"84a801ee.34c2c","type":"link in","z":"cc4f15dc.942ce8","name":"faqFirstAnswer","links":["333ded06.3fc712"],"x":71.27421569824219,"y":2465.17236328125,"wires":[["73b869f1.fb8ec8"]]},{"id":"be007d8c.d1e2d","type":"comment","z":"cc4f15dc.942ce8","name":"(11) incidentsUpdate","info":"","x":149.895751953125,"y":2411.8944091796875,"wires":[]},{"id":"651fdeaf.9bbd6","type":"debug","z":"cc4f15dc.942ce8","name":"","active":true,"console":"false","complete":"false","x":492.0359344482422,"y":2554.8846435546875,"wires":[]},{"id":"e96e3b7f.43f908","type":"subflow:5dbccf9.8065d3","z":"cc4f15dc.942ce8","x":225.89581298828125,"y":2771.4444427490234,"wires":[["22af4695.139d3a","6d5ee758.f19538"]]},{"id":"7c6890d.338017","type":"function","z":"cc4f15dc.942ce8","name":"Compleate","func":"const msg2 = {};\nmsg2.payload = {\n    eventId: flow.get('Event.eventId'),\n}\n\nreturn msg2;","outputs":1,"noerr":0,"x":438.89576721191406,"y":2771.555908203125,"wires":[["50736da1.debc84"]]},{"id":"50736da1.debc84","type":"subflow:735040c0.a4f31","z":"cc4f15dc.942ce8","name":"","x":627.5207366943359,"y":2771.184326171875,"wires":[]},{"id":"959ab070.1145d","type":"function","z":"cc4f15dc.942ce8","name":"template4Reply","func":"const Settings = context.global.get('aai-common').Settings;\n\n// FaqAutoResponseAnswer Setting =======================\n\nvar msg2 = {};\n\n\nvar pramObj = {};\nvar tmpKB = [];\n\nvar messageFaqNumbers = \"\";\nvar messageFaqDetail = \"\";\nfor(var i in msg.payload){\n    if(msg.payload[i].UnifiedFaqNo !== undefined){\n        if(messageFaqNumbers !== \"\"){\n            messageFaqNumbers += \",\";\n        }\n        messageFaqNumbers += msg.payload[i].UnifiedFaqNo;\n        \n        messageFaqDetail += \"#\" + msg.payload[i].UnifiedFaqNo + \": \" + msg.payload[i].title + \"\\n\";\n        messageFaqDetail += msg.payload[i].context;\n        if(msg.payload[i].Url !== \"\"){\n            messageFaqDetail += \"…(<a href=\" + Settings.WEB_REDIRECT_FAQ + \"?id=\"; \n            messageFaqDetail += flow.get('eventId.incidentno') + \"&clickFAQNo=\" + msg.payload[i].UnifiedFaqNo;\n            messageFaqDetail += \"&redirectURL=\" + msg.payload[i].Url + \">\" + \"本文\" + \"</a>)\\n\\n\";\n        }\n    }\n}\n\npramObj.messageFaq = \"次のFAQに該当するものはありますでしょうか? 「エスカレーションして」と返信いただければ、問い合わせ窓口にエスカレーションします。\";\npramObj.messageFaqDetail = messageFaqDetail; \n\nflow.set('answerFaqAutoResponse', pramObj);\nflow.set('NextFlowParam.messageFaqNumbers' ,messageFaqNumbers);\nflow.set('NextFlowParam.messageFaqText' ,messageFaqDetail);\n\n//console.log(pramObj);\nmsg2.payload = pramObj;\n\nreturn msg2;","outputs":1,"noerr":0,"x":305.89576721191406,"y":922.888916015625,"wires":[["a57beee7.aaf7c","4cfe0248.ca626c"]]},{"id":"28ee58b7.101ed8","type":"link in","z":"cc4f15dc.942ce8","name":"jsonServer","links":["2fef79a9.0841f6","29c2b86.902cf48","f81836b5.1d2bf8","288fb41c.15125c"],"x":78.18028259277344,"y":844.0011291503906,"wires":[["eb0701b3.c690c"]]},{"id":"eb0701b3.c690c","type":"function","z":"cc4f15dc.942ce8","name":"json-server","func":"const Settings = context.global.get('aai-common').Settings;\n\n// FaqAutoResponseAnswer Setting =======================\n\nvar msg2 = {};\nvar jsonUrl = \"\";\nvar jsonCnt = msg.payload.documents.length;\n\nvar faqListFlg = false;\nvar tempDocument = [];\nfor(var i in msg.payload.documents){\n    var tempDocumentDetail = {};\n    for(var j in msg.payload.documents[i].tags){\n        if(msg.payload.documents[i].tags[j].category !== undefined && msg.payload.documents[i].tags[j].category === \"FAQ一覧\"){\n            tempDocumentDetail.UnifiedFaqNo = msg.payload.documents[i].body;\n            tempDocumentDetail.FAQListFlag = true;\n            faqListFlg = true;\n        }\n        if(msg.payload.documents[i].tags[j].UnifiedFaqNo !== undefined){\n            var UnifiedFaqNumbers = msg.payload.documents[i].tags[j].UnifiedFaqNo.match(/KB\\d{7}/);\n            if(faqListFlg){\n                tempDocumentDetail.Url = msg.payload.documents[i].tags[j].UnifiedFaqNo;\n            }\n            else{\n                if(i < flow.get('config.SEARCH_COUNT')){\n                    jsonUrl += \"no=\" + UnifiedFaqNumbers;\n                    //jsonUrl += \"no=\" + msg.payload.documents[i].tags[j].UnifiedFaqNo;\n                }else if(i < jsonCnt){\n                    jsonUrl += \"&no=\" + UnifiedFaqNumbers;\n                    //jsonUrl += \"&no=\" + msg.payload.documents[i].tags[j].UnifiedFaqNo;\n                }\n                //tempDocumentDetail.UnifiedFaqNo = UnifiedFaqNumbers;\n                tempDocumentDetail.UnifiedFaqNo = msg.payload.documents[i].tags[j].UnifiedFaqNo.match(/KB\\d{7}/);\n                tempDocumentDetail.Url = msg.payload.documents[i].tags[j].UnifiedFaqNo;\n            }\n        }\n    }\n    tempDocument[i] = tempDocumentDetail;\n}\n\nmsg2.payload = tempDocument;\nflow.set('Event.retrieveKBaseResult', tempDocument);\n\n// Http Request\nmsg2.method = \"GET\";\nmsg2.url = Settings.WEB_JSONSERVER_FAQ + \"?\" + jsonUrl;\n\nreturn msg2;","outputs":1,"noerr":0,"x":193.18028259277344,"y":844.0011291503906,"wires":[["5fffd251.ef0d5c","28b168c3.909e78"]]},{"id":"28b168c3.909e78","type":"debug","z":"cc4f15dc.942ce8","name":"","active":true,"console":"false","complete":"false","x":264.1802520751953,"y":799.0011291503906,"wires":[]},{"id":"5fffd251.ef0d5c","type":"http request","z":"cc4f15dc.942ce8","name":"[get]json-server","method":"GET","ret":"txt","url":"","tls":"","x":372.18028259277344,"y":843.0011291503906,"wires":[["e42c911b.96d9d","3afe4134.1397ce"]]},{"id":"e42c911b.96d9d","type":"function","z":"cc4f15dc.942ce8","name":"response","func":"//// Response formatting =======================\nvar jsonResponse = \"\";\ntry{\n    jsonResponse = JSON.parse(msg.payload);\n}\ncatch(e){\n    jsonResponse = msg.payload;\n}\n\nvar pramObj = [];\npramObj = flow.get('Event.retrieveKBaseResult');\nvar msg2 = {};\nvar tempJSON = {};\n\nvar tempDocument = [];\nfor(var i in pramObj){\n    var tempDocumentDetail = {};\n    for(var j in jsonResponse){\n        if(pramObj[i].UnifiedFaqNo == jsonResponse[j].no){\n            tempDocumentDetail.UnifiedFaqNo = pramObj[i].UnifiedFaqNo;\n            tempDocumentDetail.title = jsonResponse[j].title;\n            tempDocumentDetail.context = jsonResponse[j].context;\n            tempDocumentDetail.Url = pramObj[i].Url;\n            tempDocument[i] = tempDocumentDetail;\n            break;\n        }\n    }\n}\n\n    console.log(\"tempDocument　\" + tempDocument);\nif(pramObj[0].FAQListFlag !== undefined && pramObj[0].FAQListFlag){\n    tempDocument = [];\n    tempDocumentDetail = {};\n    tempDocumentDetail.UnifiedFaqNo = pramObj[0].UnifiedFaqNo;\n    tempDocumentDetail.title = \"\";\n    tempDocumentDetail.context = pramObj[0].Url;\n    tempDocumentDetail.Url = \"\";\n    tempDocument[0] = tempDocumentDetail;\n}\n\nmsg2.payload = tempDocument;\n//console.log(\"msg.payload : \" + msg.payload);\n\nreturn msg2;","outputs":1,"noerr":0,"x":542.1802825927734,"y":843.0011291503906,"wires":[["4ea1d351.2abc2c","2ac06d84.376902"]]},{"id":"4ea1d351.2abc2c","type":"debug","z":"cc4f15dc.942ce8","name":"","active":true,"console":"false","complete":"payload","x":604.1802825927734,"y":800.0011291503906,"wires":[]},{"id":"2ac06d84.376902","type":"link out","z":"cc4f15dc.942ce8","name":"jsonServerResponse","links":["6572ed95.8ef684"],"x":637.1802825927734,"y":844.0011291503906,"wires":[]},{"id":"8030a154.f4237","type":"function","z":"cc4f15dc.942ce8","name":"RequestRoll","func":"const Settings = context.global.get('aai-common').Settings;\n\n//var statejudgeReply;\nvar requestMailAddresses = flow.get('mail.useremail');\n\nvar jsonUrl = \"\";\njsonUrl = \"mailAddress=\" + requestMailAddresses;\n \nvar msg2 = {};\nmsg2.payload = {};\n\n// Http Request\nmsg2.method = \"GET\";\nmsg2.url = Settings.WEB_JSONSERVER_REQUESTROLL + \"?\" + jsonUrl;\n\nreturn msg2;","outputs":1,"noerr":0,"x":161.89581298828125,"y":1368.74365234375,"wires":[["9d2c3f6.fa792c","578ed152.84345"]]},{"id":"913b2985.873018","type":"switch","z":"cc4f15dc.942ce8","name":"","property":"payload.pdExecJuge","propertyType":"msg","rules":[{"t":"lt","v":"1","vt":"str"},{"t":"gte","v":"1","vt":"str"}],"checkall":"true","outputs":2,"x":268.8959197998047,"y":1522.7437133789062,"wires":[["f6404fcb.0310f"],["bd68561c.7540a8"]]},{"id":"9d2c3f6.fa792c","type":"http request","z":"cc4f15dc.942ce8","name":"[get]json-server","method":"GET","ret":"txt","url":"","tls":"","x":326.8957214355469,"y":1367.7439575195312,"wires":[["b9e8b18.ba2085","4666f121.044b8"]]},{"id":"b9e8b18.ba2085","type":"function","z":"cc4f15dc.942ce8","name":"response","func":"const Settings = context.global.get('aai-common').Settings;\n\n// json-server response setting =======================\n\nvar jsonResponse = \"\";\ntry{\n    jsonResponse = JSON.parse(msg.payload);\n}\ncatch(e){\n    jsonResponse = msg.payload;\n}\n\nvar tempJSON = {};\ntempJSON.pdExecJuge = jsonResponse.length;\n\nvar msg2 = {};\nmsg2.payload = tempJSON;\n\n// Http Request\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_INPUTKEYWORD_URL;\n\nreturn msg2;","outputs":1,"noerr":0,"x":486.89573669433594,"y":1368.7437133789062,"wires":[["dbe33ec4.37fe4","e962b147.9448f"]]},{"id":"dbe33ec4.37fe4","type":"debug","z":"cc4f15dc.942ce8","name":"","active":true,"console":"false","complete":"false","x":480.89576721191406,"y":1417.7437133789062,"wires":[]},{"id":"bd68561c.7540a8","type":"link out","z":"cc4f15dc.942ce8","name":"NotRequestRoll","links":["78ae9fe.cfd3d6"],"x":417.89573669433594,"y":1540.74365234375,"wires":[]},{"id":"f6404fcb.0310f","type":"link out","z":"cc4f15dc.942ce8","name":"NotRequestRoll","links":["aa7cfb69.cbada8"],"x":417.89576721191406,"y":1491.77783203125,"wires":[]},{"id":"76df9b7a.9378f4","type":"comment","z":"cc4f15dc.942ce8","name":"PD Exec Judge","info":"","x":264.89581298828125,"y":1478.5557250976562,"wires":[]},{"id":"e962b147.9448f","type":"link out","z":"cc4f15dc.942ce8","name":"NotRequestRoll","links":["eeeaeef7.f2a94"],"x":618.8958129882812,"y":1369.0000610351562,"wires":[]},{"id":"eeeaeef7.f2a94","type":"link in","z":"cc4f15dc.942ce8","name":"pdExecJudge","links":["e962b147.9448f"],"x":129.27084350585938,"y":1522.9480590820312,"wires":[["913b2985.873018"]]},{"id":"78ae9fe.cfd3d6","type":"link in","z":"cc4f15dc.942ce8","name":"pdExecute","links":["bd68561c.7540a8"],"x":125.89582824707031,"y":1624.77783203125,"wires":[["97896683.fd6488"]]},{"id":"6d62859b.b2aadc","type":"comment","z":"cc4f15dc.942ce8","name":"PD Not Exec","info":"","x":522.8958129882812,"y":1488.77783203125,"wires":[]},{"id":"c4a9dcc1.73f0c","type":"comment","z":"cc4f15dc.942ce8","name":"PD Execute","info":"","x":522.8958129882812,"y":1538.77783203125,"wires":[]},{"id":"4666f121.044b8","type":"debug","z":"cc4f15dc.942ce8","name":"","active":true,"console":"false","complete":"false","x":472.89581298828125,"y":1293.888916015625,"wires":[]},{"id":"578ed152.84345","type":"debug","z":"cc4f15dc.942ce8","name":"","active":true,"console":"false","complete":"true","x":231.27435302734375,"y":1418.2708740234375,"wires":[]},{"id":"22af4695.139d3a","type":"function","z":"cc4f15dc.942ce8","name":"MessageStorage(Select)","func":"const Settings = context.global.get('aai-common').Settings;\n\n// Response formatting =======================\nvar jsonResponse = \"\";\ntry{\n    jsonResponse = JSON.parse(msg.payload);\n}\ncatch(e){\n    jsonResponse = msg.payload;\n}\n\nflow.set('eventId.responseResult', jsonResponse.responseResult);\nflow.set('mail.responseResult', jsonResponse.responseResult);\n\n// incidents Parameter Setting ==============\nconst msg2 = {};\n\n// make Body\nconst body =  {\n    \"id\": flow.get('eventId.incidentno')\n}\n\nmsg2.payload = body;\n\n// Http Request\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_MESSAGESTORAGE_INCIDENTSSELECTURL;\n\nreturn msg2;","outputs":1,"noerr":0,"x":261.89581298828125,"y":2896.111328125,"wires":[["b669c795.9e2c68"]]},{"id":"b669c795.9e2c68","type":"http request","z":"cc4f15dc.942ce8","name":"[POST]/incidentsSelect","method":"POST","ret":"txt","url":"","tls":"","x":503.89585876464844,"y":2896.1112060546875,"wires":[["4487e39c.1ac7ec"]]},{"id":"4487e39c.1ac7ec","type":"function","z":"cc4f15dc.942ce8","name":"MessageStorage(Update)","func":"const Settings = context.global.get('aai-common').Settings;\n\n// Parameter Setting =======================\nvar message = JSON.parse(msg.payload)[0];\n\nvar jsonResponse = flow.get('mail.responseResult');\n\n// messageid setting\nfor(var i in jsonResponse){\n    console.log(\"jsonResponse[i].operation \" + jsonResponse[i].operation);\n    if(jsonResponse[i].operation !== undefined && jsonResponse[i].operation === \"mail\"){\n        if (jsonResponse[i].mail !== undefined){\n            for(var j in jsonResponse[i].mail.to){\n                console.log(\"flow.get('mail.useremail') \" + flow.get('mail.useremail'));\n                console.log(\"jsonResponse[i].mail.to[j] \" + jsonResponse[i].mail.to[j]);\n                if (flow.get('mail.useremail') === jsonResponse[i].mail.to[j]){\n                    message.requestUser.messageid = jsonResponse[i].mail.messageId.messageId;\n                    console.log(\"jsonResponse[i].mail.messageId.messageId \" +jsonResponse[i].mail.messageId.messageId);\n                    break;\n                }\n            }\n            break;\n        }\n    }\n}\n\nif(message.requestUser.messageid === undefined){\n    message.requestUser.messageid = \"\";\n}\n\nconst msg2 = {};\n\n// make Body\nconst body =  {\n    \"id\":  flow.get('eventId.incidentno'),\n    \"message\": message\n};\n\nmsg2.payload = body;\n\n// Http Request\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_MESSAGESTORAGE_INCIDENTSUPDATEURL;\n\nreturn msg2;","outputs":1,"noerr":0,"x":308.8959045410156,"y":2948,"wires":[["322b5dbd.d68a02","2dfe5677.3463fa"]]},{"id":"322b5dbd.d68a02","type":"http request","z":"cc4f15dc.942ce8","name":"[POST]/incidentsUpdate","method":"POST","ret":"txt","url":"","tls":"","x":560.8959808349609,"y":2947.9998779296875,"wires":[["e0e77936.ce92e8"]]},{"id":"2dfe5677.3463fa","type":"debug","z":"cc4f15dc.942ce8","name":"","active":true,"console":"false","complete":"false","x":520.0360565185547,"y":2985.990234375,"wires":[]},{"id":"6ca8b6a2.eb0358","type":"comment","z":"cc4f15dc.942ce8","name":"incidentsUpdate(messageid)","info":"","x":226.8958282470703,"y":2851.111328125,"wires":[]},{"id":"6d5ee758.f19538","type":"debug","z":"cc4f15dc.942ce8","name":"","active":true,"console":"false","complete":"false","x":414.89581298828125,"y":2822.111328125,"wires":[]},{"id":"17f19b76.20ab45","type":"function","z":"cc4f15dc.942ce8","name":"MessageStorage(Create Questions)","func":"const Settings = context.global.get('aai-common').Settings;\n\nconst msg2 = {};\n\nvar dt = new Date();\n//var datestring = d.getFullYear()  + \"-\" + (\"0\"+(d.getMonth())).slice(-2) + \"-\" + (\"0\" + d.getDate()).slice(-2);\n//datestring += \"T\" + (\"0\" + d.getHours()).slice(-2) + \":\" + (\"0\" + d.getMinutes()).slice(-2) + \":\" + (\"0\" + d.getSeconds()).slice(-2) + \"Z\"; \n\n// make Body\nconst body =  {\n    \"type\": \"questions\",\n    \"text\": flow.get('eventId'),\n    \"from\": {\n      \"id\": flow.get('mail.username'),\n      \"name\": flow.get('mail.useremail')\n    },\n    \"timestamp\": dt,\n    \"address\": {\n      \"type\": flow.get('eventId.type'),\n      \"conversation\" :{\n        \"id\": flow.get('eventId.conversation')\n      }\n    }\n}\n\nmsg2.payload = body;\n\n// Http Request\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_MESSAGESTORAGE_QUESTIONSURL;\n\nreturn msg2;","outputs":1,"noerr":0,"x":293.89581298828125,"y":3091.33349609375,"wires":[["e45626c5.2ccc88","252e21e0.54e89e"]]},{"id":"e45626c5.2ccc88","type":"http request","z":"cc4f15dc.942ce8","name":"[POST]/questions","method":"POST","ret":"txt","url":"","tls":"","x":562.8959350585938,"y":3091.3334884643555,"wires":[[]]},{"id":"252e21e0.54e89e","type":"debug","z":"cc4f15dc.942ce8","name":"","active":true,"console":"false","complete":"false","x":530.0360107421875,"y":3050.3237228393555,"wires":[]},{"id":"e0e77936.ce92e8","type":"link out","z":"cc4f15dc.942ce8","name":"","links":["591c7682.c6bb98"],"x":710.2777557373047,"y":2947.781494140625,"wires":[]},{"id":"ad8aae12.6ac67","type":"function","z":"cc4f15dc.942ce8","name":"sendReply","func":"var msg2 = {};\nmsg2.payload = flow.get('eventId.FaqAutoResponseAnswer');\n\nreturn msg2;\n","outputs":1,"noerr":0,"x":547.8957672119141,"y":2602.111328125,"wires":[["8b5fd17c.8332c"]]},{"id":"8b5fd17c.8332c","type":"link out","z":"cc4f15dc.942ce8","name":"tmplOfFaqAutoResponseAnswer","links":["82fd09e8.d2c648"],"x":660.8957977294922,"y":2601.111328125,"wires":[]},{"id":"777a013a.503d7","type":"link out","z":"cc4f15dc.942ce8","name":"tmplOfFaqAutoResponseAnswer","links":["4de9054d.e2c4fc"],"x":676.8957977294922,"y":2517.111328125,"wires":[]},{"id":"4de9054d.e2c4fc","type":"link in","z":"cc4f15dc.942ce8","name":"sendReply","links":["777a013a.503d7"],"x":383.8957977294922,"y":2602.9998779296875,"wires":[["ad8aae12.6ac67"]]},{"id":"185fe280.80022e","type":"debug","z":"cc4f15dc.942ce8","name":"","active":true,"console":"false","complete":"payload","x":427.89581298828125,"y":393.8888854980469,"wires":[]},{"id":"3afe4134.1397ce","type":"debug","z":"cc4f15dc.942ce8","name":"","active":true,"console":"false","complete":"payload","x":505.89581298828125,"y":759.111083984375,"wires":[]}]