.nodered/lib/flows/V701-40_JotDonwMinutes.json
[{"id":"5dbccf9.8065d3","type":"subflow","name":"SendChatBotEvent","info":"","in":[{"x":93,"y":137,"wires":[{"id":"93aabbad.47ff18"}]}],"out":[]},{"id":"93aabbad.47ff18","type":"function","z":"5dbccf9.8065d3","name":"SendChatBotEvent","func":"const Settings = context.global.get('aai-common').Settings;\n\nconst msg2 = {};\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_CHATBOT_URL;\nmsg2.payload = msg.payload;\nreturn msg2;","outputs":1,"noerr":0,"x":289.5079116821289,"y":136.45921325683594,"wires":[["91c4afe3.10023","173eb5ff.96430a"]]},{"id":"91c4afe3.10023","type":"http request","z":"5dbccf9.8065d3","name":"SendChatBotEvent","method":"use","ret":"txt","url":"","tls":"","x":574.5009765625,"y":136.2821502685547,"wires":[[]]},{"id":"36c3e77e.dff148","type":"comment","z":"5dbccf9.8065d3","name":"SendChatBotEvent","info":"","x":135.99215698242188,"y":67.41752624511719,"wires":[]},{"id":"173eb5ff.96430a","type":"debug","z":"5dbccf9.8065d3","name":"","active":true,"console":"false","complete":"false","x":548,"y":57,"wires":[]},{"id":"76f54ca2.cf5434","type":"comment","z":"b1c8ba8.f284f48","name":"MessageStorage_GENERAL","info":"","x":165.61325073242188,"y":395.74224853515625,"wires":[]},{"id":"2c0028b3.c477f8","type":"comment","z":"b1c8ba8.f284f48","name":"MAKE_MINUTES","info":"","x":131.61328125,"y":804.7422790527344,"wires":[]},{"id":"c4f6171e.f4f4b8","type":"function","z":"b1c8ba8.f284f48","name":"MessageStorage","func":"const Settings = context.global.get('aai-common').Settings;\nglobal.set(\"mainEngage31\", msg.payload);\n\nconst msg2 = {};\n\n// make Body\nconst body =  {\n    \"type\": \"message\",\n    \"text\": msg.payload.text,\n    \"from\": {\n      \"id\": msg.payload.user.emailAddresses[0],\n      \"name\": msg.payload.user.name\n    },\n    \"timestamp\": msg.payload.timestamp,\n    \"address\": {\n      \"channelId\": \"\",\n      \"conversation\" :{\n        \"id\": msg.payload.conversation\n      }\n    }\n}\nmsg2.payload = body;\n\n// Http Request\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_MESSAGESTORAGE_ACTIONSURL;\n\nreturn msg2;","outputs":1,"noerr":0,"x":433.6133728027344,"y":729.4088134765625,"wires":[["75cd2d4f.9d9ce4"]]},{"id":"75cd2d4f.9d9ce4","type":"http request","z":"b1c8ba8.f284f48","name":"[POST] /actions","method":"use","ret":"txt","url":"","tls":"","x":754.6132507324219,"y":728.4088745117188,"wires":[["dbe5cfbd.4b32d"]]},{"id":"33de67c8.a39518","type":"function","z":"b1c8ba8.f284f48","name":"MessageToDocx","func":"const Settings = context.global.get('aai-common').Settings;\nglobal.set(\"mainEngage32\", msg.payload);\n\nconst msg2 = {};\n\n// make Body\nconst body =  {\n  \"conversation\" :{\n    \"id\": msg.payload.conversation\n  }\n}\nmsg2.payload = body;\n\n// Http Request\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_MESSAGETODOCX_MESSAGESURL;\n\nreturn msg2;\n","outputs":1,"noerr":0,"x":420.61328125,"y":941.0755615234375,"wires":[["9622161f.8bfec8"]]},{"id":"bc16a063.9af37","type":"function","z":"b1c8ba8.f284f48","name":"Send Messages","func":"const event = global.get('mainEngage32');\n\nconst text = JSON.parse(msg.payload);\n\nconst msg2 = {};\nmsg2.payload = {\n    operation: \"SendTextMessage\",\n    eventId: event.eventId,\n    text : text.jotdown\n};\n\nreturn msg2;","outputs":1,"noerr":0,"x":1094.2802124023438,"y":938.742431640625,"wires":[["22238e2.5972172"]]},{"id":"b3cdc2b4.efccf","type":"function","z":"b1c8ba8.f284f48","name":"MessageStorage","func":"const Settings = context.global.get('aai-common').Settings;\nglobal.set(\"mainEngage30\", msg.payload);\n\nconst msg2 = {};\n\n// make Body\nconst body =  {\n    \"type\": \"message\",\n    \"text\": msg.payload.text,\n    \"from\": {\n      \"id\": msg.payload.user.emailAddresses[0],\n      \"name\": msg.payload.user.name\n    },\n    \"timestamp\": msg.payload.timestamp,\n    \"address\": {\n      \"channelId\": \"\",\n      \"conversation\" :{\n        \"id\": msg.payload.conversation\n      }\n    }\n}\nmsg2.payload = body;\n\n// Http Request\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_MESSAGESTORAGE_MESSAGESURL;\n\nreturn msg2;","outputs":1,"noerr":0,"x":438.94659423828125,"y":536.7421875,"wires":[["b4b3aea0.77195"]]},{"id":"b4b3aea0.77195","type":"http request","z":"b1c8ba8.f284f48","name":"[POST] /messages","method":"use","ret":"txt","url":"","tls":"","x":744.9467163085938,"y":537.7421798706055,"wires":[["c2f89a0a.bed4a8"]]},{"id":"c2f89a0a.bed4a8","type":"function","z":"b1c8ba8.f284f48","name":"Send Messages","func":"const event = global.get('mainEngage30');\n\nconst msg2 = {};\nmsg2.payload = {\n    operation: \"SendTextMessage\",\n    eventId: event.eventId,\n    text: '('+event.text+')'\n}\n\nreturn msg2;","outputs":1,"noerr":0,"x":1023.1134643554688,"y":538.0755004882812,"wires":[["89b5cee8.96e54"]]},{"id":"dbe5cfbd.4b32d","type":"function","z":"b1c8ba8.f284f48","name":"Send Messages","func":"const event = global.get('mainEngage31');\n\nconst msg2 = {};\nmsg2.payload = {\n    operation: \"SendTextMessage\",\n    eventId: event.eventId,\n    text: '('+event.text+')'\n}\n\nreturn msg2;","outputs":1,"noerr":0,"x":1036.842529296875,"y":729.631103515625,"wires":[["d5733e8f.a9ed4"]]},{"id":"20ca07fc.c354d8","type":"comment","z":"b1c8ba8.f284f48","name":"RECORD_ACTION_ITEM","info":"","x":145.84246826171875,"y":597.6311340332031,"wires":[]},{"id":"e2cda3e3.e8022","type":"http in","z":"b1c8ba8.f284f48","name":"","url":"/mainEngage30","method":"post","swaggerDoc":"","x":149.75,"y":459.21875,"wires":[["b3cdc2b4.efccf","ebb4d88.ac39328"]]},{"id":"ebb4d88.ac39328","type":"http response","z":"b1c8ba8.f284f48","name":"","x":439.7578125,"y":459.453125,"wires":[]},{"id":"64f2ae09.a46f1","type":"http in","z":"b1c8ba8.f284f48","name":"","url":"/mainEngage31","method":"post","swaggerDoc":"","x":146.75,"y":657.234375,"wires":[["c4f6171e.f4f4b8","f85747f8.b831d8"]]},{"id":"f85747f8.b831d8","type":"http response","z":"b1c8ba8.f284f48","name":"","x":433.7578125,"y":658.4609375,"wires":[]},{"id":"d43384f1.2b33d8","type":"http in","z":"b1c8ba8.f284f48","name":"","url":"/mainEngage32","method":"post","swaggerDoc":"","x":133.75,"y":871.234375,"wires":[["33de67c8.a39518","51878322.d65ccc"]]},{"id":"51878322.d65ccc","type":"http response","z":"b1c8ba8.f284f48","name":"","x":586.75,"y":872.4609375,"wires":[]},{"id":"89b5cee8.96e54","type":"subflow:5dbccf9.8065d3","z":"b1c8ba8.f284f48","name":"","x":1379.7578125,"y":537.9375,"wires":[]},{"id":"d5733e8f.a9ed4","type":"subflow:5dbccf9.8065d3","z":"b1c8ba8.f284f48","x":1377.75,"y":727.9296875,"wires":[]},{"id":"22238e2.5972172","type":"subflow:5dbccf9.8065d3","z":"b1c8ba8.f284f48","x":1391.75,"y":940.9296875,"wires":[]},{"id":"9622161f.8bfec8","type":"http request","z":"b1c8ba8.f284f48","name":"[POST] /conversion/MessageToDocx","method":"use","ret":"txt","url":"","tls":"","x":774,"y":939,"wires":[["bc16a063.9af37"]]}]