.nodered/lib/flows/V701-10_TranslateDialog.json
[{"id":"5dbccf9.8065d3","type":"subflow","name":"SendChatBotEvent","info":"","in":[{"x":93,"y":137,"wires":[{"id":"93aabbad.47ff18"}]}],"out":[]},{"id":"93aabbad.47ff18","type":"function","z":"5dbccf9.8065d3","name":"SendChatBotEvent","func":"const Settings = context.global.get('aai-common').Settings;\n\nconst msg2 = {};\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_CHATBOT_URL;\nmsg2.payload = msg.payload;\nreturn msg2;","outputs":1,"noerr":0,"x":289.5079116821289,"y":136.45921325683594,"wires":[["91c4afe3.10023","173eb5ff.96430a"]]},{"id":"91c4afe3.10023","type":"http request","z":"5dbccf9.8065d3","name":"SendChatBotEvent","method":"use","ret":"txt","url":"","tls":"","x":574.5009765625,"y":136.2821502685547,"wires":[[]]},{"id":"36c3e77e.dff148","type":"comment","z":"5dbccf9.8065d3","name":"SendChatBotEvent","info":"","x":135.99215698242188,"y":67.41752624511719,"wires":[]},{"id":"173eb5ff.96430a","type":"debug","z":"5dbccf9.8065d3","name":"","active":true,"console":"false","complete":"false","x":548,"y":57,"wires":[]},{"id":"251715b8.7306ca","type":"http request","z":"b1c8ba8.f284f48","name":"[POST] /translate","method":"use","ret":"txt","url":"","tls":"","x":655.9466247558594,"y":277.7422332763672,"wires":[["3fe35804.059ac8"]]},{"id":"3fe35804.059ac8","type":"function","z":"b1c8ba8.f284f48","name":"response","func":"const event = global.get('mainEngage20');\n\nconst msg2 = {};\nmsg2.payload = {\n    operation: \"SendTextMessage\",\n    eventId: event.eventId,\n    text: '('+msg.payload+')'\n}\n\nreturn msg2;","outputs":1,"noerr":0,"x":919.9619140625,"y":277.4923095703125,"wires":[["8b361ea.53e8ee"]]},{"id":"e931b652.348038","type":"comment","z":"b1c8ba8.f284f48","name":"Translate","info":"","x":91.94625854492188,"y":153.46954345703125,"wires":[]},{"id":"2aa69db1.8e3052","type":"function","z":"b1c8ba8.f284f48","name":"Transalte","func":"const Settings = context.global.get('aai-common').Settings;\nglobal.set(\"mainEngage20\", msg.payload);\n\nconst msg2 = {};\n\n// make Body\nconst body = {\n  \"query\": msg.payload.text,\n  \"src_lang\": msg.payload.user.translate.src_lang,\n  \"tgt_lang\": msg.payload.user.translate.tgt_lang,\n  \"arrange\": msg.payload.user.translate.arrange\n};\nmsg2.payload = body;\n\n// Http Request\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_TRANSLATE_TRANSLATEURL;\n\nreturn msg2;\n\n","outputs":1,"noerr":0,"x":405.9465026855469,"y":277.74224853515625,"wires":[["251715b8.7306ca"]]},{"id":"8b361ea.53e8ee","type":"subflow:5dbccf9.8065d3","z":"b1c8ba8.f284f48","name":"","x":1174.36328125,"y":277.6875,"wires":[]},{"id":"b3f54de.3684cb","type":"http in","z":"b1c8ba8.f284f48","name":"","url":"/mainEngage20","method":"post","swaggerDoc":"","x":157.7421875,"y":201.234375,"wires":[["2aa69db1.8e3052","27de9781.e30ee8"]]},{"id":"27de9781.e30ee8","type":"http response","z":"b1c8ba8.f284f48","name":"","x":434.7578125,"y":202.46875,"wires":[]}]