.nodered/flows-room-manager - コピー (2).json
[{"id":"b9f3a44d.79b2f8","type":"tab","label":"flows-room-manager"},{"id":"caca5e6d.cdf9d","type":"subflow","name":"SendChatBotComplete (10)","info":"","in":[{"x":97,"y":130,"wires":[{"id":"7586383d.cbc868"}]}],"out":[]},{"id":"89e2f371.51a3a","type":"subflow","name":"SendChatBotEvent","info":"","in":[{"x":93,"y":137,"wires":[{"id":"8344d5c4.235248"}]}],"out":[{"x":775,"y":135,"wires":[{"id":"b1442c99.3a77","port":0}]}]},{"id":"7586383d.cbc868","type":"function","z":"caca5e6d.cdf9d","name":"SendChatBotComplete","func":"const Settings = context.global.get('aai-common').Settings;\n\nconst msg2 = {};\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_CHATBOT_COMPLETEURL;\nmsg2.payload = msg.payload;\nreturn msg2;","outputs":1,"noerr":0,"x":291.51575469970703,"y":128.75,"wires":[["20e8f856.d4fd98"]]},{"id":"20e8f856.d4fd98","type":"http request","z":"caca5e6d.cdf9d","name":"SendChatBotEvent","method":"use","ret":"txt","url":"","tls":"","x":566.5088195800781,"y":128.57293701171875,"wires":[[]]},{"id":"81b57bde.e954f8","type":"comment","z":"caca5e6d.cdf9d","name":"SendChatBotComplete","info":"","x":138,"y":59.70831298828125,"wires":[]},{"id":"8344d5c4.235248","type":"function","z":"89e2f371.51a3a","name":"SendChatBotEvent","func":"const Settings = context.global.get('aai-common').Settings;\n\nconst msg2 = {};\nmsg2.method = \"POST\";\nmsg2.url = Settings.WEB_CHATBOT_NOTIFYURL;\nmsg2.payload = msg.payload;\nreturn msg2;","outputs":1,"noerr":0,"x":289.5079116821289,"y":136.45921325683594,"wires":[["b1442c99.3a77"]]},{"id":"b1442c99.3a77","type":"http request","z":"89e2f371.51a3a","name":"SendChatBotEvent","method":"use","ret":"txt","url":"","tls":"","x":574.5009765625,"y":136.2821502685547,"wires":[[]]},{"id":"289df3cb.205dec","type":"comment","z":"89e2f371.51a3a","name":"SendChatBotEvent","info":"","x":135.99215698242188,"y":67.41752624511719,"wires":[]},{"id":"a48a2c14.b2963","type":"subflow:89e2f371.51a3a","z":"b9f3a44d.79b2f8","name":"","x":789,"y":521.765625,"wires":[["6d4c8bdf.1ba034"]]},{"id":"5e2f17b2.607838","type":"http in","z":"b9f3a44d.79b2f8","name":"","url":"/checkRoomReal","method":"post","swaggerDoc":"","x":163,"y":60.765625,"wires":[["ad534c1d.5a01f","787692f1.26326c"]]},{"id":"ad534c1d.5a01f","type":"http response","z":"b9f3a44d.79b2f8","name":"","x":399.015625,"y":60,"wires":[]},{"id":"787692f1.26326c","type":"function","z":"b9f3a44d.79b2f8","name":"checkroomreal","func":"const commandMap = context.global.config.commandMap\n\nvar room = commandMap[msg.payload.text]\n\nconst msg2 = {};\n\n// make Body\n\n// Http Request\nmsg2.method = \"GET\";\nmsg2.url = \"http://localhost:8080/roomCanceledConfirm/availability/\" + room;\nmsg2.originPayload = msg.payload;\n\nreturn msg2;\n\n","outputs":1,"noerr":0,"x":426,"y":141.765625,"wires":[["8ba4c245.80d39","58f7ecd8.3f0e74"]]},{"id":"58f7ecd8.3f0e74","type":"http request","z":"b9f3a44d.79b2f8","name":"[GET] /availibility","method":"use","ret":"txt","url":"","tls":"","x":628,"y":141.765625,"wires":[["3dcec9bc.56fcb6","f0babd23.8a02a"]]},{"id":"3dcec9bc.56fcb6","type":"function","z":"b9f3a44d.79b2f8","name":"response","func":"// const event = global.get('mainEngage20');\nconst event = msg.originPayload;\n\nlet text;\nif(1 < event.imData.numPeople){\n    text = `(${event.user.displayName}:${msg.payload})`;\n}\nelse{\n    // text = '('+msg.payload+')'\n    text = `(${msg.payload})`;\n}\n\nlet resBody;\n\nif(event.type === 'im') {\n    resBody = {\n      \"operation\": event.type,\n      'im':{\n          'data': 'text/plain',\n          'text': text\n      }\n    }\n}else if(event.type === 'mail') {\n    resBody = {\n      \"operation\": event.type,\n      'mail':{\n          'to': event.user.mailAddress,\n          'subject': '会議室状況',\n          'text': text\n      }\n    }\n}\n\nconst msg2 = {};\nmsg2.payload = {\n    eventId: event.eventId,\n    response:resBody\n};\nmsg2.originPayload = event;\n\nreturn msg2;","outputs":1,"noerr":0,"x":807,"y":140.765625,"wires":[["3b41b6c8.82adea"]]},{"id":"f18e4de6.e0425","type":"subflow:89e2f371.51a3a","z":"b9f3a44d.79b2f8","name":"","x":983,"y":140.765625,"wires":[["87a677a8.806cb8"]]},{"id":"87a677a8.806cb8","type":"function","z":"b9f3a44d.79b2f8","name":"","func":"const event = global.get('mainEngage20');\n\nconst msg2 = {};\nmsg2.payload = {\n    eventId: event.eventId,\n}\n\nreturn msg2;","outputs":1,"noerr":0,"x":1142.532470703125,"y":139.96701049804688,"wires":[["be6dffa9.50759"]]},{"id":"be6dffa9.50759","type":"subflow:caca5e6d.cdf9d","z":"b9f3a44d.79b2f8","name":"","x":1337.854248046875,"y":138.9314727783203,"wires":[]},{"id":"28980d19.89e542","type":"http in","z":"b9f3a44d.79b2f8","name":"","url":"/checkRoomWait","method":"post","swaggerDoc":"","x":160,"y":256.765625,"wires":[["d077aabc.030a18","7f7a8143.a13a1"]]},{"id":"d077aabc.030a18","type":"http response","z":"b9f3a44d.79b2f8","name":"","x":396.015625,"y":256,"wires":[]},{"id":"7f7a8143.a13a1","type":"function","z":"b9f3a44d.79b2f8","name":"checkroomwait","func":"const commandMap = context.global.config.commandMap\n\nvar room = commandMap[msg.payload.text]\n\nconst msg2 = {};\n\n// make Body\n\n// Http Request\nmsg2.method = \"POST\";\nmsg2.url = \"http://localhost:8080/roomCanceledConfirm/availability/\" + room;\nmsg2.originPayload = msg.payload;\nmsg2.payload = {\n        \"UserInfo\":{\n            \"Name\":msg.payload.user.name,\n            \"Address\":msg.payload.user.mailAddress\n        },\n        \"Type\":msg.payload.type,\n        \"EventMessage\":JSON.stringify(msg.payload)\n}\n\nreturn msg2;\n\n","outputs":1,"noerr":0,"x":423,"y":337.765625,"wires":[["c54475ef.8e3da8","90a20432.a2b688"]]},{"id":"c54475ef.8e3da8","type":"http request","z":"b9f3a44d.79b2f8","name":"[POST] /availibility","method":"use","ret":"txt","url":"","tls":"","x":625,"y":337.765625,"wires":[["cc0bcf0a.9a0bb","6f3b39a5.33d0c8"]]},{"id":"cc0bcf0a.9a0bb","type":"function","z":"b9f3a44d.79b2f8","name":"response","func":"// const event = global.get('mainEngage20');\nconst event = msg.originPayload;\nevent.imData.numPeople = 1\nlet text;\nif(1 < event.imData.numPeople){\n    text = `(${event.user.displayName}:${msg.payload})`;\n}\nelse{\n    // text = '('+msg.payload+')'\n    text = `(${msg.payload})`;\n}\n\nlet resBody;\n\nif(event.type === 'im') {\n    resBody = {\n      \"operation\": event.type,\n      'im':{\n          'data': 'text/plain',\n          'text': text\n      }\n    }\n}else if(event.type === 'mail') {\n    resBody = {\n      \"operation\": event.type,\n      'mail':{\n          'to': event.user.mailAddress,\n          'subject': '会議室状況',\n          'text': text\n      }\n    }\n}\n\nconst msg2 = {};\nmsg2.payload = {\n    eventId: event.eventId,\n    response:resBody\n};\nmsg2.originPayload = event;\n\nreturn msg2;","outputs":1,"noerr":0,"x":804,"y":336.765625,"wires":[["a60fff58.04691"]]},{"id":"144443da.4a1e4c","type":"subflow:89e2f371.51a3a","z":"b9f3a44d.79b2f8","name":"","x":983,"y":335.765625,"wires":[["4083d7d5.a47158"]]},{"id":"4083d7d5.a47158","type":"function","z":"b9f3a44d.79b2f8","name":"","func":"const event = global.get('mainEngage20');\n\nconst msg2 = {};\nmsg2.payload = {\n    eventId: event.eventId,\n}\n\nreturn msg2;","outputs":1,"noerr":0,"x":1139.532470703125,"y":335.9670104980469,"wires":[["e0d3eda0.ea69e"]]},{"id":"e0d3eda0.ea69e","type":"subflow:caca5e6d.cdf9d","z":"b9f3a44d.79b2f8","name":"","x":1334.854248046875,"y":334.9314727783203,"wires":[]},{"id":"ed3c47f0.aac058","type":"http in","z":"b9f3a44d.79b2f8","name":"","url":"/sendRoomAvailiable","method":"post","swaggerDoc":"","x":183,"y":442.765625,"wires":[["9d665522.f806e8","e4cab3bb.0a051"]]},{"id":"9d665522.f806e8","type":"http response","z":"b9f3a44d.79b2f8","name":"","x":428.015625,"y":442,"wires":[]},{"id":"13b67cba.df8c33","type":"function","z":"b9f3a44d.79b2f8","name":"response","func":"const event = msg.payload;\nconst newMsg = msg.newMsg\n\nlet resBody;\n\nif (event.type === 'im') {\n    resBody = {\n      \"operation\": event.type,\n      'im':{\n          'data': \"text/plain\",\n          'text': newMsg.text\n      }\n    }\n} else if (event.type === 'mail'){\n    resBody = {\n      \"operation\": event.type,\n      'mail':{\n          'to': newMsg.to,\n          'subject': newMsg.subject,\n          'text': newMsg.text\n      }\n    }\n}\n\nconst msg2 = {};\nmsg2.payload = {\n    eventId: event.eventId,\n    response:resBody\n};\nmsg2.originPayload = event;\n\nreturn msg2;","outputs":1,"noerr":0,"x":613,"y":523.765625,"wires":[["276ae57a.ad827a"]]},{"id":"6d4c8bdf.1ba034","type":"function","z":"b9f3a44d.79b2f8","name":"","func":"const event = global.get('mainEngage20');\n\nconst msg2 = {};\nmsg2.payload = {\n    eventId: event.eventId,\n}\n\nreturn msg2;","outputs":1,"noerr":0,"x":946.532470703125,"y":521.9670104980469,"wires":[["3cbf917.fe63b6e"]]},{"id":"3cbf917.fe63b6e","type":"subflow:caca5e6d.cdf9d","z":"b9f3a44d.79b2f8","name":"","x":1141.854248046875,"y":520.9314727783203,"wires":[]},{"id":"3b41b6c8.82adea","type":"debug","z":"b9f3a44d.79b2f8","name":"","active":true,"console":"false","complete":"true","x":898,"y":204.765625,"wires":[]},{"id":"a60fff58.04691","type":"debug","z":"b9f3a44d.79b2f8","name":"","active":true,"console":"false","complete":"true","x":907,"y":415.765625,"wires":[]},{"id":"276ae57a.ad827a","type":"debug","z":"b9f3a44d.79b2f8","name":"","active":true,"console":"false","complete":"true","x":674,"y":597.765625,"wires":[]},{"id":"8ba4c245.80d39","type":"debug","z":"b9f3a44d.79b2f8","name":"","active":true,"console":"false","complete":"true","x":557,"y":205.765625,"wires":[]},{"id":"90a20432.a2b688","type":"debug","z":"b9f3a44d.79b2f8","name":"","active":true,"console":"false","complete":"true","x":563,"y":406.765625,"wires":[]},{"id":"6b0c76b0.497428","type":"debug","z":"b9f3a44d.79b2f8","name":"","active":true,"console":"false","complete":"true","x":483,"y":595.765625,"wires":[]},{"id":"f0babd23.8a02a","type":"debug","z":"b9f3a44d.79b2f8","name":"","active":true,"console":"false","complete":"true","x":754,"y":207.765625,"wires":[]},{"id":"6f3b39a5.33d0c8","type":"debug","z":"b9f3a44d.79b2f8","name":"","active":true,"console":"false","complete":"true","x":739,"y":409.765625,"wires":[]},{"id":"e4cab3bb.0a051","type":"function","z":"b9f3a44d.79b2f8","name":"getOriginMessage","func":"const msg2 = msg.payload;\nmsg.payload = msg.payload.originMsg;\nmsg.newMsg=msg2;\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":525,"wires":[["ea8b2894.ad4278","17c0436.4b5debd"]]},{"id":"17c0436.4b5debd","type":"json","z":"b9f3a44d.79b2f8","name":"","x":471,"y":524,"wires":[["6b0c76b0.497428","13b67cba.df8c33"]]},{"id":"ea8b2894.ad4278","type":"debug","z":"b9f3a44d.79b2f8","name":"","active":true,"console":"false","complete":"true","x":320,"y":595,"wires":[]}]